{
  "schema_source": "smithy",
  "mode": "data_source",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://aws.example.invalid",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "aws",
  "data_source_namespace": "kinesis-analytics-v2",
  "raw_spec": {
    "smithy": "2.0",
    "metadata": {
      "suppressions": [
        {
          "id": "HttpMethodSemantics",
          "namespace": "*"
        },
        {
          "id": "HttpResponseCodeSemantics",
          "namespace": "*"
        },
        {
          "id": "PaginatedTrait",
          "namespace": "*"
        },
        {
          "id": "HttpHeaderTrait",
          "namespace": "*"
        },
        {
          "id": "HttpUriConflict",
          "namespace": "*"
        },
        {
          "id": "Service",
          "namespace": "*"
        }
      ]
    },
    "shapes": {
      "com.amazonaws.kinesisanalyticsv2#AddApplicationCloudWatchLoggingOption": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationCloudWatchLoggingOptionRequest"
        },
        "output": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationCloudWatchLoggingOptionResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidApplicationConfigurationException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAdds an Amazon CloudWatch log stream to monitor application configuration errors.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationCloudWatchLoggingOptionRequest": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Kinesis Data Analytics application name.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "CloudWatchLoggingOption": {
            "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOption",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eProvides the Amazon CloudWatch log stream Amazon Resource Name (ARN). \u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ConditionalToken": {
            "target": "com.amazonaws.kinesisanalyticsv2#ConditionalToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA value you use to implement strong concurrency for application updates. You must\n      provide the \u003ccode\u003eCurrentApplicationVersionId\u003c/code\u003e or the \u003ccode\u003eConditionalToken\u003c/code\u003e. You\n      get the application's current \u003ccode\u003eConditionalToken\u003c/code\u003e using \u003ca\u003eDescribeApplication\u003c/a\u003e. For better concurrency support, use the\n        \u003ccode\u003eConditionalToken\u003c/code\u003e parameter instead of\n      \u003ccode\u003eCurrentApplicationVersionId\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "CurrentApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe version ID of the SQL-based Kinesis Data Analytics application. You must provide the\n        \u003ccode\u003eCurrentApplicationVersionId\u003c/code\u003e or the \u003ccode\u003eConditionalToken\u003c/code\u003e.You can\n      retrieve the application version ID using \u003ca\u003eDescribeApplication\u003c/a\u003e. For better\n      concurrency support, use the \u003ccode\u003eConditionalToken\u003c/code\u003e parameter instead of\n        \u003ccode\u003eCurrentApplicationVersionId\u003c/code\u003e.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationCloudWatchLoggingOptionResponse": {
        "type": "structure",
        "members": {
          "ApplicationARN": {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe application's ARN.\u003c/p\u003e"
            }
          },
          "ApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe new version ID of the SQL-based Kinesis Data Analytics application. Kinesis Data Analytics\n      updates the \u003ccode\u003eApplicationVersionId\u003c/code\u003e each time you change the CloudWatch logging\n      options. \u003c/p\u003e"
            }
          },
          "CloudWatchLoggingOptionDescriptions": {
            "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionDescriptions",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe descriptions of the current CloudWatch logging options for the SQL-based Kinesis Data Analytics application.\u003c/p\u003e"
            }
          },
          "OperationId": {
            "target": "com.amazonaws.kinesisanalyticsv2#OperationId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe operation ID that can be used to track the request.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationInput": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationInputRequest"
        },
        "output": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationInputResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.kinesisanalyticsv2#CodeValidationException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003e\n      Adds a streaming source to your SQL-based Kinesis Data Analytics application. \n    \u003c/p\u003e\n         \u003cp\u003eYou can add a streaming source when you create an application, or you can use this\n      operation to add a streaming source after you create an application. For more information, see\n        \u003ca\u003eCreateApplication\u003c/a\u003e.\u003c/p\u003e\n         \u003cp\u003eAny configuration update, including adding a streaming source using this operation,  \n      results in a new version of the application. You can use the \u003ca\u003eDescribeApplication\u003c/a\u003e operation  \n      to find the current application version.\n    \u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationInputProcessingConfiguration": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationInputProcessingConfigurationRequest"
        },
        "output": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationInputProcessingConfigurationResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAdds an \u003ca\u003eInputProcessingConfiguration\u003c/a\u003e to a SQL-based Kinesis Data Analytics application. An input processor pre-processes records \n      on the input stream before the\n      application's SQL code executes. Currently, the only input processor available is \u003ca href=\"https://docs.aws.amazon.com/lambda/\"\u003eAmazon Lambda\u003c/a\u003e.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationInputProcessingConfigurationRequest": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the application to which you want to add the input processing\n      configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "CurrentApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe version of the application to which you want to add the input processing\n      configuration. You can use the \u003ca\u003eDescribeApplication\u003c/a\u003e operation to get the\n      current application version. If the version specified is not the current version, the\n        \u003ccode\u003eConcurrentModificationException\u003c/code\u003e is returned.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "InputId": {
            "target": "com.amazonaws.kinesisanalyticsv2#Id",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ID of the input configuration to add the input processing configuration to. You\n      can get a list of the input IDs for an application using the \u003ca\u003eDescribeApplication\u003c/a\u003e operation.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "InputProcessingConfiguration": {
            "target": "com.amazonaws.kinesisanalyticsv2#InputProcessingConfiguration",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe \u003ca\u003eInputProcessingConfiguration\u003c/a\u003e to add to the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationInputProcessingConfigurationResponse": {
        "type": "structure",
        "members": {
          "ApplicationARN": {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the application.\u003c/p\u003e"
            }
          },
          "ApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eProvides the current application version. \u003c/p\u003e"
            }
          },
          "InputId": {
            "target": "com.amazonaws.kinesisanalyticsv2#Id",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe input ID that is associated with the application input. This is the ID that Kinesis Data Analytics assigns\n      to each input configuration that you add to your\n      application.\u003c/p\u003e"
            }
          },
          "InputProcessingConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#InputProcessingConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe description of the preprocessor that executes on records in this input before the application's code is run.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationInputRequest": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of your existing application to which you want to add the streaming\n      source.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "CurrentApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe current version of your application. \n        You must provide the \u003ccode\u003eApplicationVersionID\u003c/code\u003e or the \u003ccode\u003eConditionalToken\u003c/code\u003e.You can use the \u003ca\u003eDescribeApplication\u003c/a\u003e operation to find the current application version.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Input": {
            "target": "com.amazonaws.kinesisanalyticsv2#Input",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe \u003ca\u003eInput\u003c/a\u003e to add.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationInputResponse": {
        "type": "structure",
        "members": {
          "ApplicationARN": {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the application.\u003c/p\u003e"
            }
          },
          "ApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eProvides the current application version.\u003c/p\u003e"
            }
          },
          "InputDescriptions": {
            "target": "com.amazonaws.kinesisanalyticsv2#InputDescriptions",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes the application input configuration. \n       \n      \n    \u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationOutput": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationOutputRequest"
        },
        "output": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationOutputResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAdds an external destination to your SQL-based Kinesis Data Analytics application.\u003c/p\u003e\n         \u003cp\u003eIf you want Kinesis Data Analytics to deliver data from an in-application stream within\n      your application to an external destination (such as an Kinesis data stream, a Kinesis Data\n      Firehose delivery stream, or an Amazon Lambda function), you add the relevant configuration to\n      your application using this operation. You can configure one or more outputs for your\n      application. Each output configuration maps an in-application stream and an external\n      destination.\u003c/p\u003e\n         \u003cp\u003e You can use one of the output configurations to deliver data from your\n      in-application error stream to an external destination so that you can analyze the\n      errors.  \u003c/p\u003e\n         \u003cp\u003e Any configuration update, including adding a streaming source using this\n      operation, results in a new version of the application. You can use the \u003ca\u003eDescribeApplication\u003c/a\u003e operation to find the current application\n      version.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationOutputRequest": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the application to which you want to add the output configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "CurrentApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe version of the application to which you want to add the output configuration. You can\n      use the \u003ca\u003eDescribeApplication\u003c/a\u003e operation to get the current application\n      version. If the version specified is not the current version, the\n        \u003ccode\u003eConcurrentModificationException\u003c/code\u003e is returned. \u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Output": {
            "target": "com.amazonaws.kinesisanalyticsv2#Output",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of objects, each describing one output configuration. In the output\n      configuration, you specify the name of an in-application stream, a destination (that is, a\n      Kinesis data stream, a Kinesis Data Firehose delivery stream, or an Amazon Lambda function), and\n      record the formation to use when writing to the destination.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationOutputResponse": {
        "type": "structure",
        "members": {
          "ApplicationARN": {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe application Amazon Resource Name (ARN).\u003c/p\u003e"
            }
          },
          "ApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe updated application version ID. Kinesis Data Analytics increments this ID when the application is\n      updated.\u003c/p\u003e"
            }
          },
          "OutputDescriptions": {
            "target": "com.amazonaws.kinesisanalyticsv2#OutputDescriptions",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes the application output configuration.\n      For more information, \n      see \u003ca href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\"\u003eConfiguring Application Output\u003c/a\u003e. \n      \n    \u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationReferenceDataSource": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationReferenceDataSourceRequest"
        },
        "output": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationReferenceDataSourceResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAdds a reference data source to an existing SQL-based Kinesis Data Analytics application.\u003c/p\u003e\n         \u003cp\u003eKinesis Data Analytics reads reference data (that is, an Amazon S3 object) and creates an\n      in-application table within your application. In the request, you provide the source (S3\n      bucket name and object key name), name of the in-application table to create, and the\n      necessary mapping information that describes how data in an Amazon S3 object maps to columns\n      in the resulting in-application table.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationReferenceDataSourceRequest": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of an existing application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "CurrentApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe version of the application for which you are adding the reference data source. \n        You can\n      use the \u003ca\u003eDescribeApplication\u003c/a\u003e operation to get the current application\n      version. If the version specified is not the current version, the\n        \u003ccode\u003eConcurrentModificationException\u003c/code\u003e is returned.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ReferenceDataSource": {
            "target": "com.amazonaws.kinesisanalyticsv2#ReferenceDataSource",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe reference data source can be an object in your Amazon S3 bucket. Kinesis Data Analytics reads the object and copies the data\n      into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting \n      in-application table that is \n      created. \u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationReferenceDataSourceResponse": {
        "type": "structure",
        "members": {
          "ApplicationARN": {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe application Amazon Resource Name (ARN).\u003c/p\u003e"
            }
          },
          "ApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe updated application version ID. Kinesis Data Analytics increments this ID when\n      the application is updated.\u003c/p\u003e"
            }
          },
          "ReferenceDataSourceDescriptions": {
            "target": "com.amazonaws.kinesisanalyticsv2#ReferenceDataSourceDescriptions",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes reference data sources configured for the application. \n      \n      \n      \n    \u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationVpcConfiguration": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationVpcConfigurationRequest"
        },
        "output": {
          "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationVpcConfigurationResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidApplicationConfigurationException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
          },
          {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAdds a Virtual Private Cloud (VPC) configuration to the application. Applications can use VPCs to store \n        and access resources securely.\u003c/p\u003e\n         \u003cp\u003eNote the following about VPC configurations for Managed Service for Apache Flink applications:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003eVPC configurations are not supported for SQL applications.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003eWhen a VPC is added to a Managed Service for Apache Flink application, the application can no longer be accessed from the \n           Internet directly. To enable Internet access to the application, add an Internet gateway to your VPC.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationVpcConfigurationRequest": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of an existing application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ConditionalToken": {
            "target": "com.amazonaws.kinesisanalyticsv2#ConditionalToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA value you use to implement strong concurrency for application updates. You must\n      provide the \u003ccode\u003eApplicationVersionID\u003c/code\u003e or the \u003ccode\u003eConditionalToken\u003c/code\u003e. You get\n      the application's current \u003ccode\u003eConditionalToken\u003c/code\u003e using \u003ca\u003eDescribeApplication\u003c/a\u003e. For better concurrency support, use the\n        \u003ccode\u003eConditionalToken\u003c/code\u003e parameter instead of\n      \u003ccode\u003eCurrentApplicationVersionId\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "CurrentApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe version of the application to which you want to add the VPC configuration. You must\n      provide the \u003ccode\u003eCurrentApplicationVersionId\u003c/code\u003e or the \u003ccode\u003eConditionalToken\u003c/code\u003e. You\n      can use the \u003ca\u003eDescribeApplication\u003c/a\u003e operation to get the current application\n      version. If the version specified is not the current version, the\n        \u003ccode\u003eConcurrentModificationException\u003c/code\u003e is returned. For better concurrency support,\n      use the \u003ccode\u003eConditionalToken\u003c/code\u003e parameter instead of\n        \u003ccode\u003eCurrentApplicationVersionId\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "VpcConfiguration": {
            "target": "com.amazonaws.kinesisanalyticsv2#VpcConfiguration",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescription of the VPC to add to the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AddApplicationVpcConfigurationResponse": {
        "type": "structure",
        "members": {
          "ApplicationARN": {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ARN of the application.\u003c/p\u003e"
            }
          },
          "ApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eProvides the current application version. Managed Service for Apache Flink updates the ApplicationVersionId each\n      time you update the application.\u003c/p\u003e"
            }
          },
          "OperationId": {
            "target": "com.amazonaws.kinesisanalyticsv2#OperationId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe operation ID that can be used to track the request.\u003c/p\u003e"
            }
          },
          "VpcConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#VpcConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe parameters of the new VPC configuration.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfiguration": {
        "type": "structure",
        "members": {
          "CodeContent": {
            "target": "com.amazonaws.kinesisanalyticsv2#CodeContent",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe location and type of the application code.\u003c/p\u003e"
            }
          },
          "CodeContentType": {
            "target": "com.amazonaws.kinesisanalyticsv2#CodeContentType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether the code content is in text or zip format.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes code configuration for an application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfigurationDescription": {
        "type": "structure",
        "members": {
          "CodeContentDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#CodeContentDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes details about the location and format of the application code.\u003c/p\u003e"
            }
          },
          "CodeContentType": {
            "target": "com.amazonaws.kinesisanalyticsv2#CodeContentType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether the code content is in text or zip format.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes code configuration for an application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfigurationUpdate": {
        "type": "structure",
        "members": {
          "CodeContentTypeUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#CodeContentType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes updates to the code content type.\u003c/p\u003e"
            }
          },
          "CodeContentUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#CodeContentUpdate",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes updates to the code content of an application.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes code configuration updates for an application. This is supported for a Managed Service for Apache Flink application or a SQL-based Kinesis Data Analytics application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationConfiguration": {
        "type": "structure",
        "members": {
          "ApplicationCodeConfiguration": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfiguration",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe code location and type parameters for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "ApplicationEncryptionConfiguration": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationEncryptionConfiguration",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe configuration to manage encryption at rest.\u003c/p\u003e"
            }
          },
          "ApplicationSnapshotConfiguration": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfiguration",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether snapshots are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "ApplicationSystemRollbackConfiguration": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationSystemRollbackConfiguration",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether system rollbacks are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "EnvironmentProperties": {
            "target": "com.amazonaws.kinesisanalyticsv2#EnvironmentProperties",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes execution properties for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "FlinkApplicationConfiguration": {
            "target": "com.amazonaws.kinesisanalyticsv2#FlinkApplicationConfiguration",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe creation and update parameters for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "SqlApplicationConfiguration": {
            "target": "com.amazonaws.kinesisanalyticsv2#SqlApplicationConfiguration",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe creation and update parameters for a SQL-based Kinesis Data Analytics application.\u003c/p\u003e"
            }
          },
          "VpcConfigurations": {
            "target": "com.amazonaws.kinesisanalyticsv2#VpcConfigurations",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe array of descriptions of VPC configurations available to the application.\u003c/p\u003e"
            }
          },
          "ZeppelinApplicationConfiguration": {
            "target": "com.amazonaws.kinesisanalyticsv2#ZeppelinApplicationConfiguration",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe configuration parameters for a Managed Service for Apache Flink Studio notebook.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eSpecifies the creation parameters for a Managed Service for Apache Flink application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationConfigurationDescription": {
        "type": "structure",
        "members": {
          "ApplicationCodeConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe details about the application code for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "ApplicationEncryptionConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationEncryptionConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes the encryption at rest configuration.\u003c/p\u003e"
            }
          },
          "ApplicationSnapshotConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether snapshots are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "ApplicationSystemRollbackConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationSystemRollbackConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether system rollbacks are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "EnvironmentPropertyDescriptions": {
            "target": "com.amazonaws.kinesisanalyticsv2#EnvironmentPropertyDescriptions",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes execution properties for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "FlinkApplicationConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#FlinkApplicationConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe details about a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "RunConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#RunConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe details about the starting properties for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "SqlApplicationConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#SqlApplicationConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe details about inputs, outputs, and reference data sources for a SQL-based Kinesis Data Analytics application.\u003c/p\u003e"
            }
          },
          "VpcConfigurationDescriptions": {
            "target": "com.amazonaws.kinesisanalyticsv2#VpcConfigurationDescriptions",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe array of descriptions of VPC configurations available to the application.\u003c/p\u003e"
            }
          },
          "ZeppelinApplicationConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#ZeppelinApplicationConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe configuration parameters for a Managed Service for Apache Flink Studio notebook.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes details about the application code and starting parameters for a Managed Service for Apache Flink application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationConfigurationUpdate": {
        "type": "structure",
        "members": {
          "ApplicationCodeConfigurationUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfigurationUpdate",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes updates to an application's code\n      configuration.\u003c/p\u003e"
            }
          },
          "ApplicationEncryptionConfigurationUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationEncryptionConfigurationUpdate",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eRepresents an update for encryption at rest configuration.\u003c/p\u003e"
            }
          },
          "ApplicationSnapshotConfigurationUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfigurationUpdate",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether snapshots are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "ApplicationSystemRollbackConfigurationUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationSystemRollbackConfigurationUpdate",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether system rollbacks are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "EnvironmentPropertyUpdates": {
            "target": "com.amazonaws.kinesisanalyticsv2#EnvironmentPropertyUpdates",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes updates to the environment properties for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "FlinkApplicationConfigurationUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#FlinkApplicationConfigurationUpdate",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes updates to a Managed Service for Apache Flink application's configuration.\u003c/p\u003e"
            }
          },
          "SqlApplicationConfigurationUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#SqlApplicationConfigurationUpdate",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes updates to a SQL-based Kinesis Data Analytics application's\n      configuration.\u003c/p\u003e"
            }
          },
          "VpcConfigurationUpdates": {
            "target": "com.amazonaws.kinesisanalyticsv2#VpcConfigurationUpdates",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUpdates to the array of descriptions of VPC configurations available to the application.\u003c/p\u003e"
            }
          },
          "ZeppelinApplicationConfigurationUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#ZeppelinApplicationConfigurationUpdate",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUpdates to the configuration of a Managed Service for Apache Flink Studio notebook.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes updates to an application's configuration.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationDescription": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 0,
            "max": 1024
          }
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationDetail": {
        "type": "structure",
        "members": {
          "ApplicationARN": {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ARN of the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ApplicationConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes details about the application code and starting parameters for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "ApplicationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe description of the application.\u003c/p\u003e"
            }
          },
          "ApplicationMaintenanceConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationMaintenanceConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe details of the maintenance configuration for the application.\u003c/p\u003e"
            }
          },
          "ApplicationMode": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationMode",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eTo create a Managed Service for Apache Flink Studio notebook, you must set the mode to \u003ccode\u003eINTERACTIVE\u003c/code\u003e. However, for a Managed Service for Apache Flink application, the mode is optional.\u003c/p\u003e"
            }
          },
          "ApplicationName": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ApplicationStatus": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationStatus",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe status of the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ApplicationVersionCreateTimestamp": {
            "target": "com.amazonaws.kinesisanalyticsv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe timestamp that indicates when the application version was created.\u003c/p\u003e"
            }
          },
          "ApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eProvides the current application version. Managed Service for Apache Flink updates the\n        \u003ccode\u003eApplicationVersionId\u003c/code\u003e each time you update the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ApplicationVersionRolledBackFrom": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIf you reverted the application using \u003ca\u003eRollbackApplication\u003c/a\u003e,\n        the application version when \u003ccode\u003eRollbackApplication\u003c/code\u003e was called.\u003c/p\u003e"
            }
          },
          "ApplicationVersionRolledBackTo": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe version to which you want to roll back the application.\u003c/p\u003e"
            }
          },
          "ApplicationVersionUpdatedFrom": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe previous application version before the latest application update. \u003ca\u003eRollbackApplication\u003c/a\u003e\n        reverts the application to this version.\u003c/p\u003e"
            }
          },
          "CloudWatchLoggingOptionDescriptions": {
            "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionDescriptions",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes the application Amazon CloudWatch logging options.\u003c/p\u003e"
            }
          },
          "ConditionalToken": {
            "target": "com.amazonaws.kinesisanalyticsv2#ConditionalToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA value you use to implement strong concurrency for application updates.\u003c/p\u003e"
            }
          },
          "CreateTimestamp": {
            "target": "com.amazonaws.kinesisanalyticsv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe current timestamp when the application was created.\u003c/p\u003e"
            }
          },
          "LastUpdateTimestamp": {
            "target": "com.amazonaws.kinesisanalyticsv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe current timestamp when the application was last updated.\u003c/p\u003e"
            }
          },
          "RuntimeEnvironment": {
            "target": "com.amazonaws.kinesisanalyticsv2#RuntimeEnvironment",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe runtime environment for the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ServiceExecutionRole": {
            "target": "com.amazonaws.kinesisanalyticsv2#RoleARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies the IAM role that the application uses to access external resources.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes the application, including the application Amazon Resource Name (ARN), status,\n      latest version, and input and output configurations.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationEncryptionConfiguration": {
        "type": "structure",
        "members": {
          "KeyId": {
            "target": "com.amazonaws.kinesisanalyticsv2#KeyId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe key ARN, key ID, alias ARN, or alias name of the KMS key used for encryption at rest.\u003c/p\u003e"
            }
          },
          "KeyType": {
            "target": "com.amazonaws.kinesisanalyticsv2#KeyType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies the type of key used for encryption at rest.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eSpecifies the configuration to manage encryption at rest.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationEncryptionConfigurationDescription": {
        "type": "structure",
        "members": {
          "KeyId": {
            "target": "com.amazonaws.kinesisanalyticsv2#KeyId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe key ARN, key ID, alias ARN, or alias name of the KMS key used for encryption at rest.\u003c/p\u003e"
            }
          },
          "KeyType": {
            "target": "com.amazonaws.kinesisanalyticsv2#KeyType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies the type of key used for encryption at rest.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes the encryption at rest configuration.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationEncryptionConfigurationUpdate": {
        "type": "structure",
        "members": {
          "KeyIdUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#KeyId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe key ARN, key ID, alias ARN, or alias name of the KMS key to be used for encryption at rest.\u003c/p\u003e"
            }
          },
          "KeyTypeUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#KeyType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies the type of key to be used for encryption at rest.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes configuration updates to encryption at rest.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationMaintenanceConfigurationDescription": {
        "type": "structure",
        "members": {
          "ApplicationMaintenanceWindowEndTime": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationMaintenanceWindowEndTime",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe end time for the maintenance window.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ApplicationMaintenanceWindowStartTime": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationMaintenanceWindowStartTime",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe start time for the maintenance window.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe details of the maintenance configuration for the application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationMaintenanceConfigurationUpdate": {
        "type": "structure",
        "members": {
          "ApplicationMaintenanceWindowStartTimeUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationMaintenanceWindowStartTime",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe updated start time for the maintenance window.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes the updated maintenance configuration for the application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationMaintenanceWindowEndTime": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 5,
            "max": 5
          },
          "smithy.api#pattern": "^([01][0-9]|2[0-3]):[0-5][0-9]$"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationMaintenanceWindowStartTime": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 5,
            "max": 5
          },
          "smithy.api#pattern": "^([01][0-9]|2[0-3]):[0-5][0-9]$"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationMode": {
        "type": "enum",
        "members": {
          "INTERACTIVE": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "INTERACTIVE"
            }
          },
          "STREAMING": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "STREAMING"
            }
          }
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationName": {
        "type": "string",
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe name of the application.\u003c/p\u003e",
          "smithy.api#length": {
            "min": 1,
            "max": 128
          },
          "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationOperationInfo": {
        "type": "structure",
        "members": {
          "EndTime": {
            "target": "com.amazonaws.kinesisanalyticsv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe timestamp that indicates when the operation finished.\u003c/p\u003e"
            }
          },
          "Operation": {
            "target": "com.amazonaws.kinesisanalyticsv2#Operation"
          },
          "OperationId": {
            "target": "com.amazonaws.kinesisanalyticsv2#OperationId"
          },
          "OperationStatus": {
            "target": "com.amazonaws.kinesisanalyticsv2#OperationStatus"
          },
          "StartTime": {
            "target": "com.amazonaws.kinesisanalyticsv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe timestamp that indicates when the operation was created.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eA description of the aplication operation that provides information about the updates that were made to the application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationOperationInfoDetails": {
        "type": "structure",
        "members": {
          "ApplicationVersionChangeDetails": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionChangeDetails"
          },
          "EndTime": {
            "target": "com.amazonaws.kinesisanalyticsv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe timestamp that indicates when the operation finished.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Operation": {
            "target": "com.amazonaws.kinesisanalyticsv2#Operation",
            "traits": {
              "smithy.api#required": {}
            }
          },
          "OperationFailureDetails": {
            "target": "com.amazonaws.kinesisanalyticsv2#OperationFailureDetails"
          },
          "OperationStatus": {
            "target": "com.amazonaws.kinesisanalyticsv2#OperationStatus",
            "traits": {
              "smithy.api#required": {}
            }
          },
          "StartTime": {
            "target": "com.amazonaws.kinesisanalyticsv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe timestamp that indicates when the operation was created.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eA description of the application operation that provides information about the updates that were made to the application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationOperationInfoList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationOperationInfo"
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eA list of \u003ccode\u003eApplicationOperationInfo\u003c/code\u003e objects that are associated with an application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationRestoreConfiguration": {
        "type": "structure",
        "members": {
          "ApplicationRestoreType": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationRestoreType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies how the application should be restored.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "SnapshotName": {
            "target": "com.amazonaws.kinesisanalyticsv2#SnapshotName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of an existing snapshot of application state to use to restart an application.\n      The application uses this value if \u003ccode\u003eRESTORE_FROM_CUSTOM_SNAPSHOT\u003c/code\u003e is specified for the \n      \u003ccode\u003eApplicationRestoreType\u003c/code\u003e.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eSpecifies the method and snapshot to use when restarting an application using previously saved application state.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationRestoreType": {
        "type": "enum",
        "members": {
          "RESTORE_FROM_CUSTOM_SNAPSHOT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "RESTORE_FROM_CUSTOM_SNAPSHOT"
            }
          },
          "RESTORE_FROM_LATEST_SNAPSHOT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "RESTORE_FROM_LATEST_SNAPSHOT"
            }
          },
          "SKIP_RESTORE_FROM_SNAPSHOT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "SKIP_RESTORE_FROM_SNAPSHOT"
            }
          }
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfiguration": {
        "type": "structure",
        "members": {
          "SnapshotsEnabled": {
            "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether snapshots are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes whether snapshots are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfigurationDescription": {
        "type": "structure",
        "members": {
          "SnapshotsEnabled": {
            "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether snapshots are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes whether snapshots are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfigurationUpdate": {
        "type": "structure",
        "members": {
          "SnapshotsEnabledUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes updates to whether snapshots are enabled for an application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes updates to whether snapshots are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationStatus": {
        "type": "enum",
        "members": {
          "AUTOSCALING": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "AUTOSCALING"
            }
          },
          "DELETING": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "DELETING"
            }
          },
          "FORCE_STOPPING": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "FORCE_STOPPING"
            }
          },
          "MAINTENANCE": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "MAINTENANCE"
            }
          },
          "READY": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "READY"
            }
          },
          "ROLLED_BACK": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ROLLED_BACK"
            }
          },
          "ROLLING_BACK": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ROLLING_BACK"
            }
          },
          "RUNNING": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "RUNNING"
            }
          },
          "STARTING": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "STARTING"
            }
          },
          "STOPPING": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "STOPPING"
            }
          },
          "UPDATING": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "UPDATING"
            }
          }
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationSummaries": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationSummary"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationSummary": {
        "type": "structure",
        "members": {
          "ApplicationARN": {
            "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ARN of the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ApplicationMode": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationMode",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eFor a Managed Service for Apache Flink application, the mode is \u003ccode\u003eSTREAMING\u003c/code\u003e. For a Managed Service for Apache Flink Studio notebook, it is \u003ccode\u003eINTERACTIVE\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "ApplicationName": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ApplicationStatus": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationStatus",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe status of the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eProvides the current application version.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "RuntimeEnvironment": {
            "target": "com.amazonaws.kinesisanalyticsv2#RuntimeEnvironment",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe runtime environment for the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eProvides application summary information, including the application Amazon Resource Name (ARN), name, and status.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationSystemRollbackConfiguration": {
        "type": "structure",
        "members": {
          "RollbackEnabled": {
            "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether system rollbacks are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes the system rollback configuration for a Managed Service for Apache Flink application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationSystemRollbackConfigurationDescription": {
        "type": "structure",
        "members": {
          "RollbackEnabled": {
            "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether system rollbacks are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes the system rollback configuration for a Managed Service for Apache Flink application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationSystemRollbackConfigurationUpdate": {
        "type": "structure",
        "members": {
          "RollbackEnabledUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether system rollbacks are enabled for a Managed Service for Apache Flink application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes the system rollback configuration for a Managed Service for Apache Flink application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationVersionChangeDetails": {
        "type": "structure",
        "members": {
          "ApplicationVersionUpdatedFrom": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe new version that the application was updated to.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ApplicationVersionUpdatedTo": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe version that the operation execution applied to the applicartion.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains information about the version changes that the operation applied to the application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId": {
        "type": "long",
        "traits": {
          "smithy.api#range": {
            "min": 1,
            "max": 999999999
          }
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationVersionSummaries": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionSummary"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ApplicationVersionSummary": {
        "type": "structure",
        "members": {
          "ApplicationStatus": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationStatus",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe status of the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ApplicationVersionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ID of the application version. Managed Service for Apache Flink updates the \u003ccode\u003eApplicationVersionId\u003c/code\u003e each time you update the application.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe summary of the application version.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#ArtifactType": {
        "type": "enum",
        "members": {
          "DEPENDENCY_JAR": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "DEPENDENCY_JAR"
            }
          },
          "UDF": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "UDF"
            }
          }
        }
      },
      "com.amazonaws.kinesisanalyticsv2#AuthorizedUrl": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 2048
          }
        }
      },
      "com.amazonaws.kinesisanalyticsv2#BasePath": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 1024
          },
          "smithy.api#pattern": "^[a-zA-Z0-9/!-_.*'()]+$"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#BooleanObject": {
        "type": "boolean"
      },
      "com.amazonaws.kinesisanalyticsv2#BucketARN": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 2048
          },
          "smithy.api#pattern": "^arn:"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CSVMappingParameters": {
        "type": "structure",
        "members": {
          "RecordColumnDelimiter": {
            "target": "com.amazonaws.kinesisanalyticsv2#RecordColumnDelimiter",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe column delimiter. For example, in a CSV format, a comma (\",\") is the typical column\n      delimiter.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "RecordRowDelimiter": {
            "target": "com.amazonaws.kinesisanalyticsv2#RecordRowDelimiter",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe row delimiter. For example, in a CSV format, \u003ci\u003e'\\n'\u003c/i\u003e is the typical\n      row delimiter.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eFor a SQL-based Kinesis Data Analytics application, provides additional mapping information when the record\n      format uses delimiters, such as CSV. For example, the following sample records use CSV format,\n      where the records use the \u003ci\u003e'\\n'\u003c/i\u003e as the row delimiter and a comma (\",\") as\n      the column delimiter: \u003c/p\u003e\n         \u003cp\u003e\n            \u003ccode\u003e\"name1\", \"address1\"\u003c/code\u003e\n         \u003c/p\u003e\n         \u003cp\u003e\n            \u003ccode\u003e\"name2\", \"address2\"\u003c/code\u003e\n         \u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CatalogConfiguration": {
        "type": "structure",
        "members": {
          "GlueDataCatalogConfiguration": {
            "target": "com.amazonaws.kinesisanalyticsv2#GlueDataCatalogConfiguration",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe configuration parameters for the default Amazon Glue database. You use this database for Apache Flink SQL queries and table API transforms that you write in a Managed Service for Apache Flink Studio notebook.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Managed Service for Apache Flink Studio notebook.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CatalogConfigurationDescription": {
        "type": "structure",
        "members": {
          "GlueDataCatalogConfigurationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#GlueDataCatalogConfigurationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Managed Service for Apache Flink Studio notebook.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe configuration parameters for the default Amazon Glue database. You use this database for Apache Flink SQL queries and table API transforms that you write in a Managed Service for Apache Flink Studio notebook.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CatalogConfigurationUpdate": {
        "type": "structure",
        "members": {
          "GlueDataCatalogConfigurationUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#GlueDataCatalogConfigurationUpdate",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUpdates to the configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Managed Service for Apache Flink Studio notebook.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eUpdates to the configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Managed Service for Apache Flink Studio notebook.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CheckpointConfiguration": {
        "type": "structure",
        "members": {
          "CheckpointInterval": {
            "target": "com.amazonaws.kinesisanalyticsv2#CheckpointInterval",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes the interval in milliseconds between checkpoint operations. \u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf \u003ccode\u003eCheckpointConfiguration.ConfigurationType\u003c/code\u003e is \u003ccode\u003eDEFAULT\u003c/code\u003e,\n    the application will use a \u003ccode\u003eCheckpointInterval\u003c/code\u003e value of 60000, even if this value is set \n      to another value using this API or in application code.\u003c/p\u003e\n         \u003c/note\u003e"
            }
          },
          "CheckpointingEnabled": {
            "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether checkpointing is enabled for a Managed Service for Apache Flink application.\u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf \u003ccode\u003eCheckpointConfiguration.ConfigurationType\u003c/code\u003e is \u003ccode\u003eDEFAULT\u003c/code\u003e,\n    the application will use a \u003ccode\u003eCheckpointingEnabled\u003c/code\u003e value of \u003ccode\u003etrue\u003c/code\u003e, even if this value \n      is set to another value using this API or in application code.\u003c/p\u003e\n         \u003c/note\u003e"
            }
          },
          "ConfigurationType": {
            "target": "com.amazonaws.kinesisanalyticsv2#ConfigurationType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether the application uses Managed Service for Apache Flink' default checkpointing behavior. \n    You must set this property to \u003ccode\u003eCUSTOM\u003c/code\u003e in order to set the\n      \u003ccode\u003eCheckpointingEnabled\u003c/code\u003e, \u003ccode\u003eCheckpointInterval\u003c/code\u003e, or \u003ccode\u003eMinPauseBetweenCheckpoints\u003c/code\u003e parameters.\u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf this value is set to \u003ccode\u003eDEFAULT\u003c/code\u003e, the application will use the following values, even if they are set to other values using APIs or\n    application code:\u003c/p\u003e\n            \u003cul\u003e\n               \u003cli\u003e\n                  \u003cp\u003e\n                     \u003cb\u003eCheckpointingEnabled:\u003c/b\u003e true\u003c/p\u003e\n               \u003c/li\u003e\n               \u003cli\u003e\n                  \u003cp\u003e\n                     \u003cb\u003eCheckpointInterval:\u003c/b\u003e 60000\u003c/p\u003e\n               \u003c/li\u003e\n               \u003cli\u003e\n                  \u003cp\u003e\n                     \u003cb\u003eMinPauseBetweenCheckpoints:\u003c/b\u003e 5000\u003c/p\u003e\n               \u003c/li\u003e\n            \u003c/ul\u003e\n         \u003c/note\u003e",
              "smithy.api#required": {}
            }
          },
          "MinPauseBetweenCheckpoints": {
            "target": "com.amazonaws.kinesisanalyticsv2#MinPauseBetweenCheckpoints",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes the minimum time in milliseconds after a checkpoint operation completes that a\n      new checkpoint operation can start. If a checkpoint operation takes longer than the\n        \u003ccode\u003eCheckpointInterval\u003c/code\u003e, the application otherwise performs continual checkpoint\n      operations. For more information, see \u003ca href=\"https://nightlies.apache.org/flink/flink-docs-release-2.3/docs/ops/state/large_state_tuning/#tuning-checkpointing\"\u003e Tuning Checkpointing\u003c/a\u003e in the \u003ca href=\"https://nightlies.apache.org/flink/flink-docs-release-2.3/\"\u003eApache Flink\n        Documentation\u003c/a\u003e.\u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf \u003ccode\u003eCheckpointConfiguration.ConfigurationType\u003c/code\u003e is \u003ccode\u003eDEFAULT\u003c/code\u003e,\n    the application will use a \u003ccode\u003eMinPauseBetweenCheckpoints\u003c/code\u003e value of 5000, even if this value is set using this \n      API or in application code.\u003c/p\u003e\n         \u003c/note\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault \n      tolerance.\n      For more information, see \n      \u003ca href=\"https://nightlies.apache.org/flink/flink-docs-release-2.3/docs/dev/datastream/fault-tolerance/checkpointing/#enabling-and-configuring-checkpointing\"\u003e\n        Checkpoints for Fault Tolerance\u003c/a\u003e in the\n      \u003ca href=\"https://nightlies.apache.org/flink/flink-docs-release-2.3/\"\u003eApache Flink Documentation\u003c/a\u003e.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CheckpointConfigurationDescription": {
        "type": "structure",
        "members": {
          "CheckpointInterval": {
            "target": "com.amazonaws.kinesisanalyticsv2#CheckpointInterval",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes the interval in milliseconds between checkpoint operations. \u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf \u003ccode\u003eCheckpointConfiguration.ConfigurationType\u003c/code\u003e is \u003ccode\u003eDEFAULT\u003c/code\u003e,\n    the application will use a \u003ccode\u003eCheckpointInterval\u003c/code\u003e value of 60000, even if this value is set to another value \n      using this API or in application code.\u003c/p\u003e\n         \u003c/note\u003e"
            }
          },
          "CheckpointingEnabled": {
            "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether checkpointing is enabled for a Managed Service for Apache Flink application.\u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf \u003ccode\u003eCheckpointConfiguration.ConfigurationType\u003c/code\u003e is \u003ccode\u003eDEFAULT\u003c/code\u003e,\n    the application will use a \u003ccode\u003eCheckpointingEnabled\u003c/code\u003e value of \u003ccode\u003etrue\u003c/code\u003e, even if this value is set to \n      another value using this API or in application code.\u003c/p\u003e\n         \u003c/note\u003e"
            }
          },
          "ConfigurationType": {
            "target": "com.amazonaws.kinesisanalyticsv2#ConfigurationType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes whether the application uses the default checkpointing behavior in Managed Service for Apache Flink. \u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf this value is set to \u003ccode\u003eDEFAULT\u003c/code\u003e, the application will use the following values, \n      even if they are set to other values using APIs or\n    application code:\u003c/p\u003e\n            \u003cul\u003e\n               \u003cli\u003e\n                  \u003cp\u003e\n                     \u003cb\u003eCheckpointingEnabled:\u003c/b\u003e true\u003c/p\u003e\n               \u003c/li\u003e\n               \u003cli\u003e\n                  \u003cp\u003e\n                     \u003cb\u003eCheckpointInterval:\u003c/b\u003e 60000\u003c/p\u003e\n               \u003c/li\u003e\n               \u003cli\u003e\n                  \u003cp\u003e\n                     \u003cb\u003eMinPauseBetweenCheckpoints:\u003c/b\u003e 5000\u003c/p\u003e\n               \u003c/li\u003e\n            \u003c/ul\u003e\n         \u003c/note\u003e"
            }
          },
          "MinPauseBetweenCheckpoints": {
            "target": "com.amazonaws.kinesisanalyticsv2#MinPauseBetweenCheckpoints",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation\n      can start. \u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf \u003ccode\u003eCheckpointConfiguration.ConfigurationType\u003c/code\u003e is \u003ccode\u003eDEFAULT\u003c/code\u003e,\n    the application will use a \u003ccode\u003eMinPauseBetweenCheckpoints\u003c/code\u003e value of 5000, even if this value is set using this \n      API or in application code.\u003c/p\u003e\n         \u003c/note\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes checkpointing parameters for a Managed Service for Apache Flink application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CheckpointConfigurationUpdate": {
        "type": "structure",
        "members": {
          "CheckpointIntervalUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#CheckpointInterval",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes updates to the interval in milliseconds between checkpoint operations.\u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf \u003ccode\u003eCheckpointConfiguration.ConfigurationType\u003c/code\u003e is \u003ccode\u003eDEFAULT\u003c/code\u003e,\n    the application will use a \u003ccode\u003eCheckpointInterval\u003c/code\u003e value of 60000, even if this value is set to another value \n      using this API or in application code.\u003c/p\u003e\n         \u003c/note\u003e"
            }
          },
          "CheckpointingEnabledUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes updates to whether checkpointing is enabled for an application.\u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf \u003ccode\u003eCheckpointConfiguration.ConfigurationType\u003c/code\u003e is \u003ccode\u003eDEFAULT\u003c/code\u003e,\n    the application will use a \u003ccode\u003eCheckpointingEnabled\u003c/code\u003e value of \u003ccode\u003etrue\u003c/code\u003e, even if this value is set to \n      another value using this API or in application code.\u003c/p\u003e\n         \u003c/note\u003e"
            }
          },
          "ConfigurationTypeUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#ConfigurationType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes updates to whether the application uses the default checkpointing behavior of\n      Managed Service for Apache Flink. You must set this property to \u003ccode\u003eCUSTOM\u003c/code\u003e in order to set the\n      \u003ccode\u003eCheckpointingEnabled\u003c/code\u003e, \u003ccode\u003eCheckpointInterval\u003c/code\u003e, or \u003ccode\u003eMinPauseBetweenCheckpoints\u003c/code\u003e parameters.\n      \u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf this value is set to \u003ccode\u003eDEFAULT\u003c/code\u003e, the application will use the following values, even if they are \n      set to other values using APIs or\n    application code:\u003c/p\u003e\n            \u003cul\u003e\n               \u003cli\u003e\n                  \u003cp\u003e\n                     \u003cb\u003eCheckpointingEnabled:\u003c/b\u003e true\u003c/p\u003e\n               \u003c/li\u003e\n               \u003cli\u003e\n                  \u003cp\u003e\n                     \u003cb\u003eCheckpointInterval:\u003c/b\u003e 60000\u003c/p\u003e\n               \u003c/li\u003e\n               \u003cli\u003e\n                  \u003cp\u003e\n                     \u003cb\u003eMinPauseBetweenCheckpoints:\u003c/b\u003e 5000\u003c/p\u003e\n               \u003c/li\u003e\n            \u003c/ul\u003e\n         \u003c/note\u003e"
            }
          },
          "MinPauseBetweenCheckpointsUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#MinPauseBetweenCheckpoints",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes updates to the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation\n      can start.\u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eIf \u003ccode\u003eCheckpointConfiguration.ConfigurationType\u003c/code\u003e is \u003ccode\u003eDEFAULT\u003c/code\u003e,\n    the application will use a \u003ccode\u003eMinPauseBetweenCheckpoints\u003c/code\u003e value of 5000, even if this value is set using this API or \n      in application code.\u003c/p\u003e\n         \u003c/note\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes updates to the checkpointing parameters for a Managed Service for Apache Flink application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CheckpointInterval": {
        "type": "long",
        "traits": {
          "smithy.api#range": {
            "min": 1
          }
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOption": {
        "type": "structure",
        "members": {
          "LogStreamARN": {
            "target": "com.amazonaws.kinesisanalyticsv2#LogStreamARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ARN of the CloudWatch log to receive application messages.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eProvides a description of Amazon CloudWatch logging options, including the log stream\n      Amazon Resource Name (ARN). \u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionDescription": {
        "type": "structure",
        "members": {
          "CloudWatchLoggingOptionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#Id",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ID of the CloudWatch logging option description.\u003c/p\u003e"
            }
          },
          "LogStreamARN": {
            "target": "com.amazonaws.kinesisanalyticsv2#LogStreamARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the CloudWatch log to receive application\n      messages.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "RoleARN": {
            "target": "com.amazonaws.kinesisanalyticsv2#RoleARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe IAM ARN of the role to use to send application messages. \u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eProvided for backward compatibility. Applications created with the current API version have an\n        application-level service execution role rather than a resource-level role.\u003c/p\u003e\n         \u003c/note\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes the Amazon CloudWatch logging option.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionDescriptions": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionDescription"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionUpdate": {
        "type": "structure",
        "members": {
          "CloudWatchLoggingOptionId": {
            "target": "com.amazonaws.kinesisanalyticsv2#Id",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ID of the CloudWatch logging option to update\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "LogStreamARNUpdate": {
            "target": "com.amazonaws.kinesisanalyticsv2#LogStreamARN",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the CloudWatch log to receive application\n      messages.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes the Amazon CloudWatch logging option updates.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionUpdates": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionUpdate"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptions": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOption"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CodeContent": {
        "type": "structure",
        "members": {
          "S3ContentLocation": {
            "target": "com.amazonaws.kinesisanalyticsv2#S3ContentLocation",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation about the Amazon S3 bucket that contains the application code.\u003c/p\u003e"
            }
          },
          "TextContent": {
            "target": "com.amazonaws.kinesisanalyticsv2#TextContent",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe text-format code for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          },
          "ZipFileContent": {
            "target": "com.amazonaws.kinesisanalyticsv2#ZipFileContent",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe zip-format code for a Managed Service for Apache Flink application.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eSpecifies either the application code, or the location of the application code, for a\n      Managed Service for Apache Flink application. \u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CodeContentDescription": {
        "type": "structure",
        "members": {
          "CodeMD5": {
            "target": "com.amazonaws.kinesisanalyticsv2#CodeMD5",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe checksum that can be used to validate zip-format code.\u003c/p\u003e"
            }
          },
          "CodeSize": {
            "target": "com.amazonaws.kinesisanalyticsv2#CodeSize",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe size in bytes of the application code. Can be used to validate zip-format code.\u003c/p\u003e"
            }
          },
          "S3ApplicationCodeLocationDescription": {
            "target": "com.amazonaws.kinesisanalyticsv2#S3ApplicationCodeLocationDescription",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe S3 bucket Amazon Resource Name (ARN), file key, and object version of the application\n      code stored in Amazon S3.\u003c/p\u003e"
            }
          },
          "TextContent": {
            "target": "com.amazonaws.kinesisanalyticsv2#TextContent",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe text-format code\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDescribes details about the code of a Managed Service for Apache Flink application.\u003c/p\u003e"
        }
      },
      "com.amazonaws.kinesisanalyticsv2#CodeContentType": {
        "type": "enum",
        "members": {
          "PLAINTEXT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "PLAINTEXT"
            }
          },
          "ZIPFILE": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ZIPFILE"
            }
          }
        }
      },
[...]
