{
  "schema_source": "smithy",
  "mode": "data_source",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://aws.example.invalid",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "aws",
  "raw_spec": {
    "smithy": "2.0",
    "metadata": {
      "suppressions": [
        {
          "id": "HttpMethodSemantics",
          "namespace": "*"
        },
        {
          "id": "HttpResponseCodeSemantics",
          "namespace": "*"
        },
        {
          "id": "PaginatedTrait",
          "namespace": "*"
        },
        {
          "id": "HttpHeaderTrait",
          "namespace": "*"
        },
        {
          "id": "HttpUriConflict",
          "namespace": "*"
        },
        {
          "id": "Service",
          "namespace": "*"
        }
      ]
    },
    "shapes": {
      "com.amazonaws.apigatewaymanagementapi#ApiGatewayManagementApi": {
        "type": "service",
        "version": "2018-11-29",
        "operations": [
          {
            "target": "com.amazonaws.apigatewaymanagementapi#DeleteConnection"
          },
          {
            "target": "com.amazonaws.apigatewaymanagementapi#GetConnection"
          },
          {
            "target": "com.amazonaws.apigatewaymanagementapi#PostToConnection"
          }
        ],
        "traits": {
          "aws.api#service": {
            "sdkId": "ApiGatewayManagementApi",
            "arnNamespace": "apigateway",
            "cloudFormationName": "ApiGatewayManagementApi",
            "cloudTrailEventSource": "apigatewaymanagementapi.amazonaws.com",
            "endpointPrefix": "execute-api"
          },
          "aws.auth#sigv4": {
            "name": "execute-api"
          },
          "aws.protocols#restJson1": {},
          "smithy.api#auth": [
            "aws.auth#sigv4"
          ],
          "smithy.api#documentation": "\u003cp\u003eThe Amazon API Gateway Management API allows you to directly manage runtime aspects of your deployed APIs. To use it, you must explicitly set the SDK's endpoint to point to the endpoint of your deployed API. The endpoint will be of the form https://{api-id}.execute-api.{region}.amazonaws.com/{stage}, or will be the endpoint corresponding to your API's custom domain and base path, if applicable.\u003c/p\u003e",
          "smithy.api#title": "AmazonApiGatewayManagementApi",
          "smithy.rules#endpointBdd": {
            "version": "1.1",
            "parameters": {
              "Region": {
                "builtIn": "AWS::Region",
                "required": false,
                "documentation": "The AWS region used to dispatch the request.",
                "type": "string"
              },
              "UseDualStack": {
                "builtIn": "AWS::UseDualStack",
                "required": true,
                "default": false,
                "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                "type": "boolean"
              },
              "UseFIPS": {
                "builtIn": "AWS::UseFIPS",
                "required": true,
                "default": false,
                "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                "type": "boolean"
              },
              "Endpoint": {
                "builtIn": "SDK::Endpoint",
                "required": false,
                "documentation": "Override the endpoint used to send this request",
                "type": "string"
              }
            },
            "conditions": [
              {
                "fn": "isSet",
                "argv": [
                  {
                    "ref": "Endpoint"
                  }
                ]
              },
              {
                "fn": "isSet",
                "argv": [
                  {
                    "ref": "Region"
                  }
                ]
              },
              {
                "fn": "aws.partition",
                "argv": [
                  {
                    "ref": "Region"
                  }
                ],
                "assign": "PartitionResult"
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "ref": "UseFIPS"
                  },
                  true
                ]
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "ref": "UseDualStack"
                  },
                  true
                ]
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "fn": "getAttr",
                    "argv": [
                      {
                        "ref": "PartitionResult"
                      },
                      "supportsDualStack"
                    ]
                  },
                  true
                ]
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "fn": "getAttr",
                    "argv": [
                      {
                        "ref": "PartitionResult"
                      },
                      "supportsFIPS"
                    ]
                  },
                  true
                ]
              }
            ],
            "results": [
              {
                "conditions": [],
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                "type": "error"
              },
              {
                "conditions": [],
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": {
                    "ref": "Endpoint"
                  },
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://execute-api-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://execute-api-fips.{Region}.{PartitionResult#dnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "FIPS is enabled but this partition does not support FIPS",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://execute-api.{Region}.{PartitionResult#dualStackDnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "DualStack is enabled but this partition does not support DualStack",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://execute-api.{Region}.{PartitionResult#dnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "Invalid Configuration: Missing Region",
                "type": "error"
              }
            ],
            "root": 2,
            "nodeCount": 13,
            "nodes": "/////wAAAAH/////AAAAAAAAAAwAAAADAAAAAQAAAAQF9eELAAAAAgAAAAUF9eELAAAAAwAAAAgAAAAGAAAABAAAAAcF9eEKAAAABQX14QgF9eEJAAAABAAAAAoAAAAJAAAABgX14QYF9eEHAAAABQAAAAsF9eEFAAAABgX14QQF9eEFAAAAAwX14QEAAAANAAAABAX14QIF9eED"
          },
          "smithy.rules#endpointRuleSet": {
            "version": "1.0",
            "parameters": {
              "Region": {
                "builtIn": "AWS::Region",
                "required": false,
                "documentation": "The AWS region used to dispatch the request.",
                "type": "string"
              },
              "UseDualStack": {
                "builtIn": "AWS::UseDualStack",
                "required": true,
                "default": false,
                "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                "type": "boolean"
              },
              "UseFIPS": {
                "builtIn": "AWS::UseFIPS",
                "required": true,
                "default": false,
                "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                "type": "boolean"
              },
              "Endpoint": {
                "builtIn": "SDK::Endpoint",
                "required": false,
                "documentation": "Override the endpoint used to send this request",
                "type": "string"
              }
            },
            "rules": [
              {
                "conditions": [
                  {
                    "fn": "isSet",
                    "argv": [
                      {
                        "ref": "Endpoint"
                      }
                    ]
                  }
                ],
                "rules": [
                  {
                    "conditions": [
                      {
                        "fn": "booleanEquals",
                        "argv": [
                          {
                            "ref": "UseFIPS"
                          },
                          true
                        ]
                      }
                    ],
                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                    "type": "error"
                  },
                  {
                    "conditions": [
                      {
                        "fn": "booleanEquals",
                        "argv": [
                          {
                            "ref": "UseDualStack"
                          },
                          true
                        ]
                      }
                    ],
                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                    "type": "error"
                  },
                  {
                    "conditions": [],
                    "endpoint": {
                      "url": {
                        "ref": "Endpoint"
                      },
                      "properties": {},
                      "headers": {}
                    },
                    "type": "endpoint"
                  }
                ],
                "type": "tree"
              },
              {
                "conditions": [
                  {
                    "fn": "isSet",
                    "argv": [
                      {
                        "ref": "Region"
                      }
                    ]
                  }
                ],
                "rules": [
                  {
                    "conditions": [
                      {
                        "fn": "aws.partition",
                        "argv": [
                          {
                            "ref": "Region"
                          }
                        ],
                        "assign": "PartitionResult"
                      }
                    ],
                    "rules": [
                      {
                        "conditions": [
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseFIPS"
                              },
                              true
                            ]
                          },
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseDualStack"
                              },
                              true
                            ]
                          }
                        ],
                        "rules": [
                          {
                            "conditions": [
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  true,
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsFIPS"
                                    ]
                                  }
                                ]
                              },
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  true,
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsDualStack"
                                    ]
                                  }
                                ]
                              }
                            ],
                            "rules": [
                              {
                                "conditions": [],
                                "endpoint": {
                                  "url": "https://execute-api-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                  "properties": {},
                                  "headers": {}
                                },
                                "type": "endpoint"
                              }
                            ],
                            "type": "tree"
                          },
                          {
                            "conditions": [],
                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                            "type": "error"
                          }
                        ],
                        "type": "tree"
                      },
                      {
                        "conditions": [
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseFIPS"
                              },
                              true
                            ]
                          }
                        ],
                        "rules": [
                          {
                            "conditions": [
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsFIPS"
                                    ]
                                  },
                                  true
                                ]
                              }
                            ],
                            "rules": [
                              {
                                "conditions": [],
                                "endpoint": {
                                  "url": "https://execute-api-fips.{Region}.{PartitionResult#dnsSuffix}",
                                  "properties": {},
                                  "headers": {}
                                },
                                "type": "endpoint"
                              }
                            ],
                            "type": "tree"
                          },
                          {
                            "conditions": [],
                            "error": "FIPS is enabled but this partition does not support FIPS",
                            "type": "error"
                          }
                        ],
                        "type": "tree"
                      },
                      {
                        "conditions": [
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseDualStack"
                              },
                              true
                            ]
                          }
                        ],
                        "rules": [
                          {
                            "conditions": [
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  true,
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsDualStack"
                                    ]
                                  }
                                ]
                              }
                            ],
                            "rules": [
                              {
                                "conditions": [],
                                "endpoint": {
                                  "url": "https://execute-api.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                  "properties": {},
                                  "headers": {}
                                },
                                "type": "endpoint"
                              }
                            ],
                            "type": "tree"
                          },
                          {
                            "conditions": [],
                            "error": "DualStack is enabled but this partition does not support DualStack",
                            "type": "error"
                          }
                        ],
                        "type": "tree"
                      },
                      {
                        "conditions": [],
                        "endpoint": {
                          "url": "https://execute-api.{Region}.{PartitionResult#dnsSuffix}",
                          "properties": {},
                          "headers": {}
                        },
                        "type": "endpoint"
                      }
                    ],
                    "type": "tree"
                  }
                ],
                "type": "tree"
              },
              {
                "conditions": [],
                "error": "Invalid Configuration: Missing Region",
                "type": "error"
              }
            ]
          },
          "smithy.rules#endpointTests": {
            "testCases": [
              {
                "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api-fips.us-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": true,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api-fips.us-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api.us-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api.us-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api-fips.cn-north-1.api.amazonwebservices.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": true,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api-fips.cn-north-1.amazonaws.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api.cn-north-1.api.amazonwebservices.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": false,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api.cn-north-1.amazonaws.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api-fips.us-gov-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": true,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api-fips.us-gov-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api.us-gov-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": false,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api.us-gov-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api-fips.us-iso-east-1.c2s.ic.gov"
                  }
                },
                "params": {
                  "Region": "us-iso-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api.us-iso-east-1.c2s.ic.gov"
                  }
                },
                "params": {
                  "Region": "us-iso-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api-fips.us-isob-east-1.sc2s.sgov.gov"
                  }
                },
                "params": {
                  "Region": "us-isob-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://execute-api.us-isob-east-1.sc2s.sgov.gov"
                  }
                },
                "params": {
                  "Region": "us-isob-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://example.com"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://example.com"
                  }
                },
                "params": {
                  "UseFIPS": false,
                  "UseDualStack": false,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                "expect": {
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                "expect": {
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": true,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "Missing region",
                "expect": {
                  "error": "Invalid Configuration: Missing Region"
                }
              }
            ],
            "version": "1.0"
          }
        }
      },
      "com.amazonaws.apigatewaymanagementapi#Data": {
        "type": "blob",
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe data to be sent to the client specified by its connection id.\u003c/p\u003e",
          "smithy.api#length": {
            "min": 0,
            "max": 131072
          }
        }
      },
      "com.amazonaws.apigatewaymanagementapi#DeleteConnection": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.apigatewaymanagementapi#DeleteConnectionRequest"
        },
        "output": {
          "target": "smithy.api#Unit"
        },
        "errors": [
          {
            "target": "com.amazonaws.apigatewaymanagementapi#ForbiddenException"
          },
          {
            "target": "com.amazonaws.apigatewaymanagementapi#GoneException"
          },
          {
            "target": "com.amazonaws.apigatewaymanagementapi#LimitExceededException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDelete the connection with the provided id.\u003c/p\u003e",
          "smithy.api#http": {
            "method": "DELETE",
            "uri": "/@connections/{ConnectionId}",
            "code": 204
          }
        }
      },
      "com.amazonaws.apigatewaymanagementapi#DeleteConnectionRequest": {
        "type": "structure",
        "members": {
          "ConnectionId": {
            "target": "com.amazonaws.apigatewaymanagementapi#__string",
            "traits": {
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.apigatewaymanagementapi#ForbiddenException": {
        "type": "structure",
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe caller is not authorized to invoke this operation.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 403
        }
      },
      "com.amazonaws.apigatewaymanagementapi#GetConnection": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.apigatewaymanagementapi#GetConnectionRequest"
        },
        "output": {
          "target": "com.amazonaws.apigatewaymanagementapi#GetConnectionResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.apigatewaymanagementapi#ForbiddenException"
          },
          {
            "target": "com.amazonaws.apigatewaymanagementapi#GoneException"
          },
          {
            "target": "com.amazonaws.apigatewaymanagementapi#LimitExceededException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eGet information about the connection with the provided id.\u003c/p\u003e",
          "smithy.api#http": {
            "method": "GET",
            "uri": "/@connections/{ConnectionId}",
            "code": 200
          }
        }
      },
      "com.amazonaws.apigatewaymanagementapi#GetConnectionRequest": {
        "type": "structure",
        "members": {
          "ConnectionId": {
            "target": "com.amazonaws.apigatewaymanagementapi#__string",
            "traits": {
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.apigatewaymanagementapi#GetConnectionResponse": {
        "type": "structure",
        "members": {
          "ConnectedAt": {
            "target": "com.amazonaws.apigatewaymanagementapi#__timestampIso8601",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe time in ISO 8601 format for when the connection was established.\u003c/p\u003e",
              "smithy.api#jsonName": "connectedAt"
            }
          },
          "Identity": {
            "target": "com.amazonaws.apigatewaymanagementapi#Identity",
            "traits": {
              "smithy.api#jsonName": "identity"
            }
          },
          "LastActiveAt": {
            "target": "com.amazonaws.apigatewaymanagementapi#__timestampIso8601",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe time in ISO 8601 format for when the connection was last active.\u003c/p\u003e",
              "smithy.api#jsonName": "lastActiveAt"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.apigatewaymanagementapi#GoneException": {
        "type": "structure",
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe connection with the provided id no longer exists.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 410
        }
      },
      "com.amazonaws.apigatewaymanagementapi#Identity": {
        "type": "structure",
        "members": {
          "SourceIp": {
            "target": "com.amazonaws.apigatewaymanagementapi#__string",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe source IP address of the TCP connection making the request to API Gateway.\u003c/p\u003e",
              "smithy.api#jsonName": "sourceIp",
              "smithy.api#required": {}
            }
          },
          "UserAgent": {
            "target": "com.amazonaws.apigatewaymanagementapi#__string",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe User Agent of the API caller.\u003c/p\u003e",
              "smithy.api#jsonName": "userAgent",
              "smithy.api#required": {}
            }
          }
        }
      },
      "com.amazonaws.apigatewaymanagementapi#LimitExceededException": {
        "type": "structure",
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe client is sending more than the allowed number of requests per unit of time or the WebSocket client side buffer is full.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 429
        }
      },
      "com.amazonaws.apigatewaymanagementapi#PayloadTooLargeException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.apigatewaymanagementapi#__string",
            "traits": {
              "smithy.api#jsonName": "message"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe data has exceeded the maximum size allowed.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 413
        }
      },
      "com.amazonaws.apigatewaymanagementapi#PostToConnection": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.apigatewaymanagementapi#PostToConnectionRequest"
        },
        "output": {
          "target": "smithy.api#Unit"
        },
        "errors": [
          {
            "target": "com.amazonaws.apigatewaymanagementapi#ForbiddenException"
          },
          {
            "target": "com.amazonaws.apigatewaymanagementapi#GoneException"
          },
          {
            "target": "com.amazonaws.apigatewaymanagementapi#LimitExceededException"
          },
          {
            "target": "com.amazonaws.apigatewaymanagementapi#PayloadTooLargeException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eSends the provided data to the specified connection.\u003c/p\u003e",
          "smithy.api#http": {
            "method": "POST",
            "uri": "/@connections/{ConnectionId}",
            "code": 200
          }
        }
      },
      "com.amazonaws.apigatewaymanagementapi#PostToConnectionRequest": {
        "type": "structure",
        "members": {
          "ConnectionId": {
            "target": "com.amazonaws.apigatewaymanagementapi#__string",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the connection that a specific client is using.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          },
          "Data": {
            "target": "com.amazonaws.apigatewaymanagementapi#Data",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe data to be sent to the client specified by its connection id.\u003c/p\u003e",
              "smithy.api#httpPayload": {},
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.apigatewaymanagementapi#__string": {
        "type": "string"
      },
      "com.amazonaws.apigatewaymanagementapi#__timestampIso8601": {
        "type": "timestamp",
        "traits": {
          "smithy.api#timestampFormat": "date-time"
        }
      }
    }
  }
}
