{
  "schema_source": "smithy",
  "mode": "data_source",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://aws.example.invalid",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "aws",
  "raw_spec": {
    "smithy": "2.0",
    "metadata": {
      "suppressions": [
        {
          "id": "HttpMethodSemantics",
          "namespace": "*"
        },
        {
          "id": "HttpResponseCodeSemantics",
          "namespace": "*"
        },
        {
          "id": "PaginatedTrait",
          "namespace": "*"
        },
        {
          "id": "HttpHeaderTrait",
          "namespace": "*"
        },
        {
          "id": "HttpUriConflict",
          "namespace": "*"
        },
        {
          "id": "Service",
          "namespace": "*"
        }
      ]
    },
    "shapes": {
      "com.amazonaws.lexmodelsv2#ActiveContext": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#ActiveContextName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of active context.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe active context used in the test execution.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#ActiveContextList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#ActiveContext"
        },
        "traits": {
          "smithy.api#length": {
            "min": 0,
            "max": 20
          }
        }
      },
      "com.amazonaws.lexmodelsv2#ActiveContextName": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 100
          },
          "smithy.api#pattern": "^([A-Za-z]_?)+$"
        }
      },
      "com.amazonaws.lexmodelsv2#AdvancedRecognitionSetting": {
        "type": "structure",
        "members": {
          "audioRecognitionStrategy": {
            "target": "com.amazonaws.lexmodelsv2#AudioRecognitionStrategy",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eEnables using the slot values as a custom vocabulary for recognizing user utterances.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eProvides settings that enable advanced recognition settings for slot values.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AgentTurnResult": {
        "type": "structure",
        "members": {
          "actualAgentPrompt": {
            "target": "com.amazonaws.lexmodelsv2#TestSetAgentPrompt",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe actual agent prompt for the agent turn in a test set execution.\u003c/p\u003e"
            }
          },
          "actualElicitedSlot": {
            "target": "com.amazonaws.lexmodelsv2#TestResultSlotName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe actual elicited slot for the agent turn in a test set execution.\u003c/p\u003e"
            }
          },
          "actualIntent": {
            "target": "com.amazonaws.lexmodelsv2#Name",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe actual intent for the agent turn in a test set execution.\u003c/p\u003e"
            }
          },
          "errorDetails": {
            "target": "com.amazonaws.lexmodelsv2#ExecutionErrorDetails"
          },
          "expectedAgentPrompt": {
            "target": "com.amazonaws.lexmodelsv2#TestSetAgentPrompt",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe expected agent prompt for the agent turn in a test set execution.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe information about the agent turn in a test set execution.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AgentTurnSpecification": {
        "type": "structure",
        "members": {
          "agentPrompt": {
            "target": "com.amazonaws.lexmodelsv2#TestSetAgentPrompt",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe agent prompt for the agent turn in a test set.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe specification of an agent turn.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilter": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the field to filter the utterance list.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "operator": {
            "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterOperator",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe operator to use for the filter. Specify \u003ccode\u003eEQ\u003c/code\u003e when the\n            \u003ccode\u003eListAggregatedUtterances\u003c/code\u003e operation should return only\n         utterances that equal the specified value. Specify \u003ccode\u003eCO\u003c/code\u003e when\n         the \u003ccode\u003eListAggregatedUtterances\u003c/code\u003e operation should return\n         utterances that contain the specified value.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "values": {
            "target": "com.amazonaws.lexmodelsv2#FilterValues",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe value to use for filtering the list of bots.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eFilters responses returned by the\n            \u003ccode\u003eListAggregatedUtterances\u003c/code\u003e operation.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterName": {
        "type": "enum",
        "members": {
          "Utterance": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Utterance"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterOperator": {
        "type": "enum",
        "members": {
          "Contains": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "CO"
            }
          },
          "Equals": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "EQ"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilters": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilter"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 1
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AggregatedUtterancesSortAttribute": {
        "type": "enum",
        "members": {
          "HitCount": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "HitCount"
            }
          },
          "MissedCount": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "MissedCount"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AggregatedUtterancesSortBy": {
        "type": "structure",
        "members": {
          "attribute": {
            "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesSortAttribute",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe utterance attribute to sort by.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "order": {
            "target": "com.amazonaws.lexmodelsv2#SortOrder",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether to sort the aggregated utterances in ascending or\n         descending order.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eSpecifies attributes for sorting a list of utterances.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AggregatedUtterancesSummary": {
        "type": "structure",
        "members": {
          "containsDataFromDeletedResources": {
            "target": "com.amazonaws.lexmodelsv2#BoxedBoolean",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAggregated utterance data may contain utterances from versions of\n         your bot that have since been deleted. When the aggregated contains\n         this kind of data, this field is set to true.\u003c/p\u003e"
            }
          },
          "hitCount": {
            "target": "com.amazonaws.lexmodelsv2#HitCount",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe number of times that the utterance was detected by Amazon Lex during\n         the time period. When an utterance is detected, it activates an intent\n         or a slot.\u003c/p\u003e"
            }
          },
          "missedCount": {
            "target": "com.amazonaws.lexmodelsv2#MissedCount",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe number of times that the utterance was missed by Amazon Lex An\n         utterance is missed when it doesn't activate an intent or slot.\u003c/p\u003e"
            }
          },
          "utterance": {
            "target": "com.amazonaws.lexmodelsv2#Utterance",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe text of the utterance. If the utterance was used with the\n            \u003ccode\u003eRecognizeUtterance\u003c/code\u003e operation, the text is the\n         transcription of the audio utterance.\u003c/p\u003e"
            }
          },
          "utteranceFirstRecordedInAggregationDuration": {
            "target": "com.amazonaws.lexmodelsv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe date and time that the utterance was first recorded in the time\n         window for aggregation. An utterance may have been sent to Amazon Lex before\n         that time, but only utterances within the time window are\n         counted.\u003c/p\u003e"
            }
          },
          "utteranceLastRecordedInAggregationDuration": {
            "target": "com.amazonaws.lexmodelsv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe last date and time that an utterance was recorded in the time\n         window for aggregation. An utterance may be sent to Amazon Lex after that\n         time, but only utterances within the time window are counted.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eProvides summary information for aggregated utterances. The\n            \u003ccode\u003eListAggregatedUtterances\u003c/code\u003e operations combines all\n         instances of the same utterance into a single aggregated\n         summary.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AggregatedUtterancesSummaryList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesSummary"
        }
      },
      "com.amazonaws.lexmodelsv2#AllowedInputTypes": {
        "type": "structure",
        "members": {
          "allowAudioInput": {
            "target": "com.amazonaws.lexmodelsv2#BoxedBoolean",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates whether audio input is allowed.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "allowDTMFInput": {
            "target": "com.amazonaws.lexmodelsv2#BoxedBoolean",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates whether DTMF input is allowed.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eSpecifies the allowed input types.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AmazonResourceName": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 1011
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalysisScope": {
        "type": "enum",
        "members": {
          "BotLocale": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "BotLocale"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe scope of analysis to perform on the bot.\u003c/p\u003e\n         \u003cp\u003eValid values include:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotLocale\u003c/code\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsBinByList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsBinBySpecification"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 1
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsBinByName": {
        "type": "enum",
        "members": {
          "ConversationStartTime": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ConversationStartTime"
            }
          },
          "UtteranceTimestamp": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "UtteranceTimestamp"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsBinBySpecification": {
        "type": "structure",
        "members": {
          "interval": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsInterval",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies the interval of time by which to bin the analytics data.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsBinByName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies the time metric by which to bin the analytics data.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "order": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsSortOrder",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether to bin the analytics data in ascending or descending order. If this field is left blank, the default order is by the key of the bin in descending order.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the time metric, interval, and method by which to bin the analytics data.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsBinKey": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsBinByName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe criterion by which to bin the results.\u003c/p\u003e"
            }
          },
          "value": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsBinValue",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe value of the criterion that defines the bin.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAn object containing the criterion by which to bin the results and the value that defines that bin.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsBinKeys": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsBinKey"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 1
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsBinValue": {
        "type": "long"
      },
      "com.amazonaws.lexmodelsv2#AnalyticsChannel": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 50
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsCommonFilterName": {
        "type": "enum",
        "members": {
          "BotAliasId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "BotAliasId"
            }
          },
          "BotVersion": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "BotVersion"
            }
          },
          "Channel": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Channel"
            }
          },
          "LocaleId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "LocaleId"
            }
          },
          "Modality": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Modality"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsFilterOperator": {
        "type": "enum",
        "members": {
          "Equals": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "EQ"
            }
          },
          "GreaterThan": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "GT"
            }
          },
          "LessThan": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "LT"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsFilterValue": {
        "type": "string"
      },
      "com.amazonaws.lexmodelsv2#AnalyticsFilterValues": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterValue"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 5
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsGroupByValue": {
        "type": "string"
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentField": {
        "type": "enum",
        "members": {
          "IntentEndState": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "IntentEndState"
            }
          },
          "IntentLevel": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "IntentLevel"
            }
          },
          "IntentName": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "IntentName"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentFilter": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentFilterName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe category by which to filter the intents. The descriptions for each option are as follows:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 The name of the bot alias.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 The version of the bot.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 The locale of the bot.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 The modality of the session with the bot (audio, DTMF, or text).\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 The channel that the bot is integrated with.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSessionId\u003c/code\u003e \u2013 The identifier of the session with the bot.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eOriginatingRequestId\u003c/code\u003e \u2013 The identifier of the first request in a session.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentName\u003c/code\u003e \u2013 The name of the intent.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentEndState\u003c/code\u003e \u2013 The final state of the intent.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "operator": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterOperator",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe operation by which to filter the category. The following operations are possible:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eCO\u003c/code\u003e \u2013 Contains\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eEQ\u003c/code\u003e \u2013 Equals\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eGT\u003c/code\u003e \u2013 Greater than\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLT\u003c/code\u003e \u2013 Less than\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eThe operators that each filter supports are listed below:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSessionId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eOriginatingRequestId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentName\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eCO\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentEndState\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eCO\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "values": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterValues",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array containing the values of the category by which to apply the operator to filter the results. You can provide multiple values if the operator is \u003ccode\u003eEQ\u003c/code\u003e or \u003ccode\u003eCO\u003c/code\u003e. If you provide multiple values, you filter for results that equal/contain any of the values. For example, if the \u003ccode\u003ename\u003c/code\u003e, \u003ccode\u003eoperator\u003c/code\u003e, and \u003ccode\u003evalues\u003c/code\u003e fields are \u003ccode\u003eModality\u003c/code\u003e, \u003ccode\u003eEQ\u003c/code\u003e, and \u003ccode\u003e[Speech, Text]\u003c/code\u003e, the operation filters for results where the modality was either \u003ccode\u003eSpeech\u003c/code\u003e or \u003ccode\u003eText\u003c/code\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains fields describing a condition by which to filter the intents. The expression may be understood as \u003ccode\u003ename\u003c/code\u003e\n            \u003ccode\u003eoperator\u003c/code\u003e\n            \u003ccode\u003evalues\u003c/code\u003e. For example:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentName CO Book\u003c/code\u003e \u2013 The intent name contains the string \"Book.\"\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion EQ 2\u003c/code\u003e \u2013 The bot version is equal to two.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eThe operators that each filter supports are listed below:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSessionId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eOriginatingRequestId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentName\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eCO\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentEndState\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eCO\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentFilterName": {
        "type": "enum",
        "members": {
          "BotAliasId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "BotAliasId"
            }
          },
          "BotVersion": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "BotVersion"
            }
          },
          "Channel": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Channel"
            }
          },
          "IntentEndState": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "IntentEndState"
            }
          },
          "IntentName": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "IntentName"
            }
          },
          "LocaleId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "LocaleId"
            }
          },
          "Modality": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Modality"
            }
          },
          "OriginatingRequestId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "OriginatingRequestId"
            }
          },
          "SessionId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "SessionId"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentFilters": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentFilter"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 9
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupByKey": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentField",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA category by which the intent analytics were grouped.\u003c/p\u003e"
            }
          },
          "value": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsGroupByValue",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA member of the category by which the intent analytics were grouped.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the category by which the intent analytics were grouped and a member of that category.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupByKeys": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupByKey"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupByList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupBySpecification"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 3
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupBySpecification": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentField",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether to group the intent stages by their name or their end state.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the category by which to group the intents.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentMetric": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe metric for which you want to get intent summary statistics.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eCount\u003c/code\u003e \u2013 The number of times the intent was invoked.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSuccess\u003c/code\u003e \u2013 The number of times the intent succeeded.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eFailure\u003c/code\u003e \u2013 The number of times the intent failed.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSwitched\u003c/code\u003e \u2013 The number of times there was a switch to a different intent.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eDropped\u003c/code\u003e \u2013 The number of times the user dropped the intent.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "order": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsSortOrder",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether to sort the results in ascending or descending order.\u003c/p\u003e"
            }
          },
          "statistic": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe summary statistic to calculate.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSum\u003c/code\u003e \u2013 The total count for the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eAverage\u003c/code\u003e \u2013 The total count divided by the number of intents in the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eMax\u003c/code\u003e \u2013 The highest count in the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the metric and the summary statistic you want to calculate, and the order in which to sort the results, for the intents in the bot.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricName": {
        "type": "enum",
        "members": {
          "Count": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Count"
            }
          },
          "Dropped": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Dropped"
            }
          },
          "Failure": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Failure"
            }
          },
          "Success": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Success"
            }
          },
          "Switched": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Switched"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricResult": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe metric that you requested. See \u003ca href=\"https://docs.aws.amazon.com/lexv2/latest/dg/analytics-key-definitions.html\"\u003eKey definitions\u003c/a\u003e for more details about these metrics.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eCount\u003c/code\u003e \u2013 The number of times the intent was invoked.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSuccess\u003c/code\u003e \u2013 The number of times the intent succeeded.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eFailure\u003c/code\u003e \u2013 The number of times the intent failed.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSwitched\u003c/code\u003e \u2013 The number of times there was a switch to a different intent.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eDropped\u003c/code\u003e \u2013 The number of times the user dropped the intent.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
            }
          },
          "statistic": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe statistic that you requested to calculate.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSum\u003c/code\u003e \u2013 The total count for the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eAverage\u003c/code\u003e \u2013 The total count divided by the number of intents in the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eMax\u003c/code\u003e \u2013 The highest count in the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
            }
          },
          "value": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricValue",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe value of the summary statistic for the metric that you requested.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAn object containing the results for the intent metric you requested.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricResults": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricResult"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentMetrics": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentMetric"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 5
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentNodeSummaries": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentNodeSummary"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 100
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentNodeSummary": {
        "type": "structure",
        "members": {
          "intentCount": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsNodeCount",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe total number of sessions that follow the given path to the given intent.\u003c/p\u003e"
            }
          },
          "intentLevel": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsNodeLevel",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe number of intents up to and including the requested path.\u003c/p\u003e"
            }
          },
          "intentName": {
            "target": "com.amazonaws.lexmodelsv2#Name",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the intent at the end of the requested path.\u003c/p\u003e"
            }
          },
          "intentPath": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsPath",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe path.\u003c/p\u003e"
            }
          },
          "nodeType": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsNodeType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether the node is the end of a path (\u003ccode\u003eExit\u003c/code\u003e) or not (\u003ccode\u003eInner\u003c/code\u003e).\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAn object containing information about the requested path.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentResult": {
        "type": "structure",
        "members": {
          "binKeys": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsBinKeys",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of objects containing the criteria you requested for binning results and the values of the bins.\u003c/p\u003e"
            }
          },
          "groupByKeys": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupByKeys",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of objects containing the criteria you requested for grouping results and the values of the groups.\u003c/p\u003e"
            }
          },
          "metricsResults": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricResults",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of objects, each of which contains a metric you want to list, the statistic for the metric you want to return, and the method by which to organize the results.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAn object containing the results for the intent metrics you requested and the bin and/or group(s) they refer to, if applicable.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentResults": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentResult"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageField": {
        "type": "enum",
        "members": {
          "IntentStageName": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "IntentStageName"
            }
          },
          "SwitchedToIntent": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "SwitchedToIntent"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageFilter": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageFilterName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe category by which to filter the intent stages. The descriptions for each option are as follows:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 The name of the bot alias.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 The version of the bot.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 The locale of the bot.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 The modality of the session with the bot (audio, DTMF, or text).\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 The channel that the bot is integrated with.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSessionId\u003c/code\u003e \u2013 The identifier of the session with the bot.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eOriginatingRequestId\u003c/code\u003e \u2013 The identifier of the first request in a session.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentName\u003c/code\u003e \u2013 The name of the intent.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentStageName\u003c/code\u003e \u2013 The stage in the intent.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "operator": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterOperator",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe operation by which to filter the category. The following operations are possible:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eCO\u003c/code\u003e \u2013 Contains\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eEQ\u003c/code\u003e \u2013 Equals\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eGT\u003c/code\u003e \u2013 Greater than\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLT\u003c/code\u003e \u2013 Less than\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eThe operators that each filter supports are listed below:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSessionId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eOriginatingRequestId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentName\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eCO\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentStageName\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eCO\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "values": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterValues",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array containing the values of the category by which to apply the operator to filter the results. You can provide multiple values if the operator is \u003ccode\u003eEQ\u003c/code\u003e or \u003ccode\u003eCO\u003c/code\u003e. If you provide multiple values, you filter for results that equal/contain any of the values. For example, if the \u003ccode\u003ename\u003c/code\u003e, \u003ccode\u003eoperator\u003c/code\u003e, and \u003ccode\u003evalues\u003c/code\u003e fields are \u003ccode\u003eModality\u003c/code\u003e, \u003ccode\u003eEQ\u003c/code\u003e, and \u003ccode\u003e[Speech, Text]\u003c/code\u003e, the operation filters for results where the modality was either \u003ccode\u003eSpeech\u003c/code\u003e or \u003ccode\u003eText\u003c/code\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains fields describing a condition by which to filter the intent stages. The expression may be understood as \u003ccode\u003ename\u003c/code\u003e\n            \u003ccode\u003eoperator\u003c/code\u003e\n            \u003ccode\u003evalues\u003c/code\u003e. For example:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentName CO Book\u003c/code\u003e \u2013 The intent name contains the string \"Book.\"\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion EQ 2\u003c/code\u003e \u2013 The bot version is equal to two.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eThe operators that each filter supports are listed below:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSessionId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eOriginatingRequestId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentName\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eCO\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentStageName\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eCO\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageFilterName": {
        "type": "enum",
        "members": {
          "BotAliasId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "BotAliasId"
            }
          },
          "BotVersion": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "BotVersion"
            }
          },
          "Channel": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Channel"
            }
          },
          "IntentName": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "IntentName"
            }
          },
          "IntentStageName": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "IntentStageName"
            }
          },
          "LocaleId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "LocaleId"
            }
          },
          "Modality": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Modality"
            }
          },
          "OriginatingRequestId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "OriginatingRequestId"
            }
          },
          "SessionId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "SessionId"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageFilters": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageFilter"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 9
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupByKey": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageField",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA category by which the intent stage analytics were grouped.\u003c/p\u003e"
            }
          },
          "value": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsGroupByValue",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA member of the category by which the intent stage analytics were grouped.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the category by which the intent stage analytics and the values for that category were grouped.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupByKeys": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupByKey"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupByList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupBySpecification"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 2
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupBySpecification": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageField",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether to group the intent stages by their name or the intent to which the session was switched.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the category by which to group the intent stages.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetric": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe metric for which you want to get intent stage summary statistics. See \u003ca href=\"https://docs.aws.amazon.com/lexv2/latest/dg/analytics-key-definitions.html\"\u003eKey definitions\u003c/a\u003e for more details about these metrics.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eCount\u003c/code\u003e \u2013 The number of times the intent stage occurred.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSuccess\u003c/code\u003e \u2013 The number of times the intent stage succeeded.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eFailure\u003c/code\u003e \u2013 The number of times the intent stage failed.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eDropped\u003c/code\u003e \u2013 The number of times the user dropped the intent stage.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eRetry\u003c/code\u003e \u2013 The number of times the bot tried to elicit a response from the user at this stage.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "order": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsSortOrder",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether to sort the results in ascending or descending order of the summary statistic (\u003ccode\u003evalue\u003c/code\u003e in the response).\u003c/p\u003e"
            }
          },
          "statistic": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe summary statistic to calculate.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSum\u003c/code\u003e \u2013 The total count for the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eAverage\u003c/code\u003e \u2013 The total count divided by the number of intent stages in the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eMax\u003c/code\u003e \u2013 The highest count in the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the metric and the summary statistic you want to calculate, and the order in which to sort the results, for the intent stages across the user sessions with the bot.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricName": {
        "type": "enum",
        "members": {
          "Count": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Count"
            }
          },
          "Dropped": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Dropped"
            }
          },
          "Failed": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Failed"
            }
          },
          "Retry": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Retry"
            }
          },
          "Success": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Success"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricResult": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe metric that you requested.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eCount\u003c/code\u003e \u2013 The number of times the intent stage occurred.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSuccess\u003c/code\u003e \u2013 The number of times the intent stage succeeded.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eFailure\u003c/code\u003e \u2013 The number of times the intent stage failed.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eDropped\u003c/code\u003e \u2013 The number of times the user dropped the intent stage.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eRetry\u003c/code\u003e \u2013 The number of times the bot tried to elicit a response from the user at this stage.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
            }
          },
          "statistic": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe summary statistic that you requested to calculate.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSum\u003c/code\u003e \u2013 The total count for the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eAverage\u003c/code\u003e \u2013 The total count divided by the number of intent stages in the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eMax\u003c/code\u003e \u2013 The highest count in the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
            }
          },
          "value": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricValue",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe value of the summary statistic for the metric that you requested.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAn object containing the results for an intent stage metric you requested.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricResults": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricResult"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetrics": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetric"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 5
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageResult": {
        "type": "structure",
        "members": {
          "binKeys": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsBinKeys",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of objects containing the criteria you requested for binning results and the values of the bins.\u003c/p\u003e"
            }
          },
          "groupByKeys": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupByKeys",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of objects containing the criteria you requested for grouping results and the values of the bins.\u003c/p\u003e"
            }
          },
          "metricsResults": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricResults",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of objects, each of which contains a metric you want to list, the statistic for the metric you want to return, and the method by which to organize the results.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAn object containing the results for the intent stage metrics you requested and the bin and/or group they refer to, if applicable.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsIntentStageResults": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageResult"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsInterval": {
        "type": "enum",
        "members": {
          "OneDay": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "OneDay"
            }
          },
          "OneHour": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "OneHour"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsLongValue": {
        "type": "long"
      },
      "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic": {
        "type": "enum",
        "members": {
          "Avg": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Avg"
            }
          },
          "Max": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Max"
            }
          },
          "Sum": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Sum"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsMetricValue": {
        "type": "double"
      },
      "com.amazonaws.lexmodelsv2#AnalyticsModality": {
        "type": "enum",
        "members": {
          "DTMF": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "DTMF"
            }
          },
          "MultiMode": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "MultiMode"
            }
          },
          "Speech": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Speech"
            }
          },
          "Text": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Text"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsNodeCount": {
        "type": "integer"
      },
      "com.amazonaws.lexmodelsv2#AnalyticsNodeLevel": {
        "type": "integer",
        "traits": {
          "smithy.api#range": {
            "min": 0,
            "max": 100
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsNodeType": {
        "type": "enum",
        "members": {
          "Exit": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Exit"
            }
          },
          "Inner": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Inner"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsOriginatingRequestId": {
        "type": "string"
      },
      "com.amazonaws.lexmodelsv2#AnalyticsPath": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 1024
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsPathFilter": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsCommonFilterName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe category by which to filter the intent paths. The descriptions for each option are as follows:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 The name of the bot alias.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 The version of the bot.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 The locale of the bot.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 The modality of the session with the bot (audio, DTMF, or text).\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 The channel that the bot is integrated with.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "operator": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterOperator",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe operation by which to filter the category. The following operations are possible:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eCO\u003c/code\u003e \u2013 Contains\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eEQ\u003c/code\u003e \u2013 Equals\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eGT\u003c/code\u003e \u2013 Greater than\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLT\u003c/code\u003e \u2013 Less than\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eThe operators that each filter supports are listed below:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "values": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterValues",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array containing the values of the category by which to apply the operator to filter the results. You can provide multiple values if the operator is \u003ccode\u003eEQ\u003c/code\u003e or \u003ccode\u003eCO\u003c/code\u003e. If you provide multiple values, you filter for results that equal/contain any of the values. For example, if the \u003ccode\u003ename\u003c/code\u003e, \u003ccode\u003eoperator\u003c/code\u003e, and \u003ccode\u003evalues\u003c/code\u003e fields are \u003ccode\u003eModality\u003c/code\u003e, \u003ccode\u003eEQ\u003c/code\u003e, and \u003ccode\u003e[Speech, Text]\u003c/code\u003e, the operation filters for results where the modality was either \u003ccode\u003eSpeech\u003c/code\u003e or \u003ccode\u003eText\u003c/code\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains fields describing a condition by which to filter the paths. The expression may be understood as \u003ccode\u003ename\u003c/code\u003e\n            \u003ccode\u003eoperator\u003c/code\u003e\n            \u003ccode\u003evalues\u003c/code\u003e. For example:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId EQ en\u003c/code\u003e \u2013 The locale is \"en\".\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion EQ 2\u003c/code\u003e \u2013 The bot version is equal to two.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eThe operators that each filter supports are listed below:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsPathFilters": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsPathFilter"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 5
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionField": {
        "type": "enum",
        "members": {
          "ConversationEndState": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ConversationEndState"
            }
          },
          "LocaleId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "LocaleId"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionFilter": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionFilterName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe category by which to filter the sessions. The descriptions for each option are as follows:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 The name of the bot alias.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 The version of the bot.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 The locale of the bot.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 The modality of the session with the bot (audio, DTMF, or text).\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 The channel that the bot is integrated with.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eDuration\u003c/code\u003e \u2013 The duration of the session.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003econversationEndState\u003c/code\u003e \u2013 The final state of the session.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSessionId\u003c/code\u003e \u2013 The identifier of the session with the bot.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eOriginatingRequestId\u003c/code\u003e \u2013 The identifier of the first request in a session.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentPath\u003c/code\u003e \u2013 The order of intents taken in a session.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "operator": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterOperator",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe operation by which to filter the category. The following operations are possible:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eCO\u003c/code\u003e \u2013 Contains\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eEQ\u003c/code\u003e \u2013 Equals\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eGT\u003c/code\u003e \u2013 Greater than\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLT\u003c/code\u003e \u2013 Less than\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eThe operators that each filter supports are listed below:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eDuration\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eGT\u003c/code\u003e, \u003ccode\u003eLT\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003econversationEndState\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eCO\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSessionId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eOriginatingRequestId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentPath\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "values": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterValues",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array containing the values of the category by which to apply the operator to filter the results. You can provide multiple values if the operator is \u003ccode\u003eEQ\u003c/code\u003e or \u003ccode\u003eCO\u003c/code\u003e. If you provide multiple values, you filter for results that equal/contain any of the values. For example, if the \u003ccode\u003ename\u003c/code\u003e, \u003ccode\u003eoperator\u003c/code\u003e, and \u003ccode\u003evalues\u003c/code\u003e fields are \u003ccode\u003eModality\u003c/code\u003e, \u003ccode\u003eEQ\u003c/code\u003e, and \u003ccode\u003e[Speech, Text]\u003c/code\u003e, the operation filters for results where the modality was either \u003ccode\u003eSpeech\u003c/code\u003e or \u003ccode\u003eText\u003c/code\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains fields describing a condition by which to filter the sessions. The expression may be understood as \u003ccode\u003ename\u003c/code\u003e\n            \u003ccode\u003eoperator\u003c/code\u003e\n            \u003ccode\u003evalues\u003c/code\u003e. For example:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId EQ en\u003c/code\u003e \u2013 The locale is \"en\".\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eDuration GT 200\u003c/code\u003e \u2013 The duration is greater than 200 seconds.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eThe operators that each filter supports are listed below:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotAlias\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eBotVersion\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eLocaleId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eModality\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eChannel\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eDuration\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eGT\u003c/code\u003e, \u003ccode\u003eLT\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003econversationEndState\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e, \u003ccode\u003eCO\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSessionId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eOriginatingRequestId\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eIntentPath\u003c/code\u003e \u2013 \u003ccode\u003eEQ\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionFilterName": {
        "type": "enum",
        "members": {
          "BotAliasId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "BotAliasId"
            }
          },
          "BotVersion": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "BotVersion"
            }
          },
          "Channel": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Channel"
            }
          },
          "ConversationEndState": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ConversationEndState"
            }
          },
          "Duration": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Duration"
            }
          },
          "IntentPath": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "IntentPath"
            }
          },
          "LocaleId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "LocaleId"
            }
          },
          "Modality": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Modality"
            }
          },
          "OriginatingRequestId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "OriginatingRequestId"
            }
          },
          "SessionId": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "SessionId"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionFilters": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionFilter"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 10
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupByKey": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionField",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe category by which the session analytics were grouped.\u003c/p\u003e"
            }
          },
          "value": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsGroupByValue",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA member of the category by which the session analytics were grouped.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the category by which the session analytics were grouped and a member of that category.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupByKeys": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupByKey"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupByList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupBySpecification"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 2
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupBySpecification": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionField",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether to group the session by their end state or their locale.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the category by which to group the sessions.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionId": {
        "type": "string",
        "traits": {
          "smithy.api#pattern": "^[0-9a-zA-Z._:-]$"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionMetric": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionMetricName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe metric for which you want to get session summary statistics.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eCount\u003c/code\u003e \u2013 The number of sessions.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSuccess\u003c/code\u003e \u2013 The number of sessions that succeeded.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eFailure\u003c/code\u003e \u2013 The number of sessions that failed.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eDropped\u003c/code\u003e \u2013 The number of sessions that the user dropped.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eDuration\u003c/code\u003e \u2013 The duration of sessions.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eTurnsPerSession\u003c/code\u003e \u2013 The number of turns in the sessions.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eConcurrency\u003c/code\u003e \u2013 The number of sessions occurring in the same period of time.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "order": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsSortOrder",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether to sort the results in ascending or descending order.\u003c/p\u003e"
            }
          },
          "statistic": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe summary statistic to calculate.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eSum\u003c/code\u003e \u2013 The total count for the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eAverage\u003c/code\u003e \u2013 The total count divided by the number of sessions in the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eMax\u003c/code\u003e \u2013 The highest count in the category you provide in \u003ccode\u003ename\u003c/code\u003e.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the metric and the summary statistic you want to calculate, and the order in which to sort the results, for the user sessions with the bot.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionMetricName": {
        "type": "enum",
        "members": {
          "Concurrency": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Concurrency"
            }
          },
          "Count": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Count"
            }
          },
          "Dropped": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Dropped"
            }
          },
          "Duration": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Duration"
            }
          },
          "Failure": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Failure"
            }
          },
          "Success": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Success"
            }
          },
          "TurnsPerConversation": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "TurnsPerConversation"
            }
          }
        }
      },
      "com.amazonaws.lexmodelsv2#AnalyticsSessionMetricResult": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionMetricName",
            "traits": {
[...]
