{
  "schema_source": "smithy",
  "mode": "data_source",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://aws.example.invalid",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "aws",
  "raw_spec": {
    "smithy": "2.0",
    "metadata": {
      "suppressions": [
        {
          "id": "HttpMethodSemantics",
          "namespace": "*"
        },
        {
          "id": "HttpResponseCodeSemantics",
          "namespace": "*"
        },
        {
          "id": "PaginatedTrait",
          "namespace": "*"
        },
        {
          "id": "HttpHeaderTrait",
          "namespace": "*"
        },
        {
          "id": "HttpUriConflict",
          "namespace": "*"
        },
        {
          "id": "Service",
          "namespace": "*"
        }
      ]
    },
    "shapes": {
      "com.amazonaws.cloudhsmv2#Backup": {
        "type": "structure",
        "members": {
          "BackupArn": {
            "target": "com.amazonaws.cloudhsmv2#BackupArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the backup.\u003c/p\u003e"
            }
          },
          "BackupId": {
            "target": "com.amazonaws.cloudhsmv2#BackupId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the backup.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "BackupState": {
            "target": "com.amazonaws.cloudhsmv2#BackupState",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe state of the backup.\u003c/p\u003e"
            }
          },
          "ClusterId": {
            "target": "com.amazonaws.cloudhsmv2#ClusterId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the cluster that was backed up.\u003c/p\u003e"
            }
          },
          "CopyTimestamp": {
            "target": "com.amazonaws.cloudhsmv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe date and time when the backup was copied from a source backup.\u003c/p\u003e"
            }
          },
          "CreateTimestamp": {
            "target": "com.amazonaws.cloudhsmv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe date and time when the backup was created.\u003c/p\u003e"
            }
          },
          "DeleteTimestamp": {
            "target": "com.amazonaws.cloudhsmv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe date and time when the backup will be permanently deleted.\u003c/p\u003e"
            }
          },
          "HsmType": {
            "target": "com.amazonaws.cloudhsmv2#HsmType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe HSM type used to create the backup.\u003c/p\u003e"
            }
          },
          "Mode": {
            "target": "com.amazonaws.cloudhsmv2#ClusterMode",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe mode of the cluster that was backed up.\u003c/p\u003e"
            }
          },
          "NeverExpires": {
            "target": "com.amazonaws.cloudhsmv2#Boolean",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies whether the service should exempt a backup from the retention policy for the cluster. \u003ccode\u003eTrue\u003c/code\u003e exempts \n      a backup from the retention policy. \u003ccode\u003eFalse\u003c/code\u003e means the service applies the backup retention policy defined at the cluster.\u003c/p\u003e"
            }
          },
          "SourceBackup": {
            "target": "com.amazonaws.cloudhsmv2#BackupId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the source backup from which the new backup was\n      copied.\u003c/p\u003e"
            }
          },
          "SourceCluster": {
            "target": "com.amazonaws.cloudhsmv2#ClusterId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the cluster containing the source backup from which the new\n      backup was copied.\u003c/p\u003e"
            }
          },
          "SourceRegion": {
            "target": "com.amazonaws.cloudhsmv2#Region",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe AWS Region that contains the source backup from which the new backup was\n      copied.\u003c/p\u003e"
            }
          },
          "TagList": {
            "target": "com.amazonaws.cloudhsmv2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe list of tags for the backup.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains information about a backup of an CloudHSM cluster. All backup objects\n      contain the \u003ccode\u003eBackupId\u003c/code\u003e, \u003ccode\u003eBackupState\u003c/code\u003e, \u003ccode\u003eClusterId\u003c/code\u003e, and\n        \u003ccode\u003eCreateTimestamp\u003c/code\u003e parameters. Backups that were copied into a destination region\n      additionally contain the \u003ccode\u003eCopyTimestamp\u003c/code\u003e, \u003ccode\u003eSourceBackup\u003c/code\u003e,\n        \u003ccode\u003eSourceCluster\u003c/code\u003e, and \u003ccode\u003eSourceRegion\u003c/code\u003e parameters. A backup that is\n      pending deletion will include the \u003ccode\u003eDeleteTimestamp\u003c/code\u003e parameter.\u003c/p\u003e"
        }
      },
      "com.amazonaws.cloudhsmv2#BackupArn": {
        "type": "string",
        "traits": {
          "smithy.api#pattern": "^(arn:aws(-(us-gov))?:cloudhsm:([a-z]{2}(-(gov|isob|iso))?-(east|west|north|south|central){1,2}-[0-9]{1}):[0-9]{12}:backup/)?backup-[2-7a-zA-Z]{11,16}$"
        }
      },
      "com.amazonaws.cloudhsmv2#BackupId": {
        "type": "string",
        "traits": {
          "smithy.api#pattern": "^backup-[2-7a-zA-Z]{11,16}$"
        }
      },
      "com.amazonaws.cloudhsmv2#BackupPolicy": {
        "type": "enum",
        "members": {
          "DEFAULT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "DEFAULT"
            }
          }
        }
      },
      "com.amazonaws.cloudhsmv2#BackupRetentionPolicy": {
        "type": "structure",
        "members": {
          "Type": {
            "target": "com.amazonaws.cloudhsmv2#BackupRetentionType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe type of backup retention policy. For the \u003ccode\u003eDAYS\u003c/code\u003e type, the value is \n            the number of days to retain backups.\u003c/p\u003e"
            }
          },
          "Value": {
            "target": "com.amazonaws.cloudhsmv2#BackupRetentionValue",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUse a value between 7 - 379.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eA policy that defines the number of days to retain backups.\u003c/p\u003e"
        }
      },
      "com.amazonaws.cloudhsmv2#BackupRetentionType": {
        "type": "enum",
        "members": {
          "DAYS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "DAYS"
            }
          }
        }
      },
      "com.amazonaws.cloudhsmv2#BackupRetentionValue": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 3
          },
          "smithy.api#pattern": "^[0-9]+$"
        }
      },
      "com.amazonaws.cloudhsmv2#BackupState": {
        "type": "enum",
        "members": {
          "CREATE_IN_PROGRESS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "CREATE_IN_PROGRESS"
            }
          },
          "DELETED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "DELETED"
            }
          },
          "PENDING_DELETION": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "PENDING_DELETION"
            }
          },
          "READY": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "READY"
            }
          }
        }
      },
      "com.amazonaws.cloudhsmv2#Backups": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.cloudhsmv2#Backup"
        }
      },
      "com.amazonaws.cloudhsmv2#BackupsMaxSize": {
        "type": "integer",
        "traits": {
          "smithy.api#range": {
            "min": 1,
            "max": 50
          }
        }
      },
      "com.amazonaws.cloudhsmv2#BaldrApiService": {
        "type": "service",
        "version": "2017-04-28",
        "operations": [
          {
            "target": "com.amazonaws.cloudhsmv2#CopyBackupToRegion"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CreateCluster"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CreateHsm"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#DeleteBackup"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#DeleteCluster"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#DeleteHsm"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#DeleteResourcePolicy"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#DescribeBackups"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#DescribeClusters"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#GetResourcePolicy"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#InitializeCluster"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#ListTags"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#ModifyBackupAttributes"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#ModifyCluster"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#PutResourcePolicy"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#RestoreBackup"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#TagResource"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#UntagResource"
          }
        ],
        "traits": {
          "aws.api#service": {
            "sdkId": "CloudHSM V2",
            "arnNamespace": "cloudhsm",
            "cloudFormationName": "CloudHSMV2",
            "cloudTrailEventSource": "cloudhsmv2.amazonaws.com",
            "docId": "cloudhsmv2-2017-04-28",
            "endpointPrefix": "cloudhsmv2"
          },
          "aws.auth#sigv4": {
            "name": "cloudhsm"
          },
          "aws.protocols#awsJson1_1": {},
          "smithy.api#documentation": "\u003cp\u003eFor more information about CloudHSM, see \u003ca href=\"http://aws.amazon.com/cloudhsm/\"\u003eCloudHSM\u003c/a\u003e and the \u003ca href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/\"\u003e\n      CloudHSM User Guide\u003c/a\u003e.\u003c/p\u003e",
          "smithy.api#title": "AWS CloudHSM V2",
          "smithy.rules#endpointBdd": {
            "version": "1.1",
            "parameters": {
              "Region": {
                "builtIn": "AWS::Region",
                "required": false,
                "documentation": "The AWS region used to dispatch the request.",
                "type": "string"
              },
              "UseDualStack": {
                "builtIn": "AWS::UseDualStack",
                "required": true,
                "default": false,
                "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                "type": "boolean"
              },
              "UseFIPS": {
                "builtIn": "AWS::UseFIPS",
                "required": true,
                "default": false,
                "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                "type": "boolean"
              },
              "Endpoint": {
                "builtIn": "SDK::Endpoint",
                "required": false,
                "documentation": "Override the endpoint used to send this request",
                "type": "string"
              }
            },
            "conditions": [
              {
                "fn": "isSet",
                "argv": [
                  {
                    "ref": "Endpoint"
                  }
                ]
              },
              {
                "fn": "isSet",
                "argv": [
                  {
                    "ref": "Region"
                  }
                ]
              },
              {
                "fn": "aws.partition",
                "argv": [
                  {
                    "ref": "Region"
                  }
                ],
                "assign": "PartitionResult"
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "ref": "UseFIPS"
                  },
                  true
                ]
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "ref": "UseDualStack"
                  },
                  true
                ]
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "fn": "getAttr",
                    "argv": [
                      {
                        "ref": "PartitionResult"
                      },
                      "supportsDualStack"
                    ]
                  },
                  true
                ]
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "fn": "getAttr",
                    "argv": [
                      {
                        "ref": "PartitionResult"
                      },
                      "supportsFIPS"
                    ]
                  },
                  true
                ]
              },
              {
                "fn": "stringEquals",
                "argv": [
                  {
                    "fn": "getAttr",
                    "argv": [
                      {
                        "ref": "PartitionResult"
                      },
                      "name"
                    ]
                  },
                  "aws-us-gov"
                ]
              },
              {
                "fn": "stringEquals",
                "argv": [
                  {
                    "fn": "getAttr",
                    "argv": [
                      {
                        "ref": "PartitionResult"
                      },
                      "name"
                    ]
                  },
                  "aws"
                ]
              }
            ],
            "results": [
              {
                "conditions": [],
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                "type": "error"
              },
              {
                "conditions": [],
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": {
                    "ref": "Endpoint"
                  },
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://cloudhsmv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://cloudhsmv2-fips.{Region}.{PartitionResult#dnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "FIPS is enabled but this partition does not support FIPS",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://cloudhsmv2.{Region}.{PartitionResult#dualStackDnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "DualStack is enabled but this partition does not support DualStack",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://cloudhsmv2.{Region}.amazonaws.com",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://cloudhsmv2.{Region}.{PartitionResult#dnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "Invalid Configuration: Missing Region",
                "type": "error"
              }
            ],
            "root": 2,
            "nodeCount": 15,
            "nodes": "/////wAAAAH/////AAAAAAAAAA4AAAADAAAAAQAAAAQF9eEMAAAAAgAAAAUF9eEMAAAAAwAAAAoAAAAGAAAABAAAAAkAAAAHAAAABwX14QoAAAAIAAAACAX14QoF9eELAAAABQX14QgF9eEJAAAABAAAAAwAAAALAAAABgX14QYF9eEHAAAABQAAAA0F9eEFAAAABgX14QQF9eEFAAAAAwX14QEAAAAPAAAABAX14QIF9eED"
          },
          "smithy.rules#endpointRuleSet": {
            "version": "1.0",
            "parameters": {
              "Region": {
                "builtIn": "AWS::Region",
                "required": false,
                "documentation": "The AWS region used to dispatch the request.",
                "type": "string"
              },
              "UseDualStack": {
                "builtIn": "AWS::UseDualStack",
                "required": true,
                "default": false,
                "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                "type": "boolean"
              },
              "UseFIPS": {
                "builtIn": "AWS::UseFIPS",
                "required": true,
                "default": false,
                "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                "type": "boolean"
              },
              "Endpoint": {
                "builtIn": "SDK::Endpoint",
                "required": false,
                "documentation": "Override the endpoint used to send this request",
                "type": "string"
              }
            },
            "rules": [
              {
                "conditions": [
                  {
                    "fn": "isSet",
                    "argv": [
                      {
                        "ref": "Endpoint"
                      }
                    ]
                  }
                ],
                "rules": [
                  {
                    "conditions": [
                      {
                        "fn": "booleanEquals",
                        "argv": [
                          {
                            "ref": "UseFIPS"
                          },
                          true
                        ]
                      }
                    ],
                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                    "type": "error"
                  },
                  {
                    "conditions": [
                      {
                        "fn": "booleanEquals",
                        "argv": [
                          {
                            "ref": "UseDualStack"
                          },
                          true
                        ]
                      }
                    ],
                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                    "type": "error"
                  },
                  {
                    "conditions": [],
                    "endpoint": {
                      "url": {
                        "ref": "Endpoint"
                      },
                      "properties": {},
                      "headers": {}
                    },
                    "type": "endpoint"
                  }
                ],
                "type": "tree"
              },
              {
                "conditions": [
                  {
                    "fn": "isSet",
                    "argv": [
                      {
                        "ref": "Region"
                      }
                    ]
                  }
                ],
                "rules": [
                  {
                    "conditions": [
                      {
                        "fn": "aws.partition",
                        "argv": [
                          {
                            "ref": "Region"
                          }
                        ],
                        "assign": "PartitionResult"
                      }
                    ],
                    "rules": [
                      {
                        "conditions": [
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseFIPS"
                              },
                              true
                            ]
                          },
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseDualStack"
                              },
                              true
                            ]
                          }
                        ],
                        "rules": [
                          {
                            "conditions": [
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  true,
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsFIPS"
                                    ]
                                  }
                                ]
                              },
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  true,
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsDualStack"
                                    ]
                                  }
                                ]
                              }
                            ],
                            "rules": [
                              {
                                "conditions": [],
                                "endpoint": {
                                  "url": "https://cloudhsmv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                  "properties": {},
                                  "headers": {}
                                },
                                "type": "endpoint"
                              }
                            ],
                            "type": "tree"
                          },
                          {
                            "conditions": [],
                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                            "type": "error"
                          }
                        ],
                        "type": "tree"
                      },
                      {
                        "conditions": [
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseFIPS"
                              },
                              true
                            ]
                          }
                        ],
                        "rules": [
                          {
                            "conditions": [
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsFIPS"
                                    ]
                                  },
                                  true
                                ]
                              }
                            ],
                            "rules": [
                              {
                                "conditions": [],
                                "endpoint": {
                                  "url": "https://cloudhsmv2-fips.{Region}.{PartitionResult#dnsSuffix}",
                                  "properties": {},
                                  "headers": {}
                                },
                                "type": "endpoint"
                              }
                            ],
                            "type": "tree"
                          },
                          {
                            "conditions": [],
                            "error": "FIPS is enabled but this partition does not support FIPS",
                            "type": "error"
                          }
                        ],
                        "type": "tree"
                      },
                      {
                        "conditions": [
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseDualStack"
                              },
                              true
                            ]
                          }
                        ],
                        "rules": [
                          {
                            "conditions": [
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  true,
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsDualStack"
                                    ]
                                  }
                                ]
                              }
                            ],
                            "rules": [
                              {
                                "conditions": [],
                                "endpoint": {
                                  "url": "https://cloudhsmv2.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                  "properties": {},
                                  "headers": {}
                                },
                                "type": "endpoint"
                              }
                            ],
                            "type": "tree"
                          },
                          {
                            "conditions": [],
                            "error": "DualStack is enabled but this partition does not support DualStack",
                            "type": "error"
                          }
                        ],
                        "type": "tree"
                      },
                      {
                        "conditions": [
                          {
                            "fn": "stringEquals",
                            "argv": [
                              "aws",
                              {
                                "fn": "getAttr",
                                "argv": [
                                  {
                                    "ref": "PartitionResult"
                                  },
                                  "name"
                                ]
                              }
                            ]
                          }
                        ],
                        "endpoint": {
                          "url": "https://cloudhsmv2.{Region}.amazonaws.com",
                          "properties": {},
                          "headers": {}
                        },
                        "type": "endpoint"
                      },
                      {
                        "conditions": [
                          {
                            "fn": "stringEquals",
                            "argv": [
                              "aws-us-gov",
                              {
                                "fn": "getAttr",
                                "argv": [
                                  {
                                    "ref": "PartitionResult"
                                  },
                                  "name"
                                ]
                              }
                            ]
                          }
                        ],
                        "endpoint": {
                          "url": "https://cloudhsmv2.{Region}.amazonaws.com",
                          "properties": {},
                          "headers": {}
                        },
                        "type": "endpoint"
                      },
                      {
                        "conditions": [],
                        "endpoint": {
                          "url": "https://cloudhsmv2.{Region}.{PartitionResult#dnsSuffix}",
                          "properties": {},
                          "headers": {}
                        },
                        "type": "endpoint"
                      }
                    ],
                    "type": "tree"
                  }
                ],
                "type": "tree"
              },
              {
                "conditions": [],
                "error": "Invalid Configuration: Missing Region",
                "type": "error"
              }
            ]
          },
          "smithy.rules#endpointTests": {
            "testCases": [
              {
                "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.af-south-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "af-south-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.ap-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ap-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.ap-northeast-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ap-northeast-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.ap-northeast-2.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ap-northeast-2",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.ap-northeast-3.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ap-northeast-3",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.ap-south-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ap-south-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.ap-southeast-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ap-southeast-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.ap-southeast-2.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ap-southeast-2",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.ca-central-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ca-central-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.eu-central-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "eu-central-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.eu-north-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "eu-north-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.eu-south-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "eu-south-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.eu-west-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "eu-west-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.eu-west-2.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "eu-west-2",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.eu-west-3.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "eu-west-3",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.me-south-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "me-south-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.sa-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "sa-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.us-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.us-east-2.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-east-2",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.us-west-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-west-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.us-west-2.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-west-2",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2-fips.us-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": true,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2-fips.us-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.us-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2-fips.cn-north-1.api.amazonwebservices.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": true,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2-fips.cn-north-1.amazonaws.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.cn-north-1.api.amazonwebservices.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": false,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.cn-north-1.amazonaws.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.us-gov-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.us-gov-west-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-gov-west-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2-fips.us-gov-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": true,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2-fips.us-gov-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.us-gov-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": false,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2-fips.us-iso-east-1.c2s.ic.gov"
                  }
                },
                "params": {
                  "Region": "us-iso-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.us-iso-east-1.c2s.ic.gov"
                  }
                },
                "params": {
                  "Region": "us-iso-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2-fips.us-isob-east-1.sc2s.sgov.gov"
                  }
                },
                "params": {
                  "Region": "us-isob-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://cloudhsmv2.us-isob-east-1.sc2s.sgov.gov"
                  }
                },
                "params": {
                  "Region": "us-isob-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://example.com"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://example.com"
                  }
                },
                "params": {
                  "UseFIPS": false,
                  "UseDualStack": false,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                "expect": {
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                "expect": {
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": true,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "Missing region",
                "expect": {
                  "error": "Invalid Configuration: Missing Region"
                }
              }
            ],
            "version": "1.0"
          }
        }
      },
      "com.amazonaws.cloudhsmv2#Boolean": {
        "type": "boolean"
      },
      "com.amazonaws.cloudhsmv2#Cert": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 0,
            "max": 20000
          },
          "smithy.api#pattern": "^[a-zA-Z0-9+-/=\\s]*$"
        }
      },
      "com.amazonaws.cloudhsmv2#Certificates": {
        "type": "structure",
        "members": {
          "AwsHardwareCertificate": {
            "target": "com.amazonaws.cloudhsmv2#Cert",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe HSM hardware certificate issued (signed) by CloudHSM.\u003c/p\u003e"
            }
          },
          "ClusterCertificate": {
            "target": "com.amazonaws.cloudhsmv2#Cert",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe cluster certificate issued (signed) by the issuing certificate authority (CA) of\n      the cluster's owner.\u003c/p\u003e"
            }
          },
          "ClusterCsr": {
            "target": "com.amazonaws.cloudhsmv2#Cert",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe cluster's certificate signing request (CSR). The CSR exists only when the cluster's\n      state is \u003ccode\u003eUNINITIALIZED\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "HsmCertificate": {
            "target": "com.amazonaws.cloudhsmv2#Cert",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe HSM certificate issued (signed) by the HSM hardware.\u003c/p\u003e"
            }
          },
          "ManufacturerHardwareCertificate": {
            "target": "com.amazonaws.cloudhsmv2#Cert",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe HSM hardware certificate issued (signed) by the hardware manufacturer.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains one or more certificates or a certificate signing request (CSR).\u003c/p\u003e"
        }
      },
      "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.cloudhsmv2#errorMessage"
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe request was rejected because the requester does not have permission to perform the\n      requested operation.\u003c/p\u003e",
          "smithy.api#error": "client"
        }
      },
      "com.amazonaws.cloudhsmv2#CloudHsmArn": {
        "type": "string",
        "traits": {
          "smithy.api#pattern": "^arn:aws(-(us-gov))?:cloudhsm:([a-z]{2}(-(gov|isob|iso))?-(east|west|north|south|central){1,2}-[0-9]{1}):[0-9]{12}:(backup/backup|cluster/cluster|hsm/hsm)-[2-7a-zA-Z]{11,16}$"
        }
      },
      "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.cloudhsmv2#errorMessage"
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe request was rejected because of an CloudHSM internal failure. The request can\n      be retried.\u003c/p\u003e",
          "smithy.api#error": "server"
        }
      },
      "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.cloudhsmv2#errorMessage"
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe request was rejected because it is not a valid request.\u003c/p\u003e",
          "smithy.api#error": "client"
        }
      },
      "com.amazonaws.cloudhsmv2#CloudHsmResourceLimitExceededException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.cloudhsmv2#errorMessage"
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe request was rejected because it exceeds an CloudHSM limit.\u003c/p\u003e",
          "smithy.api#error": "client"
        }
      },
      "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.cloudhsmv2#errorMessage"
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe request was rejected because it refers to a resource that cannot be\n      found.\u003c/p\u003e",
          "smithy.api#error": "client"
        }
      },
      "com.amazonaws.cloudhsmv2#CloudHsmServiceException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.cloudhsmv2#errorMessage"
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe request was rejected because an error occurred.\u003c/p\u003e",
          "smithy.api#error": "client"
        }
      },
      "com.amazonaws.cloudhsmv2#CloudHsmTagException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.cloudhsmv2#errorMessage"
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe request was rejected because of a tagging failure. Verify the tag conditions in all applicable policies, and then retry the request.\u003c/p\u003e",
          "smithy.api#error": "client"
        }
      },
      "com.amazonaws.cloudhsmv2#Cluster": {
        "type": "structure",
        "members": {
          "BackupPolicy": {
            "target": "com.amazonaws.cloudhsmv2#BackupPolicy",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe cluster's backup policy.\u003c/p\u003e"
            }
          },
          "BackupRetentionPolicy": {
            "target": "com.amazonaws.cloudhsmv2#BackupRetentionPolicy",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA policy that defines how the service retains backups.\u003c/p\u003e"
            }
          },
          "Certificates": {
            "target": "com.amazonaws.cloudhsmv2#Certificates",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eContains one or more certificates or a certificate signing request (CSR).\u003c/p\u003e"
            }
          },
          "ClusterId": {
            "target": "com.amazonaws.cloudhsmv2#ClusterId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe cluster's identifier (ID).\u003c/p\u003e"
            }
          },
          "CreateTimestamp": {
            "target": "com.amazonaws.cloudhsmv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe date and time when the cluster was created.\u003c/p\u003e"
            }
          },
          "HsmType": {
            "target": "com.amazonaws.cloudhsmv2#HsmType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe type of HSM that the cluster contains.\u003c/p\u003e"
            }
          },
          "HsmTypeRollbackExpiration": {
            "target": "com.amazonaws.cloudhsmv2#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe timestamp until when the cluster can be rolled back to its original HSM type.\u003c/p\u003e"
            }
          },
          "Hsms": {
            "target": "com.amazonaws.cloudhsmv2#Hsms",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eContains information about the HSMs in the cluster.\u003c/p\u003e"
            }
          },
          "Mode": {
            "target": "com.amazonaws.cloudhsmv2#ClusterMode",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe mode of the cluster.\u003c/p\u003e"
            }
          },
          "NetworkType": {
            "target": "com.amazonaws.cloudhsmv2#NetworkType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe cluster's NetworkType can be IPv4 (the default) or DUALSTACK.\n        The IPv4 NetworkType restricts communication between your application and the hardware security modules (HSMs) to the IPv4 protocol only. The DUALSTACK NetworkType enables communication over both IPv4 and IPv6 protocols.\n        To use DUALSTACK, configure your virtual private cloud (VPC) and subnets to support both IPv4 and IPv6.\n        This configuration involves adding IPv6 Classless Inter-Domain Routing (CIDR) blocks to the existing IPv4 CIDR blocks in your subnets.\n        The NetworkType you choose affects the network addressing options for your cluster. DUALSTACK provides more flexibility by supporting both IPv4 and IPv6 communication.\u003c/p\u003e"
            }
          },
          "PreCoPassword": {
            "target": "com.amazonaws.cloudhsmv2#PreCoPassword",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe default password for the cluster's Pre-Crypto Officer (PRECO) user.\u003c/p\u003e"
            }
          },
          "SecurityGroup": {
            "target": "com.amazonaws.cloudhsmv2#SecurityGroup",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the cluster's security group.\u003c/p\u003e"
            }
          },
          "SourceBackupId": {
            "target": "com.amazonaws.cloudhsmv2#BackupId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the backup used to create the cluster. This value exists only\n      when the cluster was created from a backup.\u003c/p\u003e"
            }
          },
          "State": {
            "target": "com.amazonaws.cloudhsmv2#ClusterState",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe cluster's state.\u003c/p\u003e"
            }
          },
          "StateMessage": {
            "target": "com.amazonaws.cloudhsmv2#StateMessage",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA description of the cluster's state.\u003c/p\u003e"
            }
          },
          "SubnetMapping": {
            "target": "com.amazonaws.cloudhsmv2#ExternalSubnetMapping",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA map from availability zone to the cluster\u2019s subnet in that availability zone.\u003c/p\u003e"
            }
          },
          "TagList": {
            "target": "com.amazonaws.cloudhsmv2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe list of tags for the cluster.\u003c/p\u003e"
            }
          },
          "VpcId": {
            "target": "com.amazonaws.cloudhsmv2#VpcId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the virtual private cloud (VPC) that contains the\n      cluster.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains information about an CloudHSM cluster.\u003c/p\u003e"
        }
      },
      "com.amazonaws.cloudhsmv2#ClusterId": {
        "type": "string",
        "traits": {
          "smithy.api#pattern": "^cluster-[2-7a-zA-Z]{11,16}$"
        }
      },
      "com.amazonaws.cloudhsmv2#ClusterMode": {
        "type": "enum",
        "members": {
          "FIPS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "FIPS"
            }
          },
          "NON_FIPS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "NON_FIPS"
            }
          }
        }
      },
      "com.amazonaws.cloudhsmv2#ClusterState": {
        "type": "enum",
        "members": {
          "ACTIVE": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ACTIVE"
            }
          },
          "CREATE_IN_PROGRESS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "CREATE_IN_PROGRESS"
            }
          },
          "DEGRADED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "DEGRADED"
            }
          },
          "DELETED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "DELETED"
            }
          },
          "DELETE_IN_PROGRESS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "DELETE_IN_PROGRESS"
            }
          },
          "INITIALIZED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "INITIALIZED"
            }
          },
          "INITIALIZE_IN_PROGRESS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "INITIALIZE_IN_PROGRESS"
            }
          },
          "MODIFY_IN_PROGRESS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "MODIFY_IN_PROGRESS"
            }
          },
          "ROLLBACK_IN_PROGRESS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ROLLBACK_IN_PROGRESS"
            }
          },
          "UNINITIALIZED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "UNINITIALIZED"
            }
          },
          "UPDATE_IN_PROGRESS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "UPDATE_IN_PROGRESS"
            }
          }
        }
      },
      "com.amazonaws.cloudhsmv2#Clusters": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.cloudhsmv2#Cluster"
        }
      },
      "com.amazonaws.cloudhsmv2#ClustersMaxSize": {
        "type": "integer",
        "traits": {
          "smithy.api#range": {
            "min": 1,
            "max": 25
          }
        }
      },
      "com.amazonaws.cloudhsmv2#CopyBackupToRegion": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.cloudhsmv2#CopyBackupToRegionRequest"
        },
        "output": {
          "target": "com.amazonaws.cloudhsmv2#CopyBackupToRegionResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmTagException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCopy an CloudHSM cluster backup to a different region.\u003c/p\u003e\n         \u003cp\u003e\n            \u003cb\u003eCross-account use:\u003c/b\u003e No. You cannot perform this operation on an CloudHSM backup in a different Amazon Web Services account.\u003c/p\u003e"
        }
      },
      "com.amazonaws.cloudhsmv2#CopyBackupToRegionRequest": {
        "type": "structure",
        "members": {
          "BackupId": {
            "target": "com.amazonaws.cloudhsmv2#BackupId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ID of the backup that will be copied to the destination region. \u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "DestinationRegion": {
            "target": "com.amazonaws.cloudhsmv2#Region",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe AWS region that will contain your copied CloudHSM cluster backup.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "TagList": {
            "target": "com.amazonaws.cloudhsmv2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eTags to apply to the destination backup during creation. If you specify tags, only these tags will be applied to the destination backup. If you do not specify tags, the service copies tags from the source backup to the destination backup.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.cloudhsmv2#CopyBackupToRegionResponse": {
        "type": "structure",
        "members": {
          "DestinationBackup": {
            "target": "com.amazonaws.cloudhsmv2#DestinationBackup",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation on the backup that will be copied to the destination region, including\n      CreateTimestamp, SourceBackup, SourceCluster, and Source Region. CreateTimestamp of the\n      destination backup will be the same as that of the source backup.\u003c/p\u003e\n         \u003cp\u003eYou will need to use the \u003ccode\u003esourceBackupID\u003c/code\u003e returned in this operation to use\n      the \u003ca\u003eDescribeBackups\u003c/a\u003e operation on the backup that will be copied to the\n      destination region.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.cloudhsmv2#CreateCluster": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.cloudhsmv2#CreateClusterRequest"
        },
        "output": {
          "target": "com.amazonaws.cloudhsmv2#CreateClusterResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmTagException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a new CloudHSM cluster.\u003c/p\u003e\n         \u003cp\u003e\n            \u003cb\u003eCross-account use:\u003c/b\u003e Yes. To perform this operation with an CloudHSM backup in a different AWS account, specify the full backup \n    ARN in the value of the SourceBackupId parameter.\u003c/p\u003e"
        }
      },
      "com.amazonaws.cloudhsmv2#CreateClusterRequest": {
        "type": "structure",
        "members": {
          "BackupRetentionPolicy": {
            "target": "com.amazonaws.cloudhsmv2#BackupRetentionPolicy",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA policy that defines how the service retains backups.\u003c/p\u003e"
            }
          },
          "HsmType": {
            "target": "com.amazonaws.cloudhsmv2#HsmType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe type of HSM to use in the cluster. The allowed values are\n      \u003ccode\u003ehsm1.medium\u003c/code\u003e and \u003ccode\u003ehsm2m.medium\u003c/code\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Mode": {
            "target": "com.amazonaws.cloudhsmv2#ClusterMode",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe mode to use in the cluster. The allowed values are\n      \u003ccode\u003eFIPS\u003c/code\u003e and \u003ccode\u003eNON_FIPS\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "NetworkType": {
            "target": "com.amazonaws.cloudhsmv2#NetworkType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe NetworkType to create a cluster with. The allowed values are\n          \u003ccode\u003eIPV4\u003c/code\u003e and \u003ccode\u003eDUALSTACK\u003c/code\u003e.\n      \u003c/p\u003e"
            }
          },
          "SourceBackupId": {
            "target": "com.amazonaws.cloudhsmv2#BackupArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) or the Amazon Resource Name (ARN) of the cluster backup to restore. Use this value to restore the\n      cluster from a backup instead of creating a new cluster. To find the backup ID or ARN, use \u003ca\u003eDescribeBackups\u003c/a\u003e. \u003ci\u003eIf using a backup in another account, the full ARN must be supplied.\u003c/i\u003e\n         \u003c/p\u003e"
            }
          },
          "SubnetIds": {
            "target": "com.amazonaws.cloudhsmv2#SubnetIds",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifiers (IDs) of the subnets where you are creating the cluster. You must\n      specify at least one subnet. If you specify multiple subnets, they must meet the following\n      criteria:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003eAll subnets must be in the same virtual private cloud (VPC).\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003eYou can specify only one subnet per Availability Zone.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "TagList": {
            "target": "com.amazonaws.cloudhsmv2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eTags to apply to the CloudHSM cluster during creation.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.cloudhsmv2#CreateClusterResponse": {
        "type": "structure",
        "members": {
          "Cluster": {
            "target": "com.amazonaws.cloudhsmv2#Cluster",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation about the cluster that was created.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.cloudhsmv2#CreateHsm": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.cloudhsmv2#CreateHsmRequest"
        },
        "output": {
          "target": "com.amazonaws.cloudhsmv2#CreateHsmResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a new hardware security module (HSM) in the specified CloudHSM\n      cluster.\u003c/p\u003e\n         \u003cp\u003e\n            \u003cb\u003eCross-account use:\u003c/b\u003e No. You cannot perform this operation on an CloudHSM cluster in a different Amazon Web Service account.\u003c/p\u003e"
        }
      },
      "com.amazonaws.cloudhsmv2#CreateHsmRequest": {
        "type": "structure",
        "members": {
          "AvailabilityZone": {
            "target": "com.amazonaws.cloudhsmv2#ExternalAz",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Availability Zone where you are creating the HSM. To find the cluster's\n      Availability Zones, use \u003ca\u003eDescribeClusters\u003c/a\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ClusterId": {
            "target": "com.amazonaws.cloudhsmv2#ClusterId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the HSM's cluster. To find the cluster ID, use \u003ca\u003eDescribeClusters\u003c/a\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "IpAddress": {
            "target": "com.amazonaws.cloudhsmv2#IpAddress",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe HSM's IP address. If you specify an IP address, use an available address from the\n      subnet that maps to the Availability Zone where you are creating the HSM. If you don't specify\n      an IP address, one is chosen for you from that subnet.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.cloudhsmv2#CreateHsmResponse": {
        "type": "structure",
        "members": {
          "Hsm": {
            "target": "com.amazonaws.cloudhsmv2#Hsm",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation about the HSM that was created.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteBackup": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.cloudhsmv2#DeleteBackupRequest"
        },
        "output": {
          "target": "com.amazonaws.cloudhsmv2#DeleteBackupResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDeletes a specified CloudHSM backup. A backup can be restored up to 7 days\n            after the DeleteBackup request is made. For more information on restoring a backup, see\n                \u003ca\u003eRestoreBackup\u003c/a\u003e.\u003c/p\u003e\n         \u003cp\u003e\n            \u003cb\u003eCross-account use:\u003c/b\u003e No. You cannot perform this operation on an CloudHSM backup in a different Amazon Web Services account.\u003c/p\u003e"
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteBackupRequest": {
        "type": "structure",
        "members": {
          "BackupId": {
            "target": "com.amazonaws.cloudhsmv2#BackupId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ID of the backup to be deleted. To find the ID of a backup, use the \u003ca\u003eDescribeBackups\u003c/a\u003e operation.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteBackupResponse": {
        "type": "structure",
        "members": {
          "Backup": {
            "target": "com.amazonaws.cloudhsmv2#Backup",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation on the \u003ccode\u003eBackup\u003c/code\u003e object deleted.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteCluster": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.cloudhsmv2#DeleteClusterRequest"
        },
        "output": {
          "target": "com.amazonaws.cloudhsmv2#DeleteClusterResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmTagException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDeletes the specified CloudHSM cluster. Before you can delete a cluster, you must\n      delete all HSMs in the cluster. To see if the cluster contains any HSMs, use \u003ca\u003eDescribeClusters\u003c/a\u003e. To delete an HSM, use \u003ca\u003eDeleteHsm\u003c/a\u003e.\u003c/p\u003e\n         \u003cp\u003e\n            \u003cb\u003eCross-account use:\u003c/b\u003e No. You cannot perform this operation on an CloudHSM cluster in a different Amazon Web Services account.\u003c/p\u003e"
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteClusterRequest": {
        "type": "structure",
        "members": {
          "ClusterId": {
            "target": "com.amazonaws.cloudhsmv2#ClusterId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the cluster that you are deleting. To find the cluster ID, use\n      \u003ca\u003eDescribeClusters\u003c/a\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteClusterResponse": {
        "type": "structure",
        "members": {
          "Cluster": {
            "target": "com.amazonaws.cloudhsmv2#Cluster",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation about the cluster that was deleted.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteHsm": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.cloudhsmv2#DeleteHsmRequest"
        },
        "output": {
          "target": "com.amazonaws.cloudhsmv2#DeleteHsmResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDeletes the specified HSM. To specify an HSM, you can use its identifier (ID), the IP\n      address of the HSM's elastic network interface (ENI), or the ID of the HSM's ENI. You need to\n      specify only one of these values. To find these values, use \u003ca\u003eDescribeClusters\u003c/a\u003e.\u003c/p\u003e\n         \u003cp\u003e\n            \u003cb\u003eCross-account use:\u003c/b\u003e No. You cannot perform this operation on an CloudHSM hsm in a different Amazon Web Services account.\u003c/p\u003e"
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteHsmRequest": {
        "type": "structure",
        "members": {
          "ClusterId": {
            "target": "com.amazonaws.cloudhsmv2#ClusterId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the cluster that contains the HSM that you are\n      deleting.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "EniId": {
            "target": "com.amazonaws.cloudhsmv2#EniId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the elastic network interface (ENI) of the HSM that you are\n      deleting.\u003c/p\u003e"
            }
          },
          "EniIp": {
            "target": "com.amazonaws.cloudhsmv2#IpAddress",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe IP address of the elastic network interface (ENI) of the HSM that you are\n      deleting.\u003c/p\u003e"
            }
          },
          "HsmId": {
            "target": "com.amazonaws.cloudhsmv2#HsmId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the HSM that you are deleting.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteHsmResponse": {
        "type": "structure",
        "members": {
          "HsmId": {
            "target": "com.amazonaws.cloudhsmv2#HsmId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier (ID) of the HSM that was deleted.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteResourcePolicy": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.cloudhsmv2#DeleteResourcePolicyRequest"
        },
        "output": {
          "target": "com.amazonaws.cloudhsmv2#DeleteResourcePolicyResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003e Deletes an CloudHSM resource policy. Deleting a resource policy will result in the resource being unshared and removed from\n      any RAM resource shares. Deleting the resource policy attached to a backup will not impact any clusters created from that \n      backup.\u003c/p\u003e\n         \u003cp\u003e\n            \u003cb\u003eCross-account use:\u003c/b\u003e No. You cannot perform this operation on an CloudHSM resource in a different Amazon Web Services account.\u003c/p\u003e"
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteResourcePolicyRequest": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAmazon Resource Name (ARN) of the resource from which the policy will be removed. \u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.cloudhsmv2#DeleteResourcePolicyResponse": {
        "type": "structure",
        "members": {
          "Policy": {
            "target": "com.amazonaws.cloudhsmv2#ResourcePolicy",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe policy previously attached to the resource.\u003c/p\u003e"
            }
          },
          "ResourceArn": {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAmazon Resource Name (ARN) of the resource from which the policy was deleted. \u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.cloudhsmv2#DescribeBackups": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.cloudhsmv2#DescribeBackupsRequest"
        },
        "output": {
          "target": "com.amazonaws.cloudhsmv2#DescribeBackupsResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmTagException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eGets information about backups of CloudHSM clusters. Lists either the backups you own or the backups shared with you when the Shared parameter is true.\u003c/p\u003e\n         \u003cp\u003eThis is a paginated operation, which means that each response might contain only a\n      subset of all the backups. When the response contains only a subset of backups, it includes a\n        \u003ccode\u003eNextToken\u003c/code\u003e value. Use this value in a subsequent \u003ccode\u003eDescribeBackups\u003c/code\u003e\n      request to get more backups. When you receive a response with no \u003ccode\u003eNextToken\u003c/code\u003e (or an\n      empty or null value), that means there are no more backups to get.\u003c/p\u003e\n         \u003cp\u003e\n            \u003cb\u003eCross-account use:\u003c/b\u003e Yes. Customers can describe backups in other Amazon Web Services accounts that are shared with them.\u003c/p\u003e",
          "smithy.api#paginated": {
            "inputToken": "NextToken",
            "outputToken": "NextToken",
            "pageSize": "MaxResults"
          }
        }
      },
      "com.amazonaws.cloudhsmv2#DescribeBackupsRequest": {
        "type": "structure",
        "members": {
          "Filters": {
            "target": "com.amazonaws.cloudhsmv2#Filters",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eOne or more filters to limit the items returned in the response.\u003c/p\u003e\n         \u003cp\u003eUse the \u003ccode\u003ebackupIds\u003c/code\u003e filter to return only the specified backups. Specify\n      backups by their backup identifier (ID).\u003c/p\u003e\n         \u003cp\u003eUse the \u003ccode\u003esourceBackupIds\u003c/code\u003e filter to return only the backups created from a\n      source backup. The \u003ccode\u003esourceBackupID\u003c/code\u003e of a source backup is returned by the \u003ca\u003eCopyBackupToRegion\u003c/a\u003e operation.\u003c/p\u003e\n         \u003cp\u003eUse the \u003ccode\u003eclusterIds\u003c/code\u003e filter to return only the backups for the specified\n      clusters. Specify clusters by their cluster identifier (ID).\u003c/p\u003e\n         \u003cp\u003eUse the \u003ccode\u003estates\u003c/code\u003e filter to return only backups that match the specified\n      state.\u003c/p\u003e\n         \u003cp\u003eUse the \u003ccode\u003eneverExpires\u003c/code\u003e filter to return backups filtered by the value in the\n        \u003ccode\u003eneverExpires\u003c/code\u003e parameter. \u003ccode\u003eTrue\u003c/code\u003e returns all backups exempt from the\n      backup retention policy. \u003ccode\u003eFalse\u003c/code\u003e returns all backups with a backup retention policy\n      defined at the cluster.\u003c/p\u003e"
            }
          },
          "MaxResults": {
            "target": "com.amazonaws.cloudhsmv2#BackupsMaxSize",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe maximum number of backups to return in the response. When there are more backups\n      than the number you specify, the response contains a \u003ccode\u003eNextToken\u003c/code\u003e value.\u003c/p\u003e"
            }
          },
          "NextToken": {
            "target": "com.amazonaws.cloudhsmv2#NextToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe \u003ccode\u003eNextToken\u003c/code\u003e value that you received in the previous response. Use this\n      value to get more backups.\u003c/p\u003e"
            }
          },
          "Shared": {
            "target": "com.amazonaws.cloudhsmv2#Boolean",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribe backups that are shared with you.\u003c/p\u003e\n         \u003cnote\u003e\n            \u003cp\u003eBy default when using this option, the command returns backups that have been shared using a standard Resource Access Manager \n    resource share. In order for a backup that was shared using the PutResourcePolicy command to be returned, the share must be promoted to a \n    standard resource share using the RAM \u003ca href=\"https://docs.aws.amazon.com/cli/latest/reference/ram/promote-resource-share-created-from-policy.html\"\u003ePromoteResourceShareCreatedFromPolicy\u003c/a\u003e API operation.\n\n    For more information about sharing backups, see \u003ca href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/sharing.html\"\u003e Working with shared backups\u003c/a\u003e in the CloudHSM User Guide.\u003c/p\u003e\n         \u003c/note\u003e"
            }
          },
          "SortAscending": {
            "target": "com.amazonaws.cloudhsmv2#Boolean",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDesignates whether or not to sort the return backups by ascending chronological order\n      of generation.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.cloudhsmv2#DescribeBackupsResponse": {
        "type": "structure",
        "members": {
          "Backups": {
            "target": "com.amazonaws.cloudhsmv2#Backups",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of backups.\u003c/p\u003e"
            }
          },
          "NextToken": {
            "target": "com.amazonaws.cloudhsmv2#NextToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn opaque string that indicates that the response contains only a subset of backups.\n      Use this value in a subsequent \u003ccode\u003eDescribeBackups\u003c/code\u003e request to get more\n      backups.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.cloudhsmv2#DescribeClusters": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.cloudhsmv2#DescribeClustersRequest"
        },
        "output": {
          "target": "com.amazonaws.cloudhsmv2#DescribeClustersResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
          },
          {
            "target": "com.amazonaws.cloudhsmv2#CloudHsmTagException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eGets information about CloudHSM clusters.\u003c/p\u003e\n         \u003cp\u003eThis is a paginated operation, which means that each response might contain only a\n      subset of all the clusters. When the response contains only a subset of clusters, it includes\n      a \u003ccode\u003eNextToken\u003c/code\u003e value. Use this value in a subsequent \u003ccode\u003eDescribeClusters\u003c/code\u003e\n      request to get more clusters. When you receive a response with no \u003ccode\u003eNextToken\u003c/code\u003e (or\n      an empty or null value), that means there are no more clusters to get.\u003c/p\u003e\n         \u003cp\u003e\n            \u003cb\u003eCross-account use:\u003c/b\u003e No. You cannot perform this operation on CloudHSM clusters in a different Amazon Web Services account.\u003c/p\u003e",
          "smithy.api#paginated": {
            "inputToken": "NextToken",
            "outputToken": "NextToken",
            "pageSize": "MaxResults"
          },
          "smithy.test#smokeTests": [
            {
              "id": "DescribeClustersSuccess",
              "params": {},
              "vendorParams": {
                "region": "us-west-2"
              },
              "vendorParamsShape": "aws.test#AwsVendorParams",
              "expect": {
                "success": {}
              }
            }
          ]
        }
      },
      "com.amazonaws.cloudhsmv2#DescribeClustersRequest": {
        "type": "structure",
        "members": {
          "Filters": {
            "target": "com.amazonaws.cloudhsmv2#Filters",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eOne or more filters to limit the items returned in the response.\u003c/p\u003e\n         \u003cp\u003eUse the \u003ccode\u003eclusterIds\u003c/code\u003e filter to return only the specified clusters. Specify\n      clusters by their cluster identifier (ID).\u003c/p\u003e\n         \u003cp\u003eUse the \u003ccode\u003evpcIds\u003c/code\u003e filter to return only the clusters in the specified virtual\n      private clouds (VPCs). Specify VPCs by their VPC identifier (ID).\u003c/p\u003e\n         \u003cp\u003eUse the \u003ccode\u003estates\u003c/code\u003e filter to return only clusters that match the specified\n      state.\u003c/p\u003e"
            }
          },
[...]
