{
  "schema_source": "smithy",
  "mode": "data_source",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://aws.example.invalid",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "aws",
  "raw_spec": {
    "smithy": "2.0",
    "metadata": {
      "suppressions": [
        {
          "id": "HttpMethodSemantics",
          "namespace": "*"
        },
        {
          "id": "HttpResponseCodeSemantics",
          "namespace": "*"
        },
        {
          "id": "PaginatedTrait",
          "namespace": "*"
        },
        {
          "id": "HttpHeaderTrait",
          "namespace": "*"
        },
        {
          "id": "HttpUriConflict",
          "namespace": "*"
        },
        {
          "id": "Service",
          "namespace": "*"
        }
      ]
    },
    "shapes": {
      "com.amazonaws.lexruntimev2#AWSDeepSenseRunTimeServiceApi2_0": {
        "type": "service",
        "version": "2020-08-07",
        "operations": [
          {
            "target": "com.amazonaws.lexruntimev2#DeleteSession"
          },
          {
            "target": "com.amazonaws.lexruntimev2#GetSession"
          },
          {
            "target": "com.amazonaws.lexruntimev2#PutSession"
          },
          {
            "target": "com.amazonaws.lexruntimev2#RecognizeText"
          },
          {
            "target": "com.amazonaws.lexruntimev2#RecognizeUtterance"
          },
          {
            "target": "com.amazonaws.lexruntimev2#StartConversation"
          }
        ],
        "traits": {
          "aws.api#service": {
            "sdkId": "Lex Runtime V2",
            "arnNamespace": "lex",
            "cloudFormationName": "LexRuntimeV2",
            "cloudTrailEventSource": "lexruntimev2.amazonaws.com",
            "docId": "runtime.lex.v2-2020-08-07",
            "endpointPrefix": "runtime-v2-lex"
          },
          "aws.auth#sigv4": {
            "name": "lex"
          },
          "aws.protocols#restJson1": {
            "http": [
              "http/1.1",
              "h2"
            ],
            "eventStreamHttp": [
              "h2"
            ]
          },
          "smithy.api#documentation": "\u003cp\u003eThis section contains documentation for the Amazon Lex V2 Runtime V2 API operations.\u003c/p\u003e",
          "smithy.api#title": "Amazon Lex Runtime V2",
          "smithy.rules#endpointBdd": {
            "version": "1.1",
            "parameters": {
              "Region": {
                "builtIn": "AWS::Region",
                "required": false,
                "documentation": "The AWS region used to dispatch the request.",
                "type": "string"
              },
              "UseDualStack": {
                "builtIn": "AWS::UseDualStack",
                "required": true,
                "default": false,
                "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                "type": "boolean"
              },
              "UseFIPS": {
                "builtIn": "AWS::UseFIPS",
                "required": true,
                "default": false,
                "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                "type": "boolean"
              },
              "Endpoint": {
                "builtIn": "SDK::Endpoint",
                "required": false,
                "documentation": "Override the endpoint used to send this request",
                "type": "string"
              }
            },
            "conditions": [
              {
                "fn": "isSet",
                "argv": [
                  {
                    "ref": "Endpoint"
                  }
                ]
              },
              {
                "fn": "isSet",
                "argv": [
                  {
                    "ref": "Region"
                  }
                ]
              },
              {
                "fn": "aws.partition",
                "argv": [
                  {
                    "ref": "Region"
                  }
                ],
                "assign": "PartitionResult"
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "ref": "UseFIPS"
                  },
                  true
                ]
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "ref": "UseDualStack"
                  },
                  true
                ]
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "fn": "getAttr",
                    "argv": [
                      {
                        "ref": "PartitionResult"
                      },
                      "supportsDualStack"
                    ]
                  },
                  true
                ]
              },
              {
                "fn": "booleanEquals",
                "argv": [
                  {
                    "fn": "getAttr",
                    "argv": [
                      {
                        "ref": "PartitionResult"
                      },
                      "supportsFIPS"
                    ]
                  },
                  true
                ]
              }
            ],
            "results": [
              {
                "conditions": [],
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                "type": "error"
              },
              {
                "conditions": [],
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": {
                    "ref": "Endpoint"
                  },
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://runtime-v2-lex-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://runtime-v2-lex-fips.{Region}.{PartitionResult#dnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "FIPS is enabled but this partition does not support FIPS",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://runtime-v2-lex.{Region}.{PartitionResult#dualStackDnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "DualStack is enabled but this partition does not support DualStack",
                "type": "error"
              },
              {
                "conditions": [],
                "endpoint": {
                  "url": "https://runtime-v2-lex.{Region}.{PartitionResult#dnsSuffix}",
                  "properties": {},
                  "headers": {}
                },
                "type": "endpoint"
              },
              {
                "conditions": [],
                "error": "Invalid Configuration: Missing Region",
                "type": "error"
              }
            ],
            "root": 2,
            "nodeCount": 13,
            "nodes": "/////wAAAAH/////AAAAAAAAAAwAAAADAAAAAQAAAAQF9eELAAAAAgAAAAUF9eELAAAAAwAAAAgAAAAGAAAABAAAAAcF9eEKAAAABQX14QgF9eEJAAAABAAAAAoAAAAJAAAABgX14QYF9eEHAAAABQAAAAsF9eEFAAAABgX14QQF9eEFAAAAAwX14QEAAAANAAAABAX14QIF9eED"
          },
          "smithy.rules#endpointRuleSet": {
            "version": "1.0",
            "parameters": {
              "Region": {
                "builtIn": "AWS::Region",
                "required": false,
                "documentation": "The AWS region used to dispatch the request.",
                "type": "string"
              },
              "UseDualStack": {
                "builtIn": "AWS::UseDualStack",
                "required": true,
                "default": false,
                "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                "type": "boolean"
              },
              "UseFIPS": {
                "builtIn": "AWS::UseFIPS",
                "required": true,
                "default": false,
                "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                "type": "boolean"
              },
              "Endpoint": {
                "builtIn": "SDK::Endpoint",
                "required": false,
                "documentation": "Override the endpoint used to send this request",
                "type": "string"
              }
            },
            "rules": [
              {
                "conditions": [
                  {
                    "fn": "isSet",
                    "argv": [
                      {
                        "ref": "Endpoint"
                      }
                    ]
                  }
                ],
                "rules": [
                  {
                    "conditions": [
                      {
                        "fn": "booleanEquals",
                        "argv": [
                          {
                            "ref": "UseFIPS"
                          },
                          true
                        ]
                      }
                    ],
                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                    "type": "error"
                  },
                  {
                    "conditions": [
                      {
                        "fn": "booleanEquals",
                        "argv": [
                          {
                            "ref": "UseDualStack"
                          },
                          true
                        ]
                      }
                    ],
                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                    "type": "error"
                  },
                  {
                    "conditions": [],
                    "endpoint": {
                      "url": {
                        "ref": "Endpoint"
                      },
                      "properties": {},
                      "headers": {}
                    },
                    "type": "endpoint"
                  }
                ],
                "type": "tree"
              },
              {
                "conditions": [
                  {
                    "fn": "isSet",
                    "argv": [
                      {
                        "ref": "Region"
                      }
                    ]
                  }
                ],
                "rules": [
                  {
                    "conditions": [
                      {
                        "fn": "aws.partition",
                        "argv": [
                          {
                            "ref": "Region"
                          }
                        ],
                        "assign": "PartitionResult"
                      }
                    ],
                    "rules": [
                      {
                        "conditions": [
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseFIPS"
                              },
                              true
                            ]
                          },
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseDualStack"
                              },
                              true
                            ]
                          }
                        ],
                        "rules": [
                          {
                            "conditions": [
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  true,
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsFIPS"
                                    ]
                                  }
                                ]
                              },
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  true,
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsDualStack"
                                    ]
                                  }
                                ]
                              }
                            ],
                            "rules": [
                              {
                                "conditions": [],
                                "endpoint": {
                                  "url": "https://runtime-v2-lex-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                  "properties": {},
                                  "headers": {}
                                },
                                "type": "endpoint"
                              }
                            ],
                            "type": "tree"
                          },
                          {
                            "conditions": [],
                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                            "type": "error"
                          }
                        ],
                        "type": "tree"
                      },
                      {
                        "conditions": [
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseFIPS"
                              },
                              true
                            ]
                          }
                        ],
                        "rules": [
                          {
                            "conditions": [
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsFIPS"
                                    ]
                                  },
                                  true
                                ]
                              }
                            ],
                            "rules": [
                              {
                                "conditions": [],
                                "endpoint": {
                                  "url": "https://runtime-v2-lex-fips.{Region}.{PartitionResult#dnsSuffix}",
                                  "properties": {},
                                  "headers": {}
                                },
                                "type": "endpoint"
                              }
                            ],
                            "type": "tree"
                          },
                          {
                            "conditions": [],
                            "error": "FIPS is enabled but this partition does not support FIPS",
                            "type": "error"
                          }
                        ],
                        "type": "tree"
                      },
                      {
                        "conditions": [
                          {
                            "fn": "booleanEquals",
                            "argv": [
                              {
                                "ref": "UseDualStack"
                              },
                              true
                            ]
                          }
                        ],
                        "rules": [
                          {
                            "conditions": [
                              {
                                "fn": "booleanEquals",
                                "argv": [
                                  true,
                                  {
                                    "fn": "getAttr",
                                    "argv": [
                                      {
                                        "ref": "PartitionResult"
                                      },
                                      "supportsDualStack"
                                    ]
                                  }
                                ]
                              }
                            ],
                            "rules": [
                              {
                                "conditions": [],
                                "endpoint": {
                                  "url": "https://runtime-v2-lex.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                  "properties": {},
                                  "headers": {}
                                },
                                "type": "endpoint"
                              }
                            ],
                            "type": "tree"
                          },
                          {
                            "conditions": [],
                            "error": "DualStack is enabled but this partition does not support DualStack",
                            "type": "error"
                          }
                        ],
                        "type": "tree"
                      },
                      {
                        "conditions": [],
                        "endpoint": {
                          "url": "https://runtime-v2-lex.{Region}.{PartitionResult#dnsSuffix}",
                          "properties": {},
                          "headers": {}
                        },
                        "type": "endpoint"
                      }
                    ],
                    "type": "tree"
                  }
                ],
                "type": "tree"
              },
              {
                "conditions": [],
                "error": "Invalid Configuration: Missing Region",
                "type": "error"
              }
            ]
          },
          "smithy.rules#endpointTests": {
            "testCases": [
              {
                "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.af-south-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "af-south-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.ap-northeast-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ap-northeast-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.ap-northeast-2.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ap-northeast-2",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.ap-southeast-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ap-southeast-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.ap-southeast-2.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ap-southeast-2",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.ca-central-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "ca-central-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.eu-central-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "eu-central-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.eu-west-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "eu-west-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.eu-west-2.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "eu-west-2",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.us-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.us-west-2.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-west-2",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex-fips.us-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": true,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex-fips.us-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.us-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex-fips.cn-north-1.api.amazonwebservices.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": true,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex-fips.cn-north-1.amazonaws.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.cn-north-1.api.amazonwebservices.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": false,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.cn-north-1.amazonaws.com.cn"
                  }
                },
                "params": {
                  "Region": "cn-north-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex-fips.us-gov-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": true,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex-fips.us-gov-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.us-gov-east-1.api.aws"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": false,
                  "UseDualStack": true
                }
              },
              {
                "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.us-gov-east-1.amazonaws.com"
                  }
                },
                "params": {
                  "Region": "us-gov-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex-fips.us-iso-east-1.c2s.ic.gov"
                  }
                },
                "params": {
                  "Region": "us-iso-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.us-iso-east-1.c2s.ic.gov"
                  }
                },
                "params": {
                  "Region": "us-iso-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex-fips.us-isob-east-1.sc2s.sgov.gov"
                  }
                },
                "params": {
                  "Region": "us-isob-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://runtime-v2-lex.us-isob-east-1.sc2s.sgov.gov"
                  }
                },
                "params": {
                  "Region": "us-isob-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false
                }
              },
              {
                "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://example.com"
                  }
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": false,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                "expect": {
                  "endpoint": {
                    "url": "https://example.com"
                  }
                },
                "params": {
                  "UseFIPS": false,
                  "UseDualStack": false,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                "expect": {
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": true,
                  "UseDualStack": false,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                "expect": {
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                },
                "params": {
                  "Region": "us-east-1",
                  "UseFIPS": false,
                  "UseDualStack": true,
                  "Endpoint": "https://example.com"
                }
              },
              {
                "documentation": "Missing region",
                "expect": {
                  "error": "Invalid Configuration: Missing Region"
                }
              }
            ],
            "version": "1.0"
          }
        }
      },
      "com.amazonaws.lexruntimev2#AccessDeniedException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "com.amazonaws.lexruntimev2#String",
            "traits": {
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003e\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 403
        }
      },
      "com.amazonaws.lexruntimev2#ActiveContext": {
        "type": "structure",
        "members": {
          "contextAttributes": {
            "target": "com.amazonaws.lexruntimev2#ActiveContextParametersMap",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of contexts active for the request. A context can be\n         activated when a previous intent is fulfilled, or by including the\n         context in the request.\u003c/p\u003e\n         \u003cp\u003eIf you don't specify a list of contexts, Amazon Lex V2 will use the current\n         list of contexts for the session. If you specify an empty list, all\n         contexts for the session are cleared. \u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "name": {
            "target": "com.amazonaws.lexruntimev2#ActiveContextName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the context.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "timeToLive": {
            "target": "com.amazonaws.lexruntimev2#ActiveContextTimeToLive",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates the number of turns or seconds that the context is active.\n         Once the time to live expires, the context is no longer returned in a\n         response.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains information about the contexts that a user is using in a\n         session. You can configure Amazon Lex V2 to set a context when an intent is\n         fulfilled, or you can set a context using the , , or  operations.\u003c/p\u003e\n         \u003cp\u003eUse a context to indicate to Amazon Lex V2 intents that should be used as\n         follow-up intents. For example, if the active context is\n            \u003ccode\u003eorder-fulfilled\u003c/code\u003e, only intents that have\n            \u003ccode\u003eorder-fulfilled\u003c/code\u003e configured as a trigger are considered\n         for follow up.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#ActiveContextName": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 100
          },
          "smithy.api#pattern": "^([A-Za-z0-9]_?)+$"
        }
      },
      "com.amazonaws.lexruntimev2#ActiveContextParametersMap": {
        "type": "map",
        "key": {
          "target": "com.amazonaws.lexruntimev2#ParameterName"
        },
        "value": {
          "target": "com.amazonaws.lexruntimev2#Text"
        },
        "traits": {
          "smithy.api#length": {
            "min": 0,
            "max": 10
          }
        }
      },
      "com.amazonaws.lexruntimev2#ActiveContextTimeToLive": {
        "type": "structure",
        "members": {
          "timeToLiveInSeconds": {
            "target": "com.amazonaws.lexruntimev2#ActiveContextTimeToLiveInSeconds",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe number of seconds that the context is active. You can specify\n         between 5 and 86400 seconds (24 hours).\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "turnsToLive": {
            "target": "com.amazonaws.lexruntimev2#ActiveContextTurnsToLive",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe number of turns that the context is active. You can specify up\n         to 20 turns. Each request and response from the bot is a turn.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe time that a context is active. You can specify the time to live\n         in seconds or in conversation turns.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#ActiveContextTimeToLiveInSeconds": {
        "type": "integer",
        "traits": {
          "smithy.api#range": {
            "min": 5,
            "max": 86400
          }
        }
      },
      "com.amazonaws.lexruntimev2#ActiveContextTurnsToLive": {
        "type": "integer",
        "traits": {
          "smithy.api#range": {
            "min": 1,
            "max": 20
          }
        }
      },
      "com.amazonaws.lexruntimev2#ActiveContextsList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexruntimev2#ActiveContext"
        },
        "traits": {
          "smithy.api#length": {
            "min": 0,
            "max": 20
          }
        }
      },
      "com.amazonaws.lexruntimev2#AttachmentTitle": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 250
          }
        }
      },
      "com.amazonaws.lexruntimev2#AttachmentUrl": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 250
          }
        }
      },
      "com.amazonaws.lexruntimev2#AudioChunk": {
        "type": "blob"
      },
      "com.amazonaws.lexruntimev2#AudioInputEvent": {
        "type": "structure",
        "members": {
          "audioChunk": {
            "target": "com.amazonaws.lexruntimev2#AudioChunk",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn encoded stream of audio.\u003c/p\u003e"
            }
          },
          "clientTimestampMillis": {
            "target": "com.amazonaws.lexruntimev2#EpochMillis",
            "traits": {
              "smithy.api#default": 0,
              "smithy.api#documentation": "\u003cp\u003eA timestamp set by the client of the date and time that the event\n         was sent to Amazon Lex V2.\u003c/p\u003e"
            }
          },
          "contentType": {
            "target": "com.amazonaws.lexruntimev2#NonEmptyString",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe encoding used for the audio chunk. You must use 8 KHz PCM 16-bit\n         mono-channel little-endian format. The value of the field should\n         be:\u003c/p\u003e\n         \u003cp\u003e\n            \u003ccode\u003eaudio/lpcm; sample-rate=8000; sample-size-bits=16;\n            channel-count=1; is-big-endian=false\u003c/code\u003e\n         \u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "eventId": {
            "target": "com.amazonaws.lexruntimev2#EventId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA unique identifier that your application assigns to the event. You\n         can use this to identify events in logs.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eRepresents a chunk of audio sent from the client application to\n         Amazon Lex V2. The audio is all or part of an utterance from the user.\u003c/p\u003e\n         \u003cp\u003eAmazon Lex V2 accumulates audio chunks until it recognizes a natural pause\n         in speech before processing the input.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#AudioResponseEvent": {
        "type": "structure",
        "members": {
          "audioChunk": {
            "target": "com.amazonaws.lexruntimev2#AudioChunk",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA chunk of the audio to play. \u003c/p\u003e"
            }
          },
          "contentType": {
            "target": "com.amazonaws.lexruntimev2#NonEmptyString",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe encoding of the audio chunk. This is the same as the encoding\n         configure in the \u003ccode\u003econtentType\u003c/code\u003e field of the\n            \u003ccode\u003eConfigurationEvent\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "eventId": {
            "target": "com.amazonaws.lexruntimev2#EventId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA unique identifier of the event sent by Amazon Lex V2. The identifier is in\n         the form \u003ccode\u003eRESPONSE-N\u003c/code\u003e, where N is a number starting with one\n         and incremented for each event sent by Amazon Lex V2 in the current\n         session.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAn event sent from Amazon Lex V2 to your client application containing audio\n         to play to the user. \u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#BadGatewayException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "com.amazonaws.lexruntimev2#String",
            "traits": {
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003e\u003c/p\u003e",
          "smithy.api#error": "server",
          "smithy.api#httpError": 502
        }
      },
      "com.amazonaws.lexruntimev2#BlobStream": {
        "type": "blob",
        "traits": {
          "smithy.api#streaming": {}
        }
      },
      "com.amazonaws.lexruntimev2#Boolean": {
        "type": "boolean",
        "traits": {
          "smithy.api#default": false
        }
      },
      "com.amazonaws.lexruntimev2#BotAliasIdentifier": {
        "type": "string"
      },
      "com.amazonaws.lexruntimev2#BotIdentifier": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 10,
            "max": 10
          },
          "smithy.api#pattern": "^[0-9a-zA-Z]+$"
        }
      },
      "com.amazonaws.lexruntimev2#Button": {
        "type": "structure",
        "members": {
          "text": {
            "target": "com.amazonaws.lexruntimev2#ButtonText",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe text that is displayed on the button.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "value": {
            "target": "com.amazonaws.lexruntimev2#ButtonValue",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe value returned to Amazon Lex V2 when a user chooses the button.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eA button that appears on a response card show to the user.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#ButtonText": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 50
          }
        }
      },
      "com.amazonaws.lexruntimev2#ButtonValue": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 50
          }
        }
      },
      "com.amazonaws.lexruntimev2#ButtonsList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexruntimev2#Button"
        },
        "traits": {
          "smithy.api#length": {
            "min": 0,
            "max": 5
          }
        }
      },
      "com.amazonaws.lexruntimev2#ConfidenceScore": {
        "type": "structure",
        "members": {
          "score": {
            "target": "com.amazonaws.lexruntimev2#Double",
            "traits": {
              "smithy.api#default": 0,
              "smithy.api#documentation": "\u003cp\u003eA score that indicates how confident Amazon Lex V2 is that an intent\n         satisfies the user's intent. Ranges between 0.00 and 1.00. Higher\n         scores indicate higher confidence.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eProvides a score that indicates the confidence that Amazon Lex V2 has that\n         an intent is the one that satisfies the user's intent.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#ConfigurationEvent": {
        "type": "structure",
        "members": {
          "clientTimestampMillis": {
            "target": "com.amazonaws.lexruntimev2#EpochMillis",
            "traits": {
              "smithy.api#default": 0,
              "smithy.api#documentation": "\u003cp\u003eA timestamp set by the client of the date and time that the event\n         was sent to Amazon Lex V2.\u003c/p\u003e"
            }
          },
          "disablePlayback": {
            "target": "com.amazonaws.lexruntimev2#Boolean",
            "traits": {
              "smithy.api#default": false,
              "smithy.api#documentation": "\u003cp\u003eDetermines whether Amazon Lex V2 should send audio responses to the client\n         application. \n      \u003c/p\u003e\n         \u003cp\u003eSet this field to false when the client is operating in a playback\n         mode where audio responses are played to the user. If the client isn't\n         operating in playback mode, such as a text chat application, set this\n         to true so that Amazon Lex V2 doesn't wait for the prompt to finish playing on\n         the client.\u003c/p\u003e"
            }
          },
          "eventId": {
            "target": "com.amazonaws.lexruntimev2#EventId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA unique identifier that your application assigns to the event. You\n         can use this to identify events in logs.\u003c/p\u003e"
            }
          },
          "requestAttributes": {
            "target": "com.amazonaws.lexruntimev2#StringMap",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eRequest-specific information passed between the client application\n         and Amazon Lex V2.\u003c/p\u003e\n         \u003cp\u003eThe namespace \u003ccode\u003ex-amz-lex:\u003c/code\u003e is reserved for special\n         attributes. Don't create any request attributes for prefix\n            \u003ccode\u003ex-amz-lex:\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "responseContentType": {
            "target": "com.amazonaws.lexruntimev2#NonEmptyString",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe message that Amazon Lex V2 returns in the response can be either text or\n         speech based on the \u003ccode\u003eresponseContentType\u003c/code\u003e value.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003eIf the value is \u003ccode\u003etext/plain;charset=utf-8\u003c/code\u003e, Amazon Lex V2\n               returns text in the response.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003eIf the value begins with \u003ccode\u003eaudio/\u003c/code\u003e, Amazon Lex V2 returns\n               speech in the response. Amazon Lex V2 uses Amazon Polly to generate the speech\n               using the configuration that you specified in the\n                  \u003ccode\u003erequestContentType\u003c/code\u003e parameter. For example, if you\n               specify \u003ccode\u003eaudio/mpeg\u003c/code\u003e as the value, Amazon Lex V2 returns\n               speech in the MPEG format.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003eIf the value is \u003ccode\u003eaudio/pcm\u003c/code\u003e, the speech returned is\n               audio/pcm in 16-bit, little-endian format.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003eThe following are the accepted values:\u003c/p\u003e\n               \u003cul\u003e\n                  \u003cli\u003e\n                     \u003cp\u003eaudio/mpeg\u003c/p\u003e\n                  \u003c/li\u003e\n                  \u003cli\u003e\n                     \u003cp\u003eaudio/ogg\u003c/p\u003e\n                  \u003c/li\u003e\n                  \u003cli\u003e\n                     \u003cp\u003eaudio/pcm\u003c/p\u003e\n                  \u003c/li\u003e\n                  \u003cli\u003e\n                     \u003cp\u003eaudio/* (defaults to mpeg)\u003c/p\u003e\n                  \u003c/li\u003e\n                  \u003cli\u003e\n                     \u003cp\u003etext/plain; charset=utf-8\u003c/p\u003e\n                  \u003c/li\u003e\n               \u003c/ul\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          },
          "sessionState": {
            "target": "com.amazonaws.lexruntimev2#SessionState"
          },
          "welcomeMessages": {
            "target": "com.amazonaws.lexruntimev2#Messages",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of messages to send to the user.\u003c/p\u003e\n         \u003cp\u003eIf you set the \u003ccode\u003ewelcomeMessage\u003c/code\u003e field, you must also set\n         the \u003ca href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_runtime_DialogAction.html\"\u003e\n               \u003ccode\u003eDialogAction\u003c/code\u003e\n            \u003c/a\u003e structure's \u003ca href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_runtime_DialogAction.html#lexv2-Type-runtime_DialogAction-type\"\u003e\n               \u003ccode\u003etype\u003c/code\u003e\n            \u003c/a\u003e field.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe initial event sent from the application to Amazon Lex V2 to configure\n         the conversation, including session and request attributes and the\n         response content type.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#ConfirmationState": {
        "type": "enum",
        "members": {
          "CONFIRMED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Confirmed"
            }
          },
          "DENIED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Denied"
            }
          },
          "NONE": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "None"
            }
          }
        }
      },
      "com.amazonaws.lexruntimev2#ConflictException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "com.amazonaws.lexruntimev2#String",
            "traits": {
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003e\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 409
        }
      },
      "com.amazonaws.lexruntimev2#ConversationMode": {
        "type": "enum",
        "members": {
          "AUDIO": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "AUDIO"
            }
          },
          "TEXT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "TEXT"
            }
          }
        }
      },
      "com.amazonaws.lexruntimev2#DTMFInputEvent": {
        "type": "structure",
        "members": {
          "clientTimestampMillis": {
            "target": "com.amazonaws.lexruntimev2#EpochMillis",
            "traits": {
              "smithy.api#default": 0,
              "smithy.api#documentation": "\u003cp\u003eA timestamp set by the client of the date and time that the event\n         was sent to Amazon Lex V2.\u003c/p\u003e"
            }
          },
          "eventId": {
            "target": "com.amazonaws.lexruntimev2#EventId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA unique identifier that your application assigns to the event. You\n         can use this to identify events in logs.\u003c/p\u003e"
            }
          },
          "inputCharacter": {
            "target": "com.amazonaws.lexruntimev2#DTMFRegex",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe DTMF character that the user pressed. The allowed characters are\n         A - D, 0 - 9, # and *.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eA DTMF character sent from the client application. DTMF characters\n         are typically sent from a phone keypad to represent numbers. For\n         example, you can have Amazon Lex V2 process a credit card number input from a\n         phone.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#DTMFRegex": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 1
          },
          "smithy.api#pattern": "^[A-D0-9#*]{1}$",
          "smithy.api#sensitive": {}
        }
      },
      "com.amazonaws.lexruntimev2#DeleteSession": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.lexruntimev2#DeleteSessionRequest"
        },
        "output": {
          "target": "com.amazonaws.lexruntimev2#DeleteSessionResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.lexruntimev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#ConflictException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#ResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eRemoves session information for a specified bot, alias, and user ID. \u003c/p\u003e\n         \u003cp\u003eYou can use this operation to restart a conversation with a bot.\n         When you remove a session, the entire history of the session is removed\n         so that you can start again.\u003c/p\u003e\n         \u003cp\u003eYou don't need to delete a session. Sessions have a time limit and\n         will expire. Set the session time limit when you create the bot. The\n         default is 5 minutes, but you can specify anything between 1 minute and\n         24 hours.\u003c/p\u003e\n         \u003cp\u003eIf you specify a bot or alias ID that doesn't exist, you receive a\n            \u003ccode\u003eBadRequestException.\u003c/code\u003e\n         \u003c/p\u003e\n         \u003cp\u003eIf the locale doesn't exist in the bot, or if the locale hasn't been\n         enables for the alias, you receive a\n         \u003ccode\u003eBadRequestException\u003c/code\u003e.\u003c/p\u003e",
          "smithy.api#http": {
            "method": "DELETE",
            "uri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}",
            "code": 200
          }
        }
      },
      "com.amazonaws.lexruntimev2#DeleteSessionRequest": {
        "type": "structure",
        "members": {
          "botAliasId": {
            "target": "com.amazonaws.lexruntimev2#BotAliasIdentifier",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe alias identifier in use for the bot that contains the session\n         data.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          },
          "botId": {
            "target": "com.amazonaws.lexruntimev2#BotIdentifier",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the bot that contains the session data.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          },
          "localeId": {
            "target": "com.amazonaws.lexruntimev2#LocaleId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe locale where the session is in use.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          },
          "sessionId": {
            "target": "com.amazonaws.lexruntimev2#SessionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the session to delete.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.lexruntimev2#DeleteSessionResponse": {
        "type": "structure",
        "members": {
          "botAliasId": {
            "target": "com.amazonaws.lexruntimev2#BotAliasIdentifier",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe alias identifier in use for the bot that contained the session\n         data.\u003c/p\u003e"
            }
          },
          "botId": {
            "target": "com.amazonaws.lexruntimev2#BotIdentifier",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the bot that contained the session data.\u003c/p\u003e"
            }
          },
          "localeId": {
            "target": "com.amazonaws.lexruntimev2#LocaleId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe locale where the session was used.\u003c/p\u003e"
            }
          },
          "sessionId": {
            "target": "com.amazonaws.lexruntimev2#SessionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the deleted session.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.lexruntimev2#DependencyFailedException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "com.amazonaws.lexruntimev2#String",
            "traits": {
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003e\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 424
        }
      },
      "com.amazonaws.lexruntimev2#DialogAction": {
        "type": "structure",
        "members": {
          "slotElicitationStyle": {
            "target": "com.amazonaws.lexruntimev2#StyleType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eConfigures the slot to use spell-by-letter or spell-by-word style.\n         When you use a style on a slot, users can spell out their input to make\n         it clear to your bot.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003eSpell by letter - \"b\" \"o\" \"b\"\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003eSpell by word - \"b as in boy\" \"o as in oscar\" \"b as in\n               boy\"\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eFor more information, see \u003ca href=\"https://docs.aws.amazon.com/lexv2/latest/dg/spelling-styles.html\"\u003e\n            Using spelling to enter slot values \u003c/a\u003e.\u003c/p\u003e"
            }
          },
          "slotToElicit": {
            "target": "com.amazonaws.lexruntimev2#NonEmptyString",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the slot that should be elicited from the user.\u003c/p\u003e"
            }
          },
          "subSlotToElicit": {
            "target": "com.amazonaws.lexruntimev2#ElicitSubSlot",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the constituent sub slot of the composite slot \n      specified in slotToElicit that should be elicited from the user.\u003c/p\u003e"
            }
          },
          "type": {
            "target": "com.amazonaws.lexruntimev2#DialogActionType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe next action that the bot should take in its interaction with the\n         user. The following values are possible:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eClose\u003c/code\u003e \u2013 Indicates that there will not be a\n               response from the user. For example, the statement \"Your order\n               has been placed\" does not require a response.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eConfirmIntent\u003c/code\u003e \u2013 The next action is asking the\n               user if the intent is complete and ready to be fulfilled. This is\n               a yes/no question such as \"Place the order?\"\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eDelegate\u003c/code\u003e \u2013 The next action is determined by\n               Amazon Lex V2.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eElicitIntent\u003c/code\u003e \u2013 The next action is to elicit an\n               intent from the user.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eElicitSlot\u003c/code\u003e \u2013 The next action is to elicit a slot\n               value from the user.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe next action that Amazon Lex V2 should take.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#DialogActionType": {
        "type": "enum",
        "members": {
          "CLOSE": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Close"
            }
          },
          "CONFIRM_INTENT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ConfirmIntent"
            }
          },
          "DELEGATE": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Delegate"
            }
          },
          "ELICIT_INTENT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ElicitIntent"
            }
          },
          "ELICIT_SLOT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ElicitSlot"
            }
          },
          "NONE": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "None"
            }
          }
        }
      },
      "com.amazonaws.lexruntimev2#DisconnectionEvent": {
        "type": "structure",
        "members": {
          "clientTimestampMillis": {
            "target": "com.amazonaws.lexruntimev2#EpochMillis",
            "traits": {
              "smithy.api#default": 0,
              "smithy.api#documentation": "\u003cp\u003eA timestamp set by the client of the date and time that the event\n         was sent to Amazon Lex V2.\u003c/p\u003e"
            }
          },
          "eventId": {
            "target": "com.amazonaws.lexruntimev2#EventId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA unique identifier that your application assigns to the event. You\n         can use this to identify events in logs.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eA notification from the client that it is disconnecting from Amazon Lex V2.\n         Sending a \u003ccode\u003eDisconnectionEvent\u003c/code\u003e event is optional, but can\n         help identify a conversation in logs.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#Double": {
        "type": "double",
        "traits": {
          "smithy.api#default": 0
        }
      },
      "com.amazonaws.lexruntimev2#ElicitSubSlot": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.lexruntimev2#NonEmptyString",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the slot that should be elicited from the user.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "subSlotToElicit": {
            "target": "com.amazonaws.lexruntimev2#ElicitSubSlot",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe field is not supported.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe specific constituent sub slot of the composite slot to elicit in dialog action.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#EpochMillis": {
        "type": "long",
        "traits": {
          "smithy.api#default": 0
        }
      },
      "com.amazonaws.lexruntimev2#EventId": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 2,
            "max": 100
          },
          "smithy.api#pattern": "^[0-9a-zA-Z._:-]+$"
        }
      },
      "com.amazonaws.lexruntimev2#GetSession": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.lexruntimev2#GetSessionRequest"
        },
        "output": {
          "target": "com.amazonaws.lexruntimev2#GetSessionResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.lexruntimev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#ResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eReturns session information for a specified bot, alias, and\n         user.\u003c/p\u003e\n         \u003cp\u003eFor example, you can use this operation to retrieve session\n         information for a user that has left a long-running session in\n         use.\u003c/p\u003e\n         \u003cp\u003eIf the bot, alias, or session identifier doesn't exist, Amazon Lex V2\n         returns a \u003ccode\u003eBadRequestException\u003c/code\u003e. If the locale doesn't exist\n         or is not enabled for the alias, you receive a\n            \u003ccode\u003eBadRequestException\u003c/code\u003e.\u003c/p\u003e",
          "smithy.api#http": {
            "method": "GET",
            "uri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}",
            "code": 200
          }
        }
      },
      "com.amazonaws.lexruntimev2#GetSessionRequest": {
        "type": "structure",
        "members": {
          "botAliasId": {
            "target": "com.amazonaws.lexruntimev2#BotAliasIdentifier",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe alias identifier in use for the bot that contains the session\n         data.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          },
          "botId": {
            "target": "com.amazonaws.lexruntimev2#BotIdentifier",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the bot that contains the session data.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          },
          "localeId": {
            "target": "com.amazonaws.lexruntimev2#LocaleId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe locale where the session is in use.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          },
          "sessionId": {
            "target": "com.amazonaws.lexruntimev2#SessionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the session to return.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.lexruntimev2#GetSessionResponse": {
        "type": "structure",
        "members": {
          "interpretations": {
            "target": "com.amazonaws.lexruntimev2#Interpretations",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of intents that Amazon Lex V2 determined might satisfy the user's\n         utterance. \u003c/p\u003e\n         \u003cp\u003eEach interpretation includes the intent, a score that indicates how\n         confident Amazon Lex V2 is that the interpretation is the correct one, and an\n         optional sentiment response that indicates the sentiment expressed in\n         the utterance.\u003c/p\u003e"
            }
          },
          "messages": {
            "target": "com.amazonaws.lexruntimev2#Messages",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of messages that were last sent to the user. The messages are\n         ordered based on the order that your returned the messages from your\n         Lambda function or the order that messages are defined in the bot.\n      \u003c/p\u003e"
            }
          },
          "sessionId": {
            "target": "com.amazonaws.lexruntimev2#NonEmptyString",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the returned session.\u003c/p\u003e"
            }
          },
          "sessionState": {
            "target": "com.amazonaws.lexruntimev2#SessionState",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eRepresents the current state of the dialog between the user and the\n         bot.\u003c/p\u003e\n         \u003cp\u003eYou can use this to determine the progress of the conversation and\n         what the next action might be.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.lexruntimev2#HeartbeatEvent": {
        "type": "structure",
        "members": {
          "eventId": {
            "target": "com.amazonaws.lexruntimev2#EventId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA unique identifier of the event sent by Amazon Lex V2. The identifier is in\n         the form \u003ccode\u003eRESPONSE-N\u003c/code\u003e, where N is a number starting with one\n         and incremented for each event sent by Amazon Lex V2 in the current\n         session.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eEvent that Amazon Lex V2 sends to indicate that the stream is still open\n         between the client application and Amazon Lex V2 \u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#ImageResponseCard": {
        "type": "structure",
        "members": {
          "buttons": {
            "target": "com.amazonaws.lexruntimev2#ButtonsList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of buttons that should be displayed on the response card. The\n            arrangement of the buttons is determined by the platform that displays\n            the button.\u003c/p\u003e"
            }
          },
          "imageUrl": {
            "target": "com.amazonaws.lexruntimev2#AttachmentUrl",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe URL of an image to display on the response card. The image URL\n            must be publicly available so that the platform displaying the response\n            card has access to the image.\u003c/p\u003e"
            }
          },
          "subtitle": {
            "target": "com.amazonaws.lexruntimev2#AttachmentTitle",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe subtitle to display on the response card. The format of the\n            subtitle is determined by the platform displaying the response\n            card.\u003c/p\u003e"
            }
          },
          "title": {
            "target": "com.amazonaws.lexruntimev2#AttachmentTitle",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe title to display on the response card. The format of the title\n            is determined by the platform displaying the response card.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eA card that is shown to the user by a messaging platform. You define\n            the contents of the card, the card is displayed by the platform. \u003c/p\u003e\n         \u003cp\u003eWhen you use a response card, the response from the user is\n            constrained to the text associated with a button on the card.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#InputMode": {
        "type": "enum",
        "members": {
          "DTMF": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "DTMF"
            }
          },
          "SPEECH": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Speech"
            }
          },
          "TEXT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Text"
            }
          }
        }
      },
      "com.amazonaws.lexruntimev2#Intent": {
        "type": "structure",
        "members": {
          "confirmationState": {
            "target": "com.amazonaws.lexruntimev2#ConfirmationState",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates whether the intent has been \u003ccode\u003eConfirmed\u003c/code\u003e, \u003ccode\u003eDenied\u003c/code\u003e, or \u003ccode\u003eNone\u003c/code\u003e if the confirmation stage has not yet been reached.\u003c/p\u003e"
            }
          },
          "name": {
            "target": "com.amazonaws.lexruntimev2#NonEmptyString",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the intent.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "slots": {
            "target": "com.amazonaws.lexruntimev2#Slots",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA map of all of the slots for the intent. The name of the slot maps\n         to the value of the slot. If a slot has not been filled, the value is\n         null.\u003c/p\u003e"
            }
          },
          "state": {
            "target": "com.amazonaws.lexruntimev2#IntentState",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates the fulfillment state for the intent. The meanings of each value are as follows:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eFailed\u003c/code\u003e \u2013 The bot failed to fulfill the intent.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eFulfilled\u003c/code\u003e \u2013 The bot has completed fulfillment of the intent.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eFulfillmentInProgress\u003c/code\u003e \u2013 The bot is in the middle of fulfilling the intent.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eInProgress\u003c/code\u003e \u2013 The bot is in the middle of eliciting the slot values that are necessary to fulfill the intent.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eReadyForFulfillment\u003c/code\u003e \u2013 The bot has elicited all the slot values for the intent and is ready to fulfill the intent.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eWaiting\u003c/code\u003e \u2013 The bot is waiting for a response from the user (limited to streaming conversations).\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe current intent that Amazon Lex V2 is attempting to fulfill.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#IntentResultEvent": {
        "type": "structure",
        "members": {
          "eventId": {
            "target": "com.amazonaws.lexruntimev2#EventId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA unique identifier of the event sent by Amazon Lex V2. The identifier is in\n         the form \u003ccode\u003eRESPONSE-N\u003c/code\u003e, where N is a number starting with one\n         and incremented for each event sent by Amazon Lex V2 in the current\n         session.\u003c/p\u003e"
            }
          },
          "inputMode": {
            "target": "com.amazonaws.lexruntimev2#InputMode",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates whether the input to the operation was text, speech, or from a touch-tone keypad.\u003c/p\u003e"
            }
          },
          "interpretations": {
            "target": "com.amazonaws.lexruntimev2#Interpretations",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of intents that Amazon Lex V2 determined might satisfy the user's\n         utterance.\u003c/p\u003e\n         \u003cp\u003eEach interpretation includes the intent, a score that indicates how\n         confident Amazon Lex V2 is that the interpretation is the correct one, and an\n         optional sentiment response that indicates the sentiment expressed in\n         the utterance.\u003c/p\u003e"
            }
          },
          "recognizedBotMember": {
            "target": "com.amazonaws.lexruntimev2#RecognizedBotMember",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe bot member that is processing the intent.\u003c/p\u003e"
            }
          },
          "requestAttributes": {
            "target": "com.amazonaws.lexruntimev2#StringMap",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe attributes sent in the request.\u003c/p\u003e"
            }
          },
          "sessionId": {
            "target": "com.amazonaws.lexruntimev2#SessionId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the session in use.\u003c/p\u003e"
            }
          },
          "sessionState": {
            "target": "com.amazonaws.lexruntimev2#SessionState"
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the current state of the conversation between the client\n         application and Amazon Lex V2.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#IntentState": {
        "type": "enum",
        "members": {
          "FAILED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Failed"
            }
          },
          "FULFILLED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Fulfilled"
            }
          },
          "FULFILLMENT_IN_PROGRESS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "FulfillmentInProgress"
            }
          },
          "IN_PROGRESS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "InProgress"
            }
          },
          "READY_FOR_FULFILLMENT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ReadyForFulfillment"
            }
          },
          "WAITING": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Waiting"
            }
          }
        }
      },
      "com.amazonaws.lexruntimev2#InternalServerException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "com.amazonaws.lexruntimev2#String",
            "traits": {
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003e\u003c/p\u003e",
          "smithy.api#error": "server",
          "smithy.api#httpError": 500
        }
      },
      "com.amazonaws.lexruntimev2#Interpretation": {
        "type": "structure",
        "members": {
          "intent": {
            "target": "com.amazonaws.lexruntimev2#Intent",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of intents that might satisfy the user's utterance. The\n         intents are ordered by the confidence score.\u003c/p\u003e"
            }
          },
          "interpretationSource": {
            "target": "com.amazonaws.lexruntimev2#InterpretationSource",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eSpecifies the service that interpreted the input.\u003c/p\u003e"
            }
          },
          "nluConfidence": {
            "target": "com.amazonaws.lexruntimev2#ConfidenceScore",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDetermines the threshold where Amazon Lex V2 will insert the\n            \u003ccode\u003eAMAZON.FallbackIntent\u003c/code\u003e,\n            \u003ccode\u003eAMAZON.KendraSearchIntent\u003c/code\u003e, or both when returning\n         alternative intents in a response. \u003ccode\u003eAMAZON.FallbackIntent\u003c/code\u003e\n         and \u003ccode\u003eAMAZON.KendraSearchIntent\u003c/code\u003e are only inserted if they\n         are configured for the bot.\u003c/p\u003e"
            }
          },
          "sentimentResponse": {
            "target": "com.amazonaws.lexruntimev2#SentimentResponse",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe sentiment expressed in an utterance. \u003c/p\u003e\n         \u003cp\u003eWhen the bot is configured to send utterances to Amazon Comprehend\n         for sentiment analysis, this field contains the result of the\n         analysis.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAn object containing information about an intent that Amazon Lex V2 determined might satisfy the user's utterance.\n         The intents are ordered by the confidence score. \u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#InterpretationSource": {
        "type": "enum",
        "members": {
          "BEDROCK": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Bedrock"
            }
          },
          "LEX": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "Lex"
            }
          }
        }
      },
      "com.amazonaws.lexruntimev2#Interpretations": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexruntimev2#Interpretation"
        },
        "traits": {
          "smithy.api#length": {
            "min": 0,
            "max": 5
          }
        }
      },
      "com.amazonaws.lexruntimev2#LocaleId": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1
          }
        }
      },
      "com.amazonaws.lexruntimev2#Message": {
        "type": "structure",
        "members": {
          "content": {
            "target": "com.amazonaws.lexruntimev2#Text",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe text of the message.\u003c/p\u003e"
            }
          },
          "contentType": {
            "target": "com.amazonaws.lexruntimev2#MessageContentType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates the type of response.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "imageResponseCard": {
            "target": "com.amazonaws.lexruntimev2#ImageResponseCard"
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContainer for text that is returned to the customer..\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#MessageContentType": {
        "type": "enum",
        "members": {
          "CUSTOM_PAYLOAD": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "CustomPayload"
            }
          },
          "IMAGE_RESPONSE_CARD": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "ImageResponseCard"
            }
          },
          "PLAIN_TEXT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "PlainText"
            }
          },
          "SSML": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "SSML"
            }
          }
        }
      },
      "com.amazonaws.lexruntimev2#Messages": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.lexruntimev2#Message"
        },
        "traits": {
          "smithy.api#length": {
            "min": 0,
            "max": 10
          }
        }
      },
      "com.amazonaws.lexruntimev2#Name": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 100
          },
          "smithy.api#pattern": "^([0-9a-zA-Z][_-]?)+$"
        }
      },
      "com.amazonaws.lexruntimev2#NonEmptyString": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1
          }
        }
      },
      "com.amazonaws.lexruntimev2#ParameterName": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 100
          }
        }
      },
      "com.amazonaws.lexruntimev2#PlaybackCompletionEvent": {
        "type": "structure",
        "members": {
          "clientTimestampMillis": {
            "target": "com.amazonaws.lexruntimev2#EpochMillis",
            "traits": {
              "smithy.api#default": 0,
              "smithy.api#documentation": "\u003cp\u003eA timestamp set by the client of the date and time that the event\n         was sent to Amazon Lex V2.\u003c/p\u003e"
            }
          },
          "eventId": {
            "target": "com.amazonaws.lexruntimev2#EventId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA unique identifier that your application assigns to the event. You\n         can use this to identify events in logs.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eEvent sent from the client application to Amazon Lex V2 to indicate that\n         playback of audio is complete and that Amazon Lex V2 should start processing\n         the user's input.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#PlaybackInterruptionEvent": {
        "type": "structure",
        "members": {
          "causedByEventId": {
            "target": "com.amazonaws.lexruntimev2#EventId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the event that contained the audio, DTMF, or text\n         that caused the interruption.\u003c/p\u003e"
            }
          },
          "eventId": {
            "target": "com.amazonaws.lexruntimev2#EventId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA unique identifier of the event sent by Amazon Lex V2. The identifier is in\n         the form \u003ccode\u003eRESPONSE-N\u003c/code\u003e, where N is a number starting with one\n         and incremented for each event sent by Amazon Lex V2 in the current\n         session.\u003c/p\u003e"
            }
          },
          "eventReason": {
            "target": "com.amazonaws.lexruntimev2#PlaybackInterruptionReason",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates the type of user input that Amazon Lex V2 detected.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eEvent sent from Amazon Lex V2 to indicate to the client application should\n         stop playback of audio. For example, if the client is playing a prompt\n         that asks for the user's telephone number, the user might start to say\n         the phone number before the prompt is complete. Amazon Lex V2 sends this event\n         to the client application to indicate that the user is responding and\n         that Amazon Lex V2 is processing their input.\u003c/p\u003e"
        }
      },
      "com.amazonaws.lexruntimev2#PlaybackInterruptionReason": {
        "type": "enum",
        "members": {
          "DTMF_START_DETECTED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "DTMF_START_DETECTED"
            }
          },
          "TEXT_DETECTED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "TEXT_DETECTED"
            }
          },
          "VOICE_START_DETECTED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "VOICE_START_DETECTED"
            }
          }
        }
      },
      "com.amazonaws.lexruntimev2#PutSession": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.lexruntimev2#PutSessionRequest"
        },
        "output": {
          "target": "com.amazonaws.lexruntimev2#PutSessionResponse"
        },
        "errors": [
          {
            "target": "com.amazonaws.lexruntimev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#BadGatewayException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#ConflictException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#DependencyFailedException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#ResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.lexruntimev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a new session or modifies an existing session with an Amazon Lex V2\n         bot. Use this operation to enable your application to set the state of\n         the bot.\u003c/p\u003e",
          "smithy.api#http": {
            "method": "POST",
            "uri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}",
            "code": 200
          }
        }
      },
      "com.amazonaws.lexruntimev2#PutSessionRequest": {
        "type": "structure",
        "members": {
          "botAliasId": {
            "target": "com.amazonaws.lexruntimev2#BotAliasIdentifier",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe alias identifier of the bot that receives the session\n         data.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          },
          "botId": {
            "target": "com.amazonaws.lexruntimev2#BotIdentifier",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the bot that receives the session data.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          },
          "localeId": {
            "target": "com.amazonaws.lexruntimev2#LocaleId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe locale where the session is in use.\u003c/p\u003e",
              "smithy.api#httpLabel": {},
              "smithy.api#required": {}
            }
          },
          "messages": {
            "target": "com.amazonaws.lexruntimev2#Messages",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA list of messages to send to the user. Messages are sent in the\n         order that they are defined in the list.\u003c/p\u003e"
            }
          },
          "requestAttributes": {
            "target": "com.amazonaws.lexruntimev2#StringMap",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eRequest-specific information passed between Amazon Lex V2 and the client\n         application.\u003c/p\u003e\n         \u003cp\u003eThe namespace \u003ccode\u003ex-amz-lex:\u003c/code\u003e is reserved for special\n         attributes. Don't create any request attributes with the prefix\n            \u003ccode\u003ex-amz-lex:\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "responseContentType": {
            "target": "com.amazonaws.lexruntimev2#NonEmptyString",
            "traits": {
[...]
