{
  "schema_source": "smithy",
  "mode": "data_source",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://aws.example.invalid",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "aws",
  "data_source_namespace": "elastic-load-balancing-v2",
  "raw_spec": {
    "smithy": "2.0",
    "metadata": {
      "suppressions": [
        {
          "id": "HttpMethodSemantics",
          "namespace": "*"
        },
        {
          "id": "HttpResponseCodeSemantics",
          "namespace": "*"
        },
        {
          "id": "PaginatedTrait",
          "namespace": "*"
        },
        {
          "id": "HttpHeaderTrait",
          "namespace": "*"
        },
        {
          "id": "HttpUriConflict",
          "namespace": "*"
        },
        {
          "id": "Service",
          "namespace": "*"
        }
      ]
    },
    "shapes": {
      "com.amazonaws.elasticloadbalancingv2#ALPNPolicyNotSupportedException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
          }
        },
        "traits": {
          "aws.protocols#awsQueryError": {
            "code": "ALPNPolicyNotFound",
            "httpResponseCode": 400
          },
          "smithy.api#documentation": "\u003cp\u003eThe specified ALPN policy is not supported.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 400
        }
      },
      "com.amazonaws.elasticloadbalancingv2#Action": {
        "type": "structure",
        "members": {
          "AuthenticateCognitoConfig": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionConfig",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[HTTPS listeners] Information for using Amazon Cognito to authenticate users. Specify only\n      when \u003ccode\u003eType\u003c/code\u003e is \u003ccode\u003eauthenticate-cognito\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "AuthenticateOidcConfig": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionConfig",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[HTTPS listeners] Information about an identity provider that is compliant with OpenID\n      Connect (OIDC). Specify only when \u003ccode\u003eType\u003c/code\u003e is \u003ccode\u003eauthenticate-oidc\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "FixedResponseConfig": {
            "target": "com.amazonaws.elasticloadbalancingv2#FixedResponseActionConfig",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[Application Load Balancer] Information for creating an action that returns a custom HTTP\n      response. Specify only when \u003ccode\u003eType\u003c/code\u003e is \u003ccode\u003efixed-response\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "ForwardConfig": {
            "target": "com.amazonaws.elasticloadbalancingv2#ForwardActionConfig",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation for creating an action that distributes requests among multiple target\n      groups. Specify only when \u003ccode\u003eType\u003c/code\u003e is \u003ccode\u003eforward\u003c/code\u003e.\u003c/p\u003e\n         \u003cp\u003eIf you specify both \u003ccode\u003eForwardConfig\u003c/code\u003e and \u003ccode\u003eTargetGroupArn\u003c/code\u003e, you can \n      specify only one target group using \u003ccode\u003eForwardConfig\u003c/code\u003e and it must be the same \n      target group specified in \u003ccode\u003eTargetGroupArn\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "JwtValidationConfig": {
            "target": "com.amazonaws.elasticloadbalancingv2#JwtValidationActionConfig",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[HTTPS listeners] Information for validating JWT access tokens in client requests.\n      Specify only when \u003ccode\u003eType\u003c/code\u003e is \u003ccode\u003ejwt-validation\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "Order": {
            "target": "com.amazonaws.elasticloadbalancingv2#ActionOrder",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe order for the action. This value is required for rules with multiple actions. The\n      action with the lowest value for order is performed first.\u003c/p\u003e"
            }
          },
          "RedirectConfig": {
            "target": "com.amazonaws.elasticloadbalancingv2#RedirectActionConfig",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[Application Load Balancer] Information for creating a redirect action. Specify only when\n        \u003ccode\u003eType\u003c/code\u003e is \u003ccode\u003eredirect\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "TargetGroupArn": {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the target group. Specify only when \u003ccode\u003eType\u003c/code\u003e is\n        \u003ccode\u003eforward\u003c/code\u003e and you want to route to a single target group. To route to multiple\n      target groups, you must use \u003ccode\u003eForwardConfig\u003c/code\u003e instead.\u003c/p\u003e"
            }
          },
          "Type": {
            "target": "com.amazonaws.elasticloadbalancingv2#ActionTypeEnum",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe type of action.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eInformation about an action.\u003c/p\u003e\n         \u003cp\u003eEach rule must include exactly one of the following routing actions: \u003ccode\u003eforward\u003c/code\u003e, \n      \u003ccode\u003efixed-response\u003c/code\u003e, or \u003ccode\u003eredirect\u003c/code\u003e, and it must be the last \n      action to be performed.\u003c/p\u003e\n         \u003cp\u003eOptionally, a rule for an HTTPS listener can also include one of the following \n      user authentication actions: \u003ccode\u003eauthenticate-oidc\u003c/code\u003e,\n      \u003ccode\u003eauthenticate-cognito\u003c/code\u003e, or \u003ccode\u003ejwt-validation\u003c/code\u003e.\u003c/p\u003e"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#ActionOrder": {
        "type": "integer",
        "traits": {
          "smithy.api#range": {
            "min": 1,
            "max": 50000
          }
        }
      },
      "com.amazonaws.elasticloadbalancingv2#ActionTypeEnum": {
        "type": "enum",
        "members": {
          "AUTHENTICATE_COGNITO": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "authenticate-cognito"
            }
          },
          "AUTHENTICATE_OIDC": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "authenticate-oidc"
            }
          },
          "FIXED_RESPONSE": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "fixed-response"
            }
          },
          "FORWARD": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "forward"
            }
          },
          "JWT_VALIDATION": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "jwt-validation"
            }
          },
          "REDIRECT": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "redirect"
            }
          }
        }
      },
      "com.amazonaws.elasticloadbalancingv2#Actions": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.elasticloadbalancingv2#Action"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AddListenerCertificates": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.elasticloadbalancingv2#AddListenerCertificatesInput"
        },
        "output": {
          "target": "com.amazonaws.elasticloadbalancingv2#AddListenerCertificatesOutput"
        },
        "errors": [
          {
            "target": "com.amazonaws.elasticloadbalancingv2#CertificateNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#ListenerNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyCertificatesException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAdds the specified SSL server certificate to the certificate list for the specified HTTPS\n      or TLS listener.\u003c/p\u003e\n         \u003cp\u003eIf the certificate in already in the certificate list, the call is successful but the\n      certificate is not added again.\u003c/p\u003e\n         \u003cp\u003eFor more information, see \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/https-listener-certificates.html\"\u003eSSL\n        certificates\u003c/a\u003e in the \u003ci\u003eApplication Load Balancers Guide\u003c/i\u003e or \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/tls-listener-certificates.html\"\u003eServer \n        certificates\u003c/a\u003e in the \u003ci\u003eNetwork Load Balancers Guide\u003c/i\u003e.\u003c/p\u003e"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AddListenerCertificatesInput": {
        "type": "structure",
        "members": {
          "Certificates": {
            "target": "com.amazonaws.elasticloadbalancingv2#CertificateList",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe certificate to add. You can specify one certificate per call. Set\n        \u003ccode\u003eCertificateArn\u003c/code\u003e to the certificate ARN but do not set\n      \u003ccode\u003eIsDefault\u003c/code\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ListenerArn": {
            "target": "com.amazonaws.elasticloadbalancingv2#ListenerArn",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the listener.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AddListenerCertificatesOutput": {
        "type": "structure",
        "members": {
          "Certificates": {
            "target": "com.amazonaws.elasticloadbalancingv2#CertificateList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation about the certificates in the certificate list.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AddTags": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.elasticloadbalancingv2#AddTagsInput"
        },
        "output": {
          "target": "com.amazonaws.elasticloadbalancingv2#AddTagsOutput"
        },
        "errors": [
          {
            "target": "com.amazonaws.elasticloadbalancingv2#DuplicateTagKeysException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#ListenerNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#RuleNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyTagsException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TrustStoreNotFoundException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAdds the specified tags to the specified Elastic Load Balancing resource. You can tag your\n      Application Load Balancers, Network Load Balancers, Gateway Load Balancers, target groups,\n      trust stores, listeners, and rules.\u003c/p\u003e\n         \u003cp\u003eEach tag consists of a key and an optional value. If a resource already has a tag with the\n      same key, \u003ccode\u003eAddTags\u003c/code\u003e updates its value.\u003c/p\u003e",
          "smithy.api#examples": [
            {
              "title": "To add tags to a load balancer",
              "documentation": "This example adds the specified tags to the specified load balancer.",
              "input": {
                "ResourceArns": [
                  "arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188"
                ],
                "Tags": [
                  {
                    "Key": "project",
                    "Value": "lima"
                  },
                  {
                    "Key": "department",
                    "Value": "digital-media"
                  }
                ]
              }
            }
          ]
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AddTagsInput": {
        "type": "structure",
        "members": {
          "ResourceArns": {
            "target": "com.amazonaws.elasticloadbalancingv2#ResourceArns",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the resource.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Tags": {
            "target": "com.amazonaws.elasticloadbalancingv2#TagList",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe tags.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AddTagsOutput": {
        "type": "structure",
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AddTrustStoreRevocations": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.elasticloadbalancingv2#AddTrustStoreRevocationsInput"
        },
        "output": {
          "target": "com.amazonaws.elasticloadbalancingv2#AddTrustStoreRevocationsOutput"
        },
        "errors": [
          {
            "target": "com.amazonaws.elasticloadbalancingv2#InvalidRevocationContentException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#RevocationContentNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyTrustStoreRevocationEntriesException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TrustStoreNotFoundException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAdds the specified revocation file to the specified trust store.\u003c/p\u003e"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AddTrustStoreRevocationsInput": {
        "type": "structure",
        "members": {
          "RevocationContents": {
            "target": "com.amazonaws.elasticloadbalancingv2#RevocationContents",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe revocation file to add.\u003c/p\u003e"
            }
          },
          "TrustStoreArn": {
            "target": "com.amazonaws.elasticloadbalancingv2#TrustStoreArn",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the trust store.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AddTrustStoreRevocationsOutput": {
        "type": "structure",
        "members": {
          "TrustStoreRevocations": {
            "target": "com.amazonaws.elasticloadbalancingv2#TrustStoreRevocations",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation about the revocation file added to the trust store.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AdministrativeOverride": {
        "type": "structure",
        "members": {
          "Description": {
            "target": "com.amazonaws.elasticloadbalancingv2#Description",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA description of the override state that provides additional details.\u003c/p\u003e"
            }
          },
          "Reason": {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetAdministrativeOverrideReasonEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe reason code for the state.\u003c/p\u003e"
            }
          },
          "State": {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetAdministrativeOverrideStateEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe state of the override.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eInformation about the override status applied to a target.\u003c/p\u003e"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AdvertiseTrustStoreCaNamesEnum": {
        "type": "enum",
        "members": {
          "off": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "off"
            }
          },
          "on": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "on"
            }
          }
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AllocationId": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AllocationIdNotFoundException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
          }
        },
        "traits": {
          "aws.protocols#awsQueryError": {
            "code": "AllocationIdNotFound",
            "httpResponseCode": 400
          },
          "smithy.api#documentation": "\u003cp\u003eThe specified allocation ID does not exist.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 400
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AlpnPolicyName": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.elasticloadbalancingv2#AlpnPolicyValue"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AlpnPolicyValue": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AnomalyDetection": {
        "type": "structure",
        "members": {
          "MitigationInEffect": {
            "target": "com.amazonaws.elasticloadbalancingv2#MitigationInEffectEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates whether anomaly mitigation is in progress.\u003c/p\u003e"
            }
          },
          "Result": {
            "target": "com.amazonaws.elasticloadbalancingv2#AnomalyResultEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe latest anomaly detection result.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eInformation about anomaly detection and mitigation.\u003c/p\u003e"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AnomalyResultEnum": {
        "type": "enum",
        "members": {
          "ANOMALOUS": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "anomalous"
            }
          },
          "NORMAL": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "normal"
            }
          }
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestExtraParams": {
        "type": "map",
        "key": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestParamName"
        },
        "value": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestParamValue"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestParamName": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestParamValue": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionConditionalBehaviorEnum": {
        "type": "enum",
        "members": {
          "ALLOW": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "allow"
            }
          },
          "AUTHENTICATE": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "authenticate"
            }
          },
          "DENY": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "deny"
            }
          }
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionConfig": {
        "type": "structure",
        "members": {
          "AuthenticationRequestExtraParams": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestExtraParams",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe query parameters (up to 10) to include in the redirect request to the authorization\n      endpoint.\u003c/p\u003e"
            }
          },
          "OnUnauthenticatedRequest": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionConditionalBehaviorEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe behavior if the user is not authenticated. The following are possible values:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003edeny\u003ccode\u003e\u003c/code\u003e - Return an HTTP 401 Unauthorized error.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003eallow\u003ccode\u003e\u003c/code\u003e - Allow the request to be forwarded to the target.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003eauthenticate\u003ccode\u003e\u003c/code\u003e - Redirect the request to the IdP authorization endpoint. This is\n          the default value.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
            }
          },
          "Scope": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionScope",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe set of user claims to be requested from the IdP. The default is\n      \u003ccode\u003eopenid\u003c/code\u003e.\u003c/p\u003e\n         \u003cp\u003eTo verify which scope values your IdP supports and how to separate multiple values, see\n      the documentation for your IdP.\u003c/p\u003e"
            }
          },
          "SessionCookieName": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionSessionCookieName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the cookie used to maintain session information. The default is\n      AWSELBAuthSessionCookie.\u003c/p\u003e"
            }
          },
          "SessionTimeout": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionSessionTimeout",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe maximum duration of the authentication session, in seconds. The default is 604800\n      seconds (7 days).\u003c/p\u003e"
            }
          },
          "UserPoolArn": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolArn",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the Amazon Cognito user pool.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "UserPoolClientId": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolClientId",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe ID of the Amazon Cognito user pool client.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "UserPoolDomain": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolDomain",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe domain prefix or fully-qualified domain name of the Amazon Cognito user pool.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eRequest parameters to use when integrating with Amazon Cognito to authenticate\n      users.\u003c/p\u003e"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionScope": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionSessionCookieName": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionSessionTimeout": {
        "type": "long"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolArn": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolClientId": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolDomain": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestExtraParams": {
        "type": "map",
        "key": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestParamName"
        },
        "value": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestParamValue"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestParamName": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestParamValue": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthorizationEndpoint": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionClientId": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionClientSecret": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionConditionalBehaviorEnum": {
        "type": "enum",
        "members": {
          "ALLOW": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "allow"
            }
          },
          "AUTHENTICATE": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "authenticate"
            }
          },
          "DENY": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "deny"
            }
          }
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionConfig": {
        "type": "structure",
        "members": {
          "AuthenticationRequestExtraParams": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestExtraParams",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe query parameters (up to 10) to include in the redirect request to the authorization\n      endpoint.\u003c/p\u003e"
            }
          },
          "AuthorizationEndpoint": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthorizationEndpoint",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe authorization endpoint of the IdP. This must be a full URL, including the HTTPS\n      protocol, the domain, and the path.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ClientId": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionClientId",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe OAuth 2.0 client identifier.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ClientSecret": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionClientSecret",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe OAuth 2.0 client secret. This parameter is required if you are creating a rule. If you\n      are modifying a rule, you can omit this parameter if you set\n        \u003ccode\u003eUseExistingClientSecret\u003c/code\u003e to true.\u003c/p\u003e"
            }
          },
          "Issuer": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionIssuer",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe OIDC issuer identifier of the IdP. This must be a full URL, including the HTTPS\n      protocol, the domain, and the path.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "OnUnauthenticatedRequest": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionConditionalBehaviorEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe behavior if the user is not authenticated. The following are possible values:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003edeny\u003ccode\u003e\u003c/code\u003e - Return an HTTP 401 Unauthorized error.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003eallow\u003ccode\u003e\u003c/code\u003e - Allow the request to be forwarded to the target.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003eauthenticate\u003ccode\u003e\u003c/code\u003e - Redirect the request to the IdP authorization endpoint. This is\n          the default value.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
            }
          },
          "Scope": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionScope",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe set of user claims to be requested from the IdP. The default is\n      \u003ccode\u003eopenid\u003c/code\u003e.\u003c/p\u003e\n         \u003cp\u003eTo verify which scope values your IdP supports and how to separate multiple values, see\n      the documentation for your IdP.\u003c/p\u003e"
            }
          },
          "SessionCookieName": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionSessionCookieName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the cookie used to maintain session information. The default is\n      AWSELBAuthSessionCookie.\u003c/p\u003e"
            }
          },
          "SessionTimeout": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionSessionTimeout",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe maximum duration of the authentication session, in seconds. The default is 604800\n      seconds (7 days).\u003c/p\u003e"
            }
          },
          "TokenEndpoint": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionTokenEndpoint",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe token endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the\n      domain, and the path.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "UseExistingClientSecret": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionUseExistingClientSecret",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates whether to use the existing client secret when modifying a rule. If you are\n      creating a rule, you can omit this parameter or set it to false.\u003c/p\u003e"
            }
          },
          "UserInfoEndpoint": {
            "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionUserInfoEndpoint",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe user info endpoint of the IdP. This must be a full URL, including the HTTPS protocol,\n      the domain, and the path.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eRequest parameters when using an identity provider (IdP) that is compliant with OpenID\n      Connect (OIDC) to authenticate users.\u003c/p\u003e"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionIssuer": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionScope": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionSessionCookieName": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionSessionTimeout": {
        "type": "long"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionTokenEndpoint": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionUseExistingClientSecret": {
        "type": "boolean"
      },
      "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionUserInfoEndpoint": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#AvailabilityZone": {
        "type": "structure",
        "members": {
          "LoadBalancerAddresses": {
            "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerAddresses",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[Network Load Balancers] If you need static IP addresses for your load balancer, you can\n      specify one Elastic IP address per Availability Zone when you create an internal-facing load\n      balancer. For internal load balancers, you can specify a private IP address from the IPv4\n      range of the subnet.\u003c/p\u003e"
            }
          },
          "OutpostId": {
            "target": "com.amazonaws.elasticloadbalancingv2#OutpostId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[Application Load Balancers on Outposts] The ID of the Outpost.\u003c/p\u003e"
            }
          },
          "SourceNatIpv6Prefixes": {
            "target": "com.amazonaws.elasticloadbalancingv2#SourceNatIpv6Prefixes",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[Network Load Balancers with UDP listeners] The IPv6 prefixes to use for source NAT.\n      For each subnet, specify an IPv6 prefix (/80 netmask) from the subnet CIDR block or\n     \u003ccode\u003eauto_assigned\u003c/code\u003e to use an IPv6 prefix selected at random from the subnet CIDR\n      block.\u003c/p\u003e"
            }
          },
          "SubnetId": {
            "target": "com.amazonaws.elasticloadbalancingv2#SubnetId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ID of the subnet. You can specify one subnet per Availability Zone.\u003c/p\u003e"
            }
          },
          "ZoneName": {
            "target": "com.amazonaws.elasticloadbalancingv2#ZoneName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the Availability Zone.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eInformation about an Availability Zone.\u003c/p\u003e"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AvailabilityZoneNotSupportedException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
          }
        },
        "traits": {
          "aws.protocols#awsQueryError": {
            "code": "AvailabilityZoneNotSupported",
            "httpResponseCode": 400
          },
          "smithy.api#documentation": "\u003cp\u003eThe specified Availability Zone is not supported.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 400
        }
      },
      "com.amazonaws.elasticloadbalancingv2#AvailabilityZones": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.elasticloadbalancingv2#AvailabilityZone"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CaCertificatesBundleNotFoundException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
          }
        },
        "traits": {
          "aws.protocols#awsQueryError": {
            "code": "CaCertificatesBundleNotFound",
            "httpResponseCode": 400
          },
          "smithy.api#documentation": "\u003cp\u003eThe specified ca certificate bundle does not exist.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 400
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CanonicalHostedZoneId": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#CapacityDecreaseRequestsLimitExceededException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
          }
        },
        "traits": {
          "aws.protocols#awsQueryError": {
            "code": "CapacityDecreaseRequestLimitExceeded",
            "httpResponseCode": 400
          },
          "smithy.api#documentation": "\u003cp\u003eYou've exceeded the daily capacity decrease limit for this reservation.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 400
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CapacityReservationPendingException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
          }
        },
        "traits": {
          "aws.protocols#awsQueryError": {
            "code": "CapacityReservationPending",
            "httpResponseCode": 400
          },
          "smithy.api#documentation": "\u003cp\u003eThere is a pending capacity reservation.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 400
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CapacityReservationStateEnum": {
        "type": "enum",
        "members": {
          "FAILED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "failed"
            }
          },
          "PENDING": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "pending"
            }
          },
          "PROVISIONED": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "provisioned"
            }
          },
          "REBALANCING": {
            "target": "smithy.api#Unit",
            "traits": {
              "smithy.api#enumValue": "rebalancing"
            }
          }
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CapacityReservationStatus": {
        "type": "structure",
        "members": {
          "Code": {
            "target": "com.amazonaws.elasticloadbalancingv2#CapacityReservationStateEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe status code.\u003c/p\u003e"
            }
          },
          "Reason": {
            "target": "com.amazonaws.elasticloadbalancingv2#StateReason",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe reason code for the status.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe status of a capacity reservation.\u003c/p\u003e"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CapacityUnits": {
        "type": "integer"
      },
      "com.amazonaws.elasticloadbalancingv2#CapacityUnitsDouble": {
        "type": "double"
      },
      "com.amazonaws.elasticloadbalancingv2#CapacityUnitsLimitExceededException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
          }
        },
        "traits": {
          "aws.protocols#awsQueryError": {
            "code": "CapacityUnitsLimitExceeded",
            "httpResponseCode": 400
          },
          "smithy.api#documentation": "\u003cp\u003eYou've exceeded the capacity units limit.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 400
        }
      },
      "com.amazonaws.elasticloadbalancingv2#Certificate": {
        "type": "structure",
        "members": {
          "CertificateArn": {
            "target": "com.amazonaws.elasticloadbalancingv2#CertificateArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the certificate.\u003c/p\u003e"
            }
          },
          "IsDefault": {
            "target": "com.amazonaws.elasticloadbalancingv2#Default",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates whether the certificate is the default certificate. Do not set this value when\n      specifying a certificate as an input. This value is not included in the output when describing\n      a listener, but is included when describing listener certificates.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eInformation about an SSL server certificate.\u003c/p\u003e"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CertificateArn": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#CertificateList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.elasticloadbalancingv2#Certificate"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CertificateNotFoundException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
          }
        },
        "traits": {
          "aws.protocols#awsQueryError": {
            "code": "CertificateNotFound",
            "httpResponseCode": 400
          },
          "smithy.api#documentation": "\u003cp\u003eThe specified certificate does not exist.\u003c/p\u003e",
          "smithy.api#error": "client",
          "smithy.api#httpError": 400
        }
      },
      "com.amazonaws.elasticloadbalancingv2#Cipher": {
        "type": "structure",
        "members": {
          "Name": {
            "target": "com.amazonaws.elasticloadbalancingv2#CipherName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the cipher.\u003c/p\u003e"
            }
          },
          "Priority": {
            "target": "com.amazonaws.elasticloadbalancingv2#CipherPriority",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe priority of the cipher.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eInformation about a cipher used in a policy.\u003c/p\u003e"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CipherName": {
        "type": "string"
      },
      "com.amazonaws.elasticloadbalancingv2#CipherPriority": {
        "type": "integer"
      },
      "com.amazonaws.elasticloadbalancingv2#Ciphers": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.elasticloadbalancingv2#Cipher"
        }
      },
      "com.amazonaws.elasticloadbalancingv2#ConditionFieldName": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 0,
            "max": 64
          }
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CreateListener": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.elasticloadbalancingv2#CreateListenerInput"
        },
        "output": {
          "target": "com.amazonaws.elasticloadbalancingv2#CreateListenerOutput"
        },
        "errors": [
          {
            "target": "com.amazonaws.elasticloadbalancingv2#ALPNPolicyNotSupportedException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#CertificateNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#DuplicateListenerException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#IncompatibleProtocolsException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#InvalidConfigurationRequestException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#InvalidLoadBalancerActionException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#SSLPolicyNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupAssociationLimitException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyActionsException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyCertificatesException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyListenersException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyRegistrationsForTargetIdException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyTagsException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyTargetsException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyUniqueTargetGroupsPerLoadBalancerException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TrustStoreNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TrustStoreNotReadyException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#UnsupportedProtocolException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a listener for the specified Application Load Balancer, Network Load Balancer, or\n      Gateway Load Balancer.\u003c/p\u003e\n         \u003cp\u003eFor more information, see the following:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\"\u003eListeners for\n            your Application Load Balancers\u003c/a\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html\"\u003eListeners for\n            your Network Load Balancers\u003c/a\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-listeners.html\"\u003eListeners for your\n            Gateway Load Balancers\u003c/a\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eThis operation is idempotent, which means that it completes at most one time. If you\n      attempt to create multiple listeners with the same settings, each call succeeds.\u003c/p\u003e",
          "smithy.api#examples": [
            {
              "title": "To create an HTTP listener",
              "documentation": "This example creates an HTTP listener for the specified load balancer that forwards requests to the specified target group.",
              "input": {
                "LoadBalancerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188",
                "Protocol": "HTTP",
                "Port": 80,
                "DefaultActions": [
                  {
                    "Type": "forward",
                    "TargetGroupArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067"
                  }
                ]
              },
              "output": {
                "Listeners": [
                  {
                    "Protocol": "HTTP",
                    "DefaultActions": [
                      {
                        "TargetGroupArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067",
                        "Type": "forward"
                      }
                    ],
                    "LoadBalancerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188",
                    "Port": 80,
                    "ListenerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:listener/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2"
                  }
                ]
              }
            },
            {
              "title": "To create an HTTPS listener",
              "documentation": "This example creates an HTTPS listener for the specified load balancer that forwards requests to the specified target group. Note that you must specify an SSL certificate for an HTTPS listener. You can create and manage certificates using AWS Certificate Manager (ACM). Alternatively, you can create a certificate using SSL/TLS tools, get the certificate signed by a certificate authority (CA), and upload the certificate to AWS Identity and Access Management (IAM).",
              "input": {
                "LoadBalancerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188",
                "Protocol": "HTTPS",
                "Port": 443,
                "SslPolicy": "ELBSecurityPolicy-2015-05",
                "Certificates": [
                  {
                    "CertificateArn": "arn:aws:iam::123456789012:server-certificate/my-server-cert"
                  }
                ],
                "DefaultActions": [
                  {
                    "Type": "forward",
                    "TargetGroupArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067"
                  }
                ]
              },
              "output": {
                "Listeners": [
                  {
                    "Protocol": "HTTPS",
                    "DefaultActions": [
                      {
                        "TargetGroupArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067",
                        "Type": "forward"
                      }
                    ],
                    "SslPolicy": "ELBSecurityPolicy-2015-05",
                    "Certificates": [
                      {
                        "CertificateArn": "arn:aws:iam::123456789012:server-certificate/my-server-cert"
                      }
                    ],
                    "LoadBalancerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188",
                    "Port": 443,
                    "ListenerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:listener/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2"
                  }
                ]
              }
            }
          ]
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CreateListenerInput": {
        "type": "structure",
        "members": {
          "AlpnPolicy": {
            "target": "com.amazonaws.elasticloadbalancingv2#AlpnPolicyName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[TLS listeners] The name of the Application-Layer Protocol Negotiation (ALPN) policy. You\n      can specify one policy name. The following are the possible values:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eHTTP1Only\u003c/code\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eHTTP2Only\u003c/code\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eHTTP2Optional\u003c/code\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eHTTP2Preferred\u003c/code\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eNone\u003c/code\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eFor more information, see \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html#alpn-policies\"\u003eALPN\n        policies\u003c/a\u003e in the \u003ci\u003eNetwork Load Balancers Guide\u003c/i\u003e.\u003c/p\u003e"
            }
          },
          "Certificates": {
            "target": "com.amazonaws.elasticloadbalancingv2#CertificateList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[HTTPS and TLS listeners] The default certificate for the listener. You must provide\n      exactly one certificate. Set \u003ccode\u003eCertificateArn\u003c/code\u003e to the certificate ARN but do not set\n        \u003ccode\u003eIsDefault\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "DefaultActions": {
            "target": "com.amazonaws.elasticloadbalancingv2#Actions",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe actions for the default rule.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "LoadBalancerArn": {
            "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerArn",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the load balancer.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "MutualAuthentication": {
            "target": "com.amazonaws.elasticloadbalancingv2#MutualAuthenticationAttributes",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[HTTPS listeners] The mutual authentication configuration information.\u003c/p\u003e"
            }
          },
          "Port": {
            "target": "com.amazonaws.elasticloadbalancingv2#Port",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe port on which the load balancer is listening. You can't specify a port for a Gateway\n      Load Balancer.\u003c/p\u003e"
            }
          },
          "Protocol": {
            "target": "com.amazonaws.elasticloadbalancingv2#ProtocolEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe protocol for connections from clients to the load balancer. For Application Load\n      Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the\n      supported protocols are TCP, TLS, UDP, TCP_UDP, QUIC, and TCP_QUIC. You can\u2019t specify the UDP, TCP_UDP, QUIC, or TCP_QUIC\n      protocol if dual-stack mode is enabled. You can't specify a protocol for a Gateway Load\n      Balancer.\u003c/p\u003e"
            }
          },
          "SslPolicy": {
            "target": "com.amazonaws.elasticloadbalancingv2#SslPolicyName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[HTTPS and TLS listeners] The security policy that defines which protocols and ciphers are\n      supported.\u003c/p\u003e\n         \u003cp\u003eFor more information, see \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/describe-ssl-policies.html\"\u003eSecurity policies\u003c/a\u003e in the \u003ci\u003eApplication Load Balancers Guide\u003c/i\u003e and\n        \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/describe-ssl-policies.html\"\u003eSecurity policies\u003c/a\u003e in the \u003ci\u003eNetwork Load Balancers Guide\u003c/i\u003e.\u003c/p\u003e"
            }
          },
          "Tags": {
            "target": "com.amazonaws.elasticloadbalancingv2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe tags to assign to the listener.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CreateListenerOutput": {
        "type": "structure",
        "members": {
          "Listeners": {
            "target": "com.amazonaws.elasticloadbalancingv2#Listeners",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation about the listener.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CreateLoadBalancer": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.elasticloadbalancingv2#CreateLoadBalancerInput"
        },
        "output": {
          "target": "com.amazonaws.elasticloadbalancingv2#CreateLoadBalancerOutput"
        },
        "errors": [
          {
            "target": "com.amazonaws.elasticloadbalancingv2#AllocationIdNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#AvailabilityZoneNotSupportedException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#DuplicateLoadBalancerNameException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#DuplicateTagKeysException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#InvalidConfigurationRequestException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#InvalidSchemeException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#InvalidSecurityGroupException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#InvalidSubnetException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#OperationNotPermittedException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#ResourceInUseException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#SubnetNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyLoadBalancersException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyTagsException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates an Application Load Balancer, Network Load Balancer, or Gateway Load\n      Balancer.\u003c/p\u003e\n         \u003cp\u003eFor more information, see the following:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html\"\u003eApplication Load Balancers\u003c/a\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html\"\u003eNetwork Load\n            Balancers\u003c/a\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-load-balancers.html\"\u003eGateway Load\n            Balancers\u003c/a\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eThis operation is idempotent, which means that it completes at most one time. If you\n      attempt to create multiple load balancers with the same settings, each call succeeds.\u003c/p\u003e",
          "smithy.api#examples": [
            {
              "title": "To create an Internet-facing load balancer",
              "documentation": "This example creates an Internet-facing load balancer and enables the Availability Zones for the specified subnets.",
              "input": {
                "Name": "my-load-balancer",
                "Subnets": [
                  "subnet-b7d581c0",
                  "subnet-8360a9e7"
                ]
              },
              "output": {
                "LoadBalancers": [
                  {
                    "VpcId": "vpc-3ac0fb5f",
                    "LoadBalancerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188",
                    "State": {
                      "Code": "provisioning"
                    },
                    "DNSName": "my-load-balancer-424835706.us-west-2.elb.amazonaws.com",
                    "SecurityGroups": [
                      "sg-5943793c"
                    ],
                    "LoadBalancerName": "my-load-balancer",
                    "CreatedTime": "2016-03-25T21:26:12.920Z",
                    "Scheme": "internet-facing",
                    "Type": "application",
                    "CanonicalHostedZoneId": "Z2P70J7EXAMPLE",
                    "AvailabilityZones": [
                      {
                        "SubnetId": "subnet-8360a9e7",
                        "ZoneName": "us-west-2a"
                      },
                      {
                        "SubnetId": "subnet-b7d581c0",
                        "ZoneName": "us-west-2b"
                      }
                    ]
                  }
                ]
              }
            },
            {
              "title": "To create an internal load balancer",
              "documentation": "This example creates an internal load balancer and enables the Availability Zones for the specified subnets.",
              "input": {
                "Name": "my-internal-load-balancer",
                "Subnets": [
                  "subnet-b7d581c0",
                  "subnet-8360a9e7"
                ],
                "SecurityGroups": [],
                "Scheme": "internal"
              },
              "output": {
                "LoadBalancers": [
                  {
                    "VpcId": "vpc-3ac0fb5f",
                    "LoadBalancerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-internal-load-balancer/5b49b8d4303115c2",
                    "State": {
                      "Code": "provisioning"
                    },
                    "DNSName": "internal-my-internal-load-balancer-1529930873.us-west-2.elb.amazonaws.com",
                    "SecurityGroups": [
                      "sg-5943793c"
                    ],
                    "LoadBalancerName": "my-internal-load-balancer",
                    "CreatedTime": "2016-03-25T21:29:48.850Z",
                    "Scheme": "internal",
                    "Type": "application",
                    "CanonicalHostedZoneId": "Z2P70J7EXAMPLE",
                    "AvailabilityZones": [
                      {
                        "SubnetId": "subnet-8360a9e7",
                        "ZoneName": "us-west-2a"
                      },
                      {
                        "SubnetId": "subnet-b7d581c0",
                        "ZoneName": "us-west-2b"
                      }
                    ]
                  }
                ]
              }
            }
          ]
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CreateLoadBalancerInput": {
        "type": "structure",
        "members": {
          "CustomerOwnedIpv4Pool": {
            "target": "com.amazonaws.elasticloadbalancingv2#CustomerOwnedIpv4Pool",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[Application Load Balancers on Outposts] The ID of the customer-owned address pool (CoIP\n      pool).\u003c/p\u003e"
            }
          },
          "EnablePrefixForIpv6SourceNat": {
            "target": "com.amazonaws.elasticloadbalancingv2#EnablePrefixForIpv6SourceNatEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[Network Load Balancers with UDP listeners] Indicates whether to use an IPv6 prefix \n      from each subnet for source NAT. The IP address type must be \u003ccode\u003edualstack\u003c/code\u003e. \n      The default value is \u003ccode\u003eoff\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "IpAddressType": {
            "target": "com.amazonaws.elasticloadbalancingv2#IpAddressType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe IP address type. Internal load balancers must use \u003ccode\u003eipv4\u003c/code\u003e.\u003c/p\u003e\n         \u003cp\u003e[Application Load Balancers] The possible values are \u003ccode\u003eipv4\u003c/code\u003e (IPv4 addresses), \n      \u003ccode\u003edualstack\u003c/code\u003e (IPv4 and IPv6 addresses), and \u003ccode\u003edualstack-without-public-ipv4\u003c/code\u003e \n      (public IPv6 addresses and private IPv4 and IPv6 addresses).\u003c/p\u003e\n         \u003cp\u003e[Network Load Balancers and Gateway Load Balancers] The possible values are \u003ccode\u003eipv4\u003c/code\u003e \n      (IPv4 addresses) and \u003ccode\u003edualstack\u003c/code\u003e (IPv4 and IPv6 addresses).\u003c/p\u003e"
            }
          },
          "IpamPools": {
            "target": "com.amazonaws.elasticloadbalancingv2#IpamPools",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[Application Load Balancers] The IPAM pools to use with the load balancer.\u003c/p\u003e"
            }
          },
          "Name": {
            "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerName",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe name of the load balancer.\u003c/p\u003e\n         \u003cp\u003eThis name must be unique per region per account, can have a maximum of 32 characters, must\n      contain only alphanumeric characters or hyphens, must not begin or end with a hyphen, and must\n      not begin with \"internal-\".\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Scheme": {
            "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerSchemeEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe nodes of an Internet-facing load balancer have public IP addresses. The DNS name of an\n      Internet-facing load balancer is publicly resolvable to the public IP addresses of the nodes.\n      Therefore, Internet-facing load balancers can route requests from clients over the\n      internet.\u003c/p\u003e\n         \u003cp\u003eThe nodes of an internal load balancer have only private IP addresses. The DNS name of an\n      internal load balancer is publicly resolvable to the private IP addresses of the nodes.\n      Therefore, internal load balancers can route requests only from clients with access to the VPC\n      for the load balancer.\u003c/p\u003e\n         \u003cp\u003eThe default is an Internet-facing load balancer.\u003c/p\u003e\n         \u003cp\u003eYou can't specify a scheme for a Gateway Load Balancer.\u003c/p\u003e"
            }
          },
          "SecurityGroups": {
            "target": "com.amazonaws.elasticloadbalancingv2#SecurityGroups",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[Application Load Balancers and Network Load Balancers] The IDs of the security groups for\n      the load balancer.\u003c/p\u003e"
            }
          },
          "SubnetMappings": {
            "target": "com.amazonaws.elasticloadbalancingv2#SubnetMappings",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe IDs of the subnets. You can specify only one subnet per Availability Zone. You\n      must specify either subnets or subnet mappings, but not both.\u003c/p\u003e\n         \u003cp\u003e[Application Load Balancers] You must specify subnets from at least two Availability\n      Zones. You can't specify Elastic IP addresses for your subnets.\u003c/p\u003e\n         \u003cp\u003e[Application Load Balancers on Outposts] You must specify one Outpost subnet.\u003c/p\u003e\n         \u003cp\u003e[Application Load Balancers on Local Zones] You can specify subnets from one or more Local\n      Zones.\u003c/p\u003e\n         \u003cp\u003e[Network Load Balancers] You can specify subnets from one or more Availability Zones. You\n      can specify one Elastic IP address per subnet if you need static IP addresses for your\n      internet-facing load balancer. For internal load balancers, you can specify one private IP\n      address per subnet from the IPv4 range of the subnet. For internet-facing load balancer, you\n      can specify one IPv6 address per subnet.\u003c/p\u003e\n         \u003cp\u003e[Gateway Load Balancers] You can specify subnets from one or more Availability Zones. You\n      can't specify Elastic IP addresses for your subnets.\u003c/p\u003e"
            }
          },
          "Subnets": {
            "target": "com.amazonaws.elasticloadbalancingv2#Subnets",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe IDs of the subnets. You can specify only one subnet per Availability Zone. You\n      must specify either subnets or subnet mappings, but not both. To specify an Elastic IP\n      address, specify subnet mappings instead of subnets.\u003c/p\u003e\n         \u003cp\u003e[Application Load Balancers] You must specify subnets from at least two Availability\n      Zones.\u003c/p\u003e\n         \u003cp\u003e[Application Load Balancers on Outposts] You must specify one Outpost subnet.\u003c/p\u003e\n         \u003cp\u003e[Application Load Balancers on Local Zones] You can specify subnets from one or more Local\n      Zones.\u003c/p\u003e\n         \u003cp\u003e[Network Load Balancers and Gateway Load Balancers] You can specify subnets from one or more \n      Availability Zones.\u003c/p\u003e"
            }
          },
          "Tags": {
            "target": "com.amazonaws.elasticloadbalancingv2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe tags to assign to the load balancer.\u003c/p\u003e"
            }
          },
          "Type": {
            "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerTypeEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe type of load balancer. The default is \u003ccode\u003eapplication\u003c/code\u003e.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CreateLoadBalancerOutput": {
        "type": "structure",
        "members": {
          "LoadBalancers": {
            "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancers",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation about the load balancer.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CreateRule": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.elasticloadbalancingv2#CreateRuleInput"
        },
        "output": {
          "target": "com.amazonaws.elasticloadbalancingv2#CreateRuleOutput"
        },
        "errors": [
          {
            "target": "com.amazonaws.elasticloadbalancingv2#IncompatibleProtocolsException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#InvalidConfigurationRequestException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#InvalidLoadBalancerActionException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#ListenerNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#PriorityInUseException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupAssociationLimitException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupNotFoundException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyActionsException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyRegistrationsForTargetIdException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyRulesException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyTagsException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyTargetGroupsException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyTargetsException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyUniqueTargetGroupsPerLoadBalancerException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#UnsupportedProtocolException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a rule for the specified listener. The listener must be associated with an\n      Application Load Balancer or a dual-stack Network Load Balancer.\u003c/p\u003e\n         \u003cp\u003eEach rule consists of a priority, one or more actions, and one or more conditions. Rules\n      are evaluated in priority order, from the lowest value to the highest value. When the\n      conditions for a rule are met, its actions are performed. If the conditions for no rules are\n      met, the actions for the default rule are performed. For more information, see \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules\"\u003eListener rules\u003c/a\u003e in the \u003ci\u003eApplication Load Balancers Guide\u003c/i\u003e or\n        \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html#listener-rules\"\u003eListener rules\u003c/a\u003e in the \u003ci\u003eNetwork Load Balancers Guide\u003c/i\u003e.\u003c/p\u003e",
          "smithy.api#examples": [
            {
              "title": "To create a rule",
              "documentation": "This example creates a rule that forwards requests to the specified target group if the URL contains the specified pattern (for example, /img/*).",
              "input": {
                "ListenerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:listener/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2",
                "Conditions": [
                  {
                    "Field": "path-pattern",
                    "Values": [
                      "/img/*"
                    ]
                  }
                ],
                "Priority": 10,
                "Actions": [
                  {
                    "Type": "forward",
                    "TargetGroupArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067"
                  }
                ]
              },
              "output": {
                "Rules": [
                  {
                    "Priority": "10",
                    "Conditions": [
                      {
                        "Field": "path-pattern",
                        "Values": [
                          "/img/*"
                        ]
                      }
                    ],
                    "RuleArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:listener-rule/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2/9683b2d02a6cabee",
                    "IsDefault": false,
                    "Actions": [
                      {
                        "TargetGroupArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067",
                        "Type": "forward"
                      }
                    ]
                  }
                ]
              }
            },
            {
              "title": "To create a listener rule that routes IPv4 traffic on a Network Load Balancer",
              "documentation": "This example creates a rule on a dual-stack Network Load Balancer that routes IPv4 source traffic to an IPv4 target group.",
              "input": {
                "ListenerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:listener/net/my-nlb/1234567890abcdef/1234567890abcdef",
                "Conditions": [
                  {
                    "Field": "source-ip",
                    "SourceIpConfig": {
                      "IpAddressType": "ipv4"
                    }
                  }
                ],
                "Priority": 10,
                "Actions": [
                  {
                    "Type": "forward",
                    "TargetGroupArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-ipv4-targets/1234567890abcdef"
                  }
                ]
              },
              "output": {
                "Rules": [
                  {
                    "Priority": "10",
                    "Conditions": [
                      {
                        "Field": "source-ip",
                        "SourceIpConfig": {
                          "IpAddressType": "ipv4"
                        }
                      }
                    ],
                    "RuleArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:listener-rule/net/my-nlb/1234567890abcdef/1234567890abcdef/1234567890abcdef",
                    "IsDefault": false,
                    "Actions": [
                      {
                        "TargetGroupArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-ipv4-targets/1234567890abcdef",
                        "Type": "forward"
                      }
                    ]
                  }
                ]
              }
            }
          ]
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CreateRuleInput": {
        "type": "structure",
        "members": {
          "Actions": {
            "target": "com.amazonaws.elasticloadbalancingv2#Actions",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe actions.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Conditions": {
            "target": "com.amazonaws.elasticloadbalancingv2#RuleConditionList",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe conditions.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ListenerArn": {
            "target": "com.amazonaws.elasticloadbalancingv2#ListenerArn",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the listener.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Priority": {
            "target": "com.amazonaws.elasticloadbalancingv2#RulePriority",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe rule priority. A listener can't have multiple rules with the same priority.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Tags": {
            "target": "com.amazonaws.elasticloadbalancingv2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe tags to assign to the rule.\u003c/p\u003e"
            }
          },
          "Transforms": {
            "target": "com.amazonaws.elasticloadbalancingv2#RuleTransformList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe transforms to apply to requests that match this rule. You can add one host header rewrite transform \n      and one URL rewrite transform.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CreateRuleOutput": {
        "type": "structure",
        "members": {
          "Rules": {
            "target": "com.amazonaws.elasticloadbalancingv2#Rules",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eInformation about the rule.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CreateTargetGroup": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.elasticloadbalancingv2#CreateTargetGroupInput"
        },
        "output": {
          "target": "com.amazonaws.elasticloadbalancingv2#CreateTargetGroupOutput"
        },
        "errors": [
          {
            "target": "com.amazonaws.elasticloadbalancingv2#DuplicateTargetGroupNameException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#InvalidConfigurationRequestException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyTagsException"
          },
          {
            "target": "com.amazonaws.elasticloadbalancingv2#TooManyTargetGroupsException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a target group.\u003c/p\u003e\n         \u003cp\u003eFor more information, see the following:\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html\"\u003eTarget\n            groups for your Application Load Balancers\u003c/a\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html\"\u003eTarget groups\n            for your Network Load Balancers\u003c/a\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ca href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/target-groups.html\"\u003eTarget groups for your\n            Gateway Load Balancers\u003c/a\u003e\n               \u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e\n         \u003cp\u003eThis operation is idempotent, which means that it completes at most one time. If you\n      attempt to create multiple target groups with the same settings, each call succeeds.\u003c/p\u003e",
          "smithy.api#examples": [
            {
              "title": "To create a target group",
              "documentation": "This example creates a target group that you can use to route traffic to targets using HTTP on port 80. This target group uses the default health check configuration.",
              "input": {
                "Name": "my-targets",
                "Protocol": "HTTP",
                "Port": 80,
                "VpcId": "vpc-3ac0fb5f"
              },
              "output": {
                "TargetGroups": [
                  {
                    "HealthCheckPath": "/",
                    "HealthCheckIntervalSeconds": 30,
                    "VpcId": "vpc-3ac0fb5f",
                    "Protocol": "HTTP",
                    "HealthCheckTimeoutSeconds": 5,
                    "HealthCheckProtocol": "HTTP",
                    "UnhealthyThresholdCount": 2,
                    "HealthyThresholdCount": 5,
                    "TargetGroupArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067",
                    "Matcher": {
                      "HttpCode": "200"
                    },
                    "HealthCheckPort": "traffic-port",
                    "Port": 80,
                    "TargetGroupName": "my-targets"
                  }
                ]
              }
            }
          ]
        }
      },
      "com.amazonaws.elasticloadbalancingv2#CreateTargetGroupInput": {
        "type": "structure",
        "members": {
          "HealthCheckEnabled": {
            "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckEnabled",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eIndicates whether health checks are enabled. If the target type is \u003ccode\u003elambda\u003c/code\u003e,\n      health checks are disabled by default but can be enabled. If the target type is\n        \u003ccode\u003einstance\u003c/code\u003e, \u003ccode\u003eip\u003c/code\u003e, or \u003ccode\u003ealb\u003c/code\u003e, health checks are always\n      enabled and can't be disabled.\u003c/p\u003e"
            }
          },
          "HealthCheckIntervalSeconds": {
            "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckIntervalSeconds",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe approximate amount of time, in seconds, between health checks of an individual target. The range is 5-300.\n      If the target group protocol is TCP, TLS, UDP, TCP_UDP, QUIC, TCP_QUIC, HTTP or HTTPS, the default is 30 seconds. \n      If the target group protocol is GENEVE, the default is 10 seconds. \n      If the target type is \u003ccode\u003elambda\u003c/code\u003e, the default is 35 seconds.\u003c/p\u003e"
            }
          },
          "HealthCheckPath": {
            "target": "com.amazonaws.elasticloadbalancingv2#Path",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[HTTP/HTTPS health checks] The destination for health checks on the targets.\u003c/p\u003e\n         \u003cp\u003e[HTTP1 or HTTP2 protocol version] The ping path. The default is /.\u003c/p\u003e\n         \u003cp\u003e[GRPC protocol version] The path of a custom health check method with the format\n      /package.service/method. The default is /Amazon Web Services.ALB/healthcheck.\u003c/p\u003e"
            }
          },
          "HealthCheckPort": {
            "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckPort",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe port the load balancer uses when performing health checks on targets. If the protocol\n      is HTTP, HTTPS, TCP, TLS, UDP, TCP_UDP, QUIC, or TCP_QUIC the default is \u003ccode\u003etraffic-port\u003c/code\u003e, which is\n      the port on which each target receives traffic from the load balancer. If the protocol is\n      GENEVE, the default is port 80.\u003c/p\u003e"
            }
          },
          "HealthCheckProtocol": {
            "target": "com.amazonaws.elasticloadbalancingv2#ProtocolEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe protocol the load balancer uses when performing health checks on targets. For\n      Application Load Balancers, the default is HTTP. For Network Load Balancers and Gateway Load\n      Balancers, the default is TCP. The TCP protocol is not supported for health checks if the\n      protocol of the target group is HTTP or HTTPS. The GENEVE, TLS, UDP, TCP_UDP, QUIC, and TCP_QUIC protocols are\n      not supported for health checks.\u003c/p\u003e"
            }
          },
          "HealthCheckTimeoutSeconds": {
            "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckTimeoutSeconds",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe amount of time, in seconds, during which no response from a target means a failed \n      health check. The range is 2\u2013120 seconds. For target groups with a protocol of HTTP, the \n      default is 6 seconds. For target groups with a protocol of TCP, TLS or HTTPS, the default \n      is 10 seconds. For target groups with a protocol of GENEVE, the default is 5 seconds. If \n      the target type is \u003ccode\u003elambda\u003c/code\u003e, the default is 30 seconds.\u003c/p\u003e"
            }
          },
          "HealthyThresholdCount": {
            "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckThresholdCount",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe number of consecutive health check successes required before considering a target healthy. The range is \n      2-10. If the target group protocol is TCP, TCP_UDP, UDP, TLS, HTTP or HTTPS, the default is 5. For target groups \n      with a protocol of GENEVE, the default is 5. If the target type \n      is \u003ccode\u003elambda\u003c/code\u003e, the default is 5.\u003c/p\u003e"
            }
          },
          "IpAddressType": {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupIpAddressTypeEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe IP address type. The default value is \u003ccode\u003eipv4\u003c/code\u003e.\u003c/p\u003e"
            }
          },
          "Matcher": {
            "target": "com.amazonaws.elasticloadbalancingv2#Matcher",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[HTTP/HTTPS health checks] The HTTP or gRPC codes to use when checking for a successful \n      response from a target. For target groups with a protocol of TCP, TCP_UDP, UDP, QUIC, TCP_QUIC, or TLS the range \n      is 200-599. For target groups with a protocol of HTTP or HTTPS, the range is 200-499. For target \n      groups with a protocol of GENEVE, the range is 200-399.\u003c/p\u003e"
            }
          },
          "Name": {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupName",
            "traits": {
              "smithy.api#clientOptional": {},
              "smithy.api#documentation": "\u003cp\u003eThe name of the target group.\u003c/p\u003e\n         \u003cp\u003eThis name must be unique per region per account, can have a maximum of 32 characters, must\n      contain only alphanumeric characters or hyphens, and must not begin or end with a\n      hyphen.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Port": {
            "target": "com.amazonaws.elasticloadbalancingv2#Port",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe port on which the targets receive traffic. This port is used unless you specify a port\n      override when registering the target. If the target is a Lambda function, this parameter does\n      not apply. If the protocol is GENEVE, the supported port is 6081.\u003c/p\u003e"
            }
          },
          "Protocol": {
            "target": "com.amazonaws.elasticloadbalancingv2#ProtocolEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe protocol to use for routing traffic to the targets. For Application Load Balancers,\n      the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported\n      protocols are TCP, TLS, UDP, TCP_UDP, QUIC, or TCP_QUIC. For Gateway Load Balancers, the supported protocol is\n      GENEVE. A TCP_UDP listener must be associated with a TCP_UDP target group. A TCP_QUIC listener must be associated with a TCP_QUIC target group. If the target is a\n      Lambda function, this parameter does not apply.\u003c/p\u003e"
            }
          },
          "ProtocolVersion": {
            "target": "com.amazonaws.elasticloadbalancingv2#ProtocolVersion",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003e[HTTP/HTTPS protocol] The protocol version. Specify \u003ccode\u003eGRPC\u003c/code\u003e to send requests to\n      targets using gRPC. Specify \u003ccode\u003eHTTP2\u003c/code\u003e to send requests to targets using HTTP/2. The\n      default is \u003ccode\u003eHTTP1\u003c/code\u003e, which sends requests to targets using HTTP/1.1.\u003c/p\u003e"
            }
          },
          "Tags": {
            "target": "com.amazonaws.elasticloadbalancingv2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe tags to assign to the target group.\u003c/p\u003e"
            }
          },
          "TargetControlPort": {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetControlPort",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe port on which the target control agent and application load balancer exchange management traffic for the target optimizer feature.\u003c/p\u003e"
            }
          },
          "TargetType": {
            "target": "com.amazonaws.elasticloadbalancingv2#TargetTypeEnum",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe type of target that you must specify when registering targets with this target group.\n      You can't specify targets for a target group using more than one target type.\u003c/p\u003e\n         \u003cul\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003einstance\u003c/code\u003e - Register targets by instance ID. This is the default\n          value.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003eip\u003c/code\u003e - Register targets by IP address. You can specify IP addresses from\n          the subnets of the virtual private cloud (VPC) for the target group, the RFC 1918 range\n          (10.0.0.0/8, 172.16.0.0/12, and 192.168.0.0/16), and the RFC 6598 range (100.64.0.0/10).\n          You can't specify publicly routable IP addresses.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003elambda\u003c/code\u003e - Register a single Lambda function as a target.\u003c/p\u003e\n            \u003c/li\u003e\n            \u003cli\u003e\n               \u003cp\u003e\n                  \u003ccode\u003ealb\u003c/code\u003e - Register a single Application Load Balancer as a target.\u003c/p\u003e\n            \u003c/li\u003e\n         \u003c/ul\u003e"
            }
          },
          "UnhealthyThresholdCount": {
            "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckThresholdCount",
            "traits": {
[...]
