{
  "schema_source": "smithy",
  "mode": "data_source",
  "auth": {
    "Type": "",
    "Params": null
  },
  "base_url": "https://aws.example.invalid",
  "retry": {
    "MaxAttempts": 0,
    "InitialBackoff": "",
    "MaxBackoff": "",
    "Jitter": null,
    "RespectRetryAfter": null,
    "RateLimitResetHeader": ""
  },
  "timeouts": {
    "Create": "",
    "Read": "",
    "Update": "",
    "Delete": "",
    "Default": ""
  },
  "wire_name": "aws",
  "raw_spec": {
    "smithy": "2.0",
    "shapes": {
      "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "smithy.api#String"
          },
          "Reason": {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedExceptionReason",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe reason for the exception.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe request was denied because you don't have sufficient permissions to access the resource.\u003c/p\u003e",
          "smithy.api#error": "client"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AccessDeniedExceptionReason": {
        "type": "string",
        "traits": {
          "smithy.api#enum": [
            {
              "value": "INSUFFICIENT_ACCOUNT_REPUTATION",
              "name": "INSUFFICIENT_ACCOUNT_REPUTATION"
            },
            {
              "value": "ACCOUNT_DISABLED",
              "name": "ACCOUNT_DISABLED"
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AccountAttribute": {
        "type": "structure",
        "members": {
          "Name": {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccountAttributeName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the account attribute.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Value": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe value associated with the account attribute name.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eDisplays the attributes associated with a single Amazon Web Services account.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AccountAttributeList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccountAttribute"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AccountAttributeName": {
        "type": "string",
        "traits": {
          "smithy.api#enum": [
            {
              "value": "ACCOUNT_TIER",
              "name": "ACCOUNT_TIER"
            },
            {
              "value": "DEFAULT_PROTECT_CONFIGURATION_ID",
              "name": "DEFAULT_PROTECT_CONFIGURATION_ID"
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AccountLimit": {
        "type": "structure",
        "members": {
          "Max": {
            "target": "smithy.api#PrimitiveLong",
            "traits": {
              "smithy.api#default": 0,
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Web Services set limit for that resource type, in US dollars.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Name": {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccountLimitName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the attribute to apply the account limit to.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Used": {
            "target": "smithy.api#PrimitiveLong",
            "traits": {
              "smithy.api#default": 0,
              "smithy.api#documentation": "\u003cp\u003eThe current amount that has been spent, in US dollars.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe current resource quotas associated with an Amazon Web Services account.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AccountLimitList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccountLimit"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AccountLimitName": {
        "type": "string",
        "traits": {
          "smithy.api#enum": [
            {
              "value": "PHONE_NUMBERS",
              "name": "PHONE_NUMBERS"
            },
            {
              "value": "POOLS",
              "name": "POOLS"
            },
            {
              "value": "CONFIGURATION_SETS",
              "name": "CONFIGURATION_SETS"
            },
            {
              "value": "OPT_OUT_LISTS",
              "name": "OPT_OUT_LISTS"
            },
            {
              "value": "SENDER_IDS",
              "name": "SENDER_IDS"
            },
            {
              "value": "REGISTRATIONS",
              "name": "REGISTRATIONS"
            },
            {
              "value": "REGISTRATION_ATTACHMENTS",
              "name": "REGISTRATION_ATTACHMENTS"
            },
            {
              "value": "VERIFIED_DESTINATION_NUMBERS",
              "name": "VERIFIED_DESTINATION_NUMBERS"
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AmazonResourceName": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 20,
            "max": 256
          },
          "smithy.api#pattern": "^arn:[A-Za-z0-9_:/-]+$"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentity": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityRequest"
        },
        "output": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityResult"
        },
        "errors": [
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAssociates the specified origination identity with a pool.\u003c/p\u003e \u003cp\u003eIf the origination identity is a phone number and is already associated with another pool, an error is returned. A sender ID can be associated with multiple pools.\u003c/p\u003e \u003cp\u003eIf the origination identity configuration doesn't match the pool's configuration, an error is returned.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityRequest": {
        "type": "structure",
        "members": {
          "ClientToken": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUnique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.\u003c/p\u003e",
              "smithy.api#idempotencyToken": {}
            }
          },
          "IsoCountryCode": {
            "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe new two-character code, in ISO 3166-1 alpha-2 format, for the country or region of the origination identity. This field is optional and is not required for origination identity types that are not country-specific, such as RCS agents.\u003c/p\u003e"
            }
          },
          "OriginationIdentity": {
            "target": "com.amazonaws.pinpointsmsvoicev2#PhoneOrSenderIdOrArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe origination identity to use, such as PhoneNumberId, PhoneNumberArn, SenderId, or SenderIdArn. You can use \u003ca\u003eDescribePhoneNumbers\u003c/a\u003e to find the values for PhoneNumberId and PhoneNumberArn, while \u003ca\u003eDescribeSenderIds\u003c/a\u003e can be used to get the values for SenderId and SenderIdArn.\u003c/p\u003e \u003cimportant\u003e \u003cp\u003eIf you are using a shared End User Messaging SMS resource then you must use the full Amazon Resource Name(ARN).\u003c/p\u003e \u003c/important\u003e",
              "smithy.api#required": {}
            }
          },
          "PoolId": {
            "target": "com.amazonaws.pinpointsmsvoicev2#PoolIdOrArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe pool to update with the new Identity. This value can be either the PoolId or PoolArn, and you can find these values using \u003ca href=\"https://docs.aws.amazon.com/pinpoint/latest/apireference_smsvoicev2/API_DescribePools.html\"\u003eDescribePools\u003c/a\u003e.\u003c/p\u003e \u003cimportant\u003e \u003cp\u003eIf you are using a shared End User Messaging SMS; resource then you must use the full Amazon Resource Name(ARN).\u003c/p\u003e \u003c/important\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityResult": {
        "type": "structure",
        "members": {
          "IsoCountryCode": {
            "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe two-character code, in ISO 3166-1 alpha-2 format, for the country or region. \u003c/p\u003e"
            }
          },
          "OriginationIdentity": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe PhoneNumberId or SenderId of the origination identity.\u003c/p\u003e"
            }
          },
          "OriginationIdentityArn": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe PhoneNumberArn or SenderIdArn of the origination identity.\u003c/p\u003e"
            }
          },
          "PoolArn": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the pool that is now associated with the origination identity.\u003c/p\u003e"
            }
          },
          "PoolId": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe PoolId of the pool that is now associated with the origination identity.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AssociateProtectConfiguration": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AssociateProtectConfigurationRequest"
        },
        "output": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AssociateProtectConfigurationResult"
        },
        "errors": [
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eAssociate a protect configuration with a configuration set. This replaces the configuration sets current protect configuration. A configuration set can only be associated with one protect configuration at a time. A protect configuration can be associated with multiple configuration sets.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AssociateProtectConfigurationRequest": {
        "type": "structure",
        "members": {
          "ConfigurationSetName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the ConfigurationSet.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ProtectConfigurationId": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationIdOrArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe unique identifier for the protect configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AssociateProtectConfigurationResult": {
        "type": "structure",
        "members": {
          "ConfigurationSetArn": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the configuration set.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ConfigurationSetName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the ConfigurationSet.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ProtectConfigurationArn": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the protect configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ProtectConfigurationId": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe unique identifier for the protect configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AttachmentBody": {
        "type": "blob",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 6990508
          }
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AttachmentStatus": {
        "type": "string",
        "traits": {
          "smithy.api#enum": [
            {
              "value": "UPLOAD_IN_PROGRESS",
              "name": "UPLOAD_IN_PROGRESS"
            },
            {
              "value": "UPLOAD_COMPLETE",
              "name": "UPLOAD_COMPLETE"
            },
            {
              "value": "UPLOAD_FAILED",
              "name": "UPLOAD_FAILED"
            },
            {
              "value": "DELETED",
              "name": "DELETED"
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AttachmentUploadErrorReason": {
        "type": "string",
        "traits": {
          "smithy.api#enum": [
            {
              "value": "INTERNAL_ERROR",
              "name": "INTERNAL_ERROR"
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AttachmentUrl": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 2048
          },
          "smithy.api#pattern": "^\\S+$"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#AvailablePhoneNumberList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.pinpointsmsvoicev2#PhoneNumber"
        },
        "traits": {
          "smithy.api#documentation": "List of available phone numbers returned by the search.\nMax aligns with ListAvailablePhoneNumbersMaxResults (page size bound).",
          "smithy.api#length": {
            "max": 10
          }
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CarrierLookup": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CarrierLookupRequest"
        },
        "output": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CarrierLookupResult"
        },
        "errors": [
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eReturns information about a destination phone number, including whether the number type and whether it is valid, the carrier, and more.\u003c/p\u003e",
          "smithy.api#examples": [
            {
              "title": "Use CarrierLookup",
              "documentation": "Call the CarrierLookup operation to get information about a customer provided phone number, including if the number is valid. The service accepts phone numbers with various formatting characters and returns the number in E164 format.",
              "input": {
                "PhoneNumber": "+1 (555) 555-5333"
              },
              "output": {
                "E164PhoneNumber": "+15555555333",
                "DialingCountryCode": "1",
                "IsoCountryCode": "US",
                "Country": "United States",
                "MCC": "310",
                "MNC": "260",
                "Carrier": "ExampleCorp Mobile",
                "PhoneNumberType": "MOBILE"
              }
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CarrierLookupInputPhoneNumberType": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 40
          },
          "smithy.api#pattern": "^\\+[({\\s\\[]?[1-9][0-9(){}\\s\\[\\],.-]{1,38}$"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CarrierLookupRequest": {
        "type": "structure",
        "members": {
          "PhoneNumber": {
            "target": "com.amazonaws.pinpointsmsvoicev2#CarrierLookupInputPhoneNumberType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe phone number that you want to retrieve information about. You can provide the phone number in various formats including special characters such as parentheses, brackets, spaces, hyphens, periods, and commas. The service automatically converts the input to E164 format for processing.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CarrierLookupResult": {
        "type": "structure",
        "members": {
          "Carrier": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe carrier or service provider that the phone number is currently registered with. In some countries and regions, this value may be the carrier or service provider that the phone number was originally registered with.\u003c/p\u003e"
            }
          },
          "Country": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the country or region for the phone number.\u003c/p\u003e"
            }
          },
          "DialingCountryCode": {
            "target": "com.amazonaws.pinpointsmsvoicev2#DialingCountryCodeType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe country or region numeric dialing code for the phone number.\u003c/p\u003e"
            }
          },
          "E164PhoneNumber": {
            "target": "com.amazonaws.pinpointsmsvoicev2#E164PhoneNumberType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe phone number in E164 format, sanitized from the original input by removing any formatting characters.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "IsoCountryCode": {
            "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe two-character country or region code, in ISO 3166-1 alpha-2 format, for the phone number.\u003c/p\u003e"
            }
          },
          "MCC": {
            "target": "com.amazonaws.pinpointsmsvoicev2#MCCType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe phone number's mobile country code, for mobile phone number types\u003c/p\u003e"
            }
          },
          "MNC": {
            "target": "com.amazonaws.pinpointsmsvoicev2#MNCType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe phone number's mobile network code, for mobile phone number types.\u003c/p\u003e"
            }
          },
          "PhoneNumberType": {
            "target": "com.amazonaws.pinpointsmsvoicev2#PhoneNumberType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eDescribes the type of phone number. Valid values are: MOBILE, LANDLINE, OTHER, and INVALID. Avoid sending SMS or voice messages to INVALID phone numbers, as these numbers are unlikely to belong to actual recipients.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CarrierStatus": {
        "type": "string",
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe carrier-level launch status.\u003c/p\u003e \u003cul\u003e \u003cli\u003e \u003cp\u003e \u003ccode\u003ePENDING\u003c/code\u003e: The carrier launch is pending.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003e \u003ccode\u003eACTIVE\u003c/code\u003e: The carrier launch is active.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003e \u003ccode\u003eREJECTED\u003c/code\u003e: The carrier launch was rejected.\u003c/p\u003e \u003c/li\u003e \u003c/ul\u003e",
          "smithy.api#enum": [
            {
              "value": "PENDING",
              "name": "PENDING"
            },
            {
              "value": "ACTIVE",
              "name": "ACTIVE"
            },
            {
              "value": "REJECTED",
              "name": "REJECTED"
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CarrierStatusInformation": {
        "type": "structure",
        "members": {
          "CarrierName": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the carrier.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Status": {
            "target": "com.amazonaws.pinpointsmsvoicev2#CarrierStatus",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe launch status for this carrier.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains carrier-level launch status details for an RCS agent within a country.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CarrierStatusInformationList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CarrierStatusInformation"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ClientToken": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 64
          },
          "smithy.api#pattern": "^[!-~]+$"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CloudWatchLogsDestination": {
        "type": "structure",
        "members": {
          "IamRoleArn": {
            "target": "com.amazonaws.pinpointsmsvoicev2#IamRoleArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of an Identity and Access Management role that is able to write event data to an Amazon CloudWatch destination.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "LogGroupArn": {
            "target": "com.amazonaws.pinpointsmsvoicev2#LogGroupArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the Amazon CloudWatch log group that you want to record events in. \u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains the destination configuration to use when publishing message sending events. \u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConditionOperator": {
        "type": "string",
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe operator used to compare a dependency field's value in a \u003cb\u003eFieldCondition\u003c/b\u003e. Valid values are \u003cb\u003eEQUALS\u003c/b\u003e, \u003cb\u003eNOT_EQUALS\u003c/b\u003e, \u003cb\u003eIN\u003c/b\u003e, \u003cb\u003eNOT_IN\u003c/b\u003e, \u003cb\u003eHAS_VALUE\u003c/b\u003e, and \u003cb\u003eNO_VALUE\u003c/b\u003e. Unknown operators evaluate to false, which causes the containing rule to be skipped.\u003c/p\u003e",
          "smithy.api#length": {
            "min": 1,
            "max": 64
          },
          "smithy.api#pattern": "^[A-Za-z0-9_]+$"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConditionValue": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 256
          }
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConditionValueList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConditionValue"
        },
        "traits": {
          "smithy.api#length": {
            "max": 20
          }
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConditionalBehavior": {
        "type": "structure",
        "members": {
          "DefaultBehavior": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConditionalFieldBehavior",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe field behavior that applies when no conditional rule in \u003cb\u003eRules\u003c/b\u003e matches. Valid values are \u003cb\u003eREQUIRED\u003c/b\u003e, \u003cb\u003eOPTIONAL\u003c/b\u003e, and \u003cb\u003eDISALLOWED\u003c/b\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Rules": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConditionalRuleList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn ordered list of conditional rules. Rules are evaluated top-to-bottom and the first rule whose conditions all evaluate to true determines the field's behavior. Rules whose conditions do not all match are skipped and evaluation continues to the next rule.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe set of conditional rules that determine a field's resolved requirement based on the values of other fields in the same registration form. Attached to fields whose \u003cb\u003eFieldRequirement\u003c/b\u003e is \u003cb\u003eCONDITIONAL\u003c/b\u003e.\u003c/p\u003e \u003cp\u003eEvaluation proceeds top-to-bottom through \u003cb\u003eRules\u003c/b\u003e. The first rule whose conditions all evaluate to true wins and its behavior is returned. If no rule matches, the \u003cb\u003eDefaultBehavior\u003c/b\u003e is returned.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConditionalFieldBehavior": {
        "type": "string",
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe resolved requirement for a field when a conditional rule matches. Valid values are:\u003c/p\u003e \u003cp\u003e \u003cb\u003eREQUIRED\u003c/b\u003e \u2014 the field must be present; absence causes a validation error at submission time.\u003c/p\u003e \u003cp\u003e \u003cb\u003eOPTIONAL\u003c/b\u003e \u2014 the field may be present.\u003c/p\u003e \u003cp\u003e \u003cb\u003eDISALLOWED\u003c/b\u003e \u2014 the field must not be present; a submitted value is rejected with a validation error.\u003c/p\u003e",
          "smithy.api#length": {
            "min": 1,
            "max": 64
          },
          "smithy.api#pattern": "^[A-Za-z0-9_]+$"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConditionalRule": {
        "type": "structure",
        "members": {
          "ConditionalValidation": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConditionalValidation",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eOptional per-rule validation constraints (minimum length, maximum length, regex pattern, allowed select values) that override the field's default validation when this rule matches.\u003c/p\u003e"
            }
          },
          "Conditions": {
            "target": "com.amazonaws.pinpointsmsvoicev2#FieldConditionList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe conditions that must all evaluate to true for this rule to match. Conditions are combined with logical AND. Use multiple rules with the same \u003cb\u003eRuleBehavior\u003c/b\u003e to express logical OR.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "RuleBehavior": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConditionalFieldBehavior",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe field behavior that applies when all conditions in this rule match. Valid values are \u003cb\u003eREQUIRED\u003c/b\u003e, \u003cb\u003eOPTIONAL\u003c/b\u003e, and \u003cb\u003eDISALLOWED\u003c/b\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eA single conditional rule that resolves to a field behavior when all of its conditions evaluate to true. Conditions within a rule are combined with logical AND: all conditions must match for the rule to fire.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConditionalRuleList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConditionalRule"
        },
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 20
          }
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConditionalValidation": {
        "type": "structure",
        "members": {
          "AllowedValues": {
            "target": "com.amazonaws.pinpointsmsvoicev2#SelectChoiceList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe allowed values for a select field when this rule applies. A subset of the field's full option list.\u003c/p\u003e"
            }
          },
          "MaxLength": {
            "target": "smithy.api#Integer",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe maximum length for the field value when this rule applies.\u003c/p\u003e",
              "smithy.api#range": {
                "min": 0
              }
            }
          },
          "MinLength": {
            "target": "smithy.api#Integer",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe minimum length for the field value when this rule applies.\u003c/p\u003e",
              "smithy.api#range": {
                "min": 0
              }
            }
          },
          "Pattern": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eA regular expression that the field value must match when this rule applies.\u003c/p\u003e",
              "smithy.api#length": {
                "min": 1,
                "max": 2048
              }
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003ePer-rule validation constraints that override the field's default validation when the containing rule matches. All fields are optional; only the constraints that need to differ from the field's default validation are provided.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilter": {
        "type": "structure",
        "members": {
          "Name": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilterName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the attribute to filter on.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Values": {
            "target": "com.amazonaws.pinpointsmsvoicev2#FilterValueList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array values to filter for.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe information for configuration sets that meet a specified criteria.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilterList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilter"
        },
        "traits": {
          "smithy.api#length": {
            "max": 20
          }
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilterName": {
        "type": "string",
        "traits": {
          "smithy.api#enum": [
            {
              "value": "event-destination-name",
              "name": "EVENT_DESTINATION_NAME"
            },
            {
              "value": "matching-event-types",
              "name": "MATCHING_EVENT_TYPES"
            },
            {
              "value": "default-message-type",
              "name": "DEFAULT_MESSAGE_TYPE"
            },
            {
              "value": "default-sender-id",
              "name": "DEFAULT_SENDER_ID"
            },
            {
              "value": "default-message-feedback-enabled",
              "name": "DEFAULT_MESSAGE_FEEDBACK_ENABLED"
            },
            {
              "value": "protect-configuration-id",
              "name": "PROTECT_CONFIGURATION_ID"
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetInformation": {
        "type": "structure",
        "members": {
          "ConfigurationSetArn": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Resource Name (ARN) of the ConfigurationSet.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ConfigurationSetName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the ConfigurationSet.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "CreatedTimestamp": {
            "target": "smithy.api#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe time when the ConfigurationSet was created, in \u003ca href=\"https://www.epochconverter.com/\"\u003eUNIX epoch time\u003c/a\u003e format.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "DefaultMessageFeedbackEnabled": {
            "target": "smithy.api#Boolean",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eTrue if message feedback is enabled.\u003c/p\u003e"
            }
          },
          "DefaultMessageType": {
            "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe type of message. Valid values are TRANSACTIONAL for messages that are critical or time-sensitive and PROMOTIONAL for messages that aren't critical or time-sensitive.\u003c/p\u003e"
            }
          },
          "DefaultSenderId": {
            "target": "com.amazonaws.pinpointsmsvoicev2#SenderId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe default sender ID used by the ConfigurationSet.\u003c/p\u003e"
            }
          },
          "EventDestinations": {
            "target": "com.amazonaws.pinpointsmsvoicev2#EventDestinationList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of EventDestination objects that describe any events to log and where to log them.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ProtectConfigurationId": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationIdOrArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe unique identifier for the protect configuration.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eInformation related to a given configuration set in your Amazon Web Services account.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetInformationList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetInformation"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 64
          },
          "smithy.api#pattern": "^[A-Za-z0-9_-]+$"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn"
        },
        "traits": {
          "smithy.api#length": {
            "max": 5
          }
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 256
          },
          "smithy.api#pattern": "^[A-Za-z0-9_:/-]+$"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConflictException": {
        "type": "structure",
        "members": {
          "Message": {
            "target": "smithy.api#String"
          },
          "Reason": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConflictExceptionReason",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe reason for the exception.\u003c/p\u003e"
            }
          },
          "ResourceId": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe unique identifier of the request.\u003c/p\u003e"
            }
          },
          "ResourceType": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ResourceType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe type of resource that caused the exception.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eYour request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time or it could be that the requested action isn't valid for the current state or configuration of the resource.\u003c/p\u003e",
          "smithy.api#error": "client"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ConflictExceptionReason": {
        "type": "string",
        "traits": {
          "smithy.api#enum": [
            {
              "value": "CREATE_REGISTRATION_VERSION_NOT_ALLOWED",
              "name": "CREATE_REGISTRATION_VERSION_NOT_ALLOWED"
            },
            {
              "value": "DELETION_PROTECTION_ENABLED",
              "name": "DELETION_PROTECTION_ENABLED"
            },
            {
              "value": "DESTINATION_PHONE_NUMBER_NOT_VERIFIED",
              "name": "DESTINATION_PHONE_NUMBER_NOT_VERIFIED"
            },
            {
              "value": "DESTINATION_PHONE_NUMBER_OPTED_OUT",
              "name": "DESTINATION_PHONE_NUMBER_OPTED_OUT"
            },
            {
              "value": "DISASSOCIATE_REGISTRATION_NOT_ALLOWED",
              "name": "DISASSOCIATE_REGISTRATION_NOT_ALLOWED"
            },
            {
              "value": "DISCARD_REGISTRATION_VERSION_NOT_ALLOWED",
              "name": "DISCARD_REGISTRATION_VERSION_NOT_ALLOWED"
            },
            {
              "value": "EDIT_REGISTRATION_FIELD_VALUES_NOT_ALLOWED",
              "name": "EDIT_REGISTRATION_FIELD_VALUES_NOT_ALLOWED"
            },
            {
              "value": "EVENT_DESTINATION_MISMATCH",
              "name": "EVENT_DESTINATION_MISMATCH"
            },
            {
              "value": "KEYWORD_MISMATCH",
              "name": "KEYWORD_MISMATCH"
            },
            {
              "value": "LAST_PHONE_NUMBER",
              "name": "LAST_PHONE_NUMBER"
            },
            {
              "value": "NUMBER_CAPABILITIES_MISMATCH",
              "name": "NUMBER_CAPABILITIES_MISMATCH"
            },
            {
              "value": "MESSAGE_TYPE_MISMATCH",
              "name": "MESSAGE_TYPE_MISMATCH"
            },
            {
              "value": "NO_ORIGINATION_IDENTITIES_FOUND",
              "name": "NO_ORIGINATION_IDENTITIES_FOUND"
            },
            {
              "value": "OPT_OUT_LIST_MISMATCH",
              "name": "OPT_OUT_LIST_MISMATCH"
            },
            {
              "value": "PHONE_NUMBER_ASSOCIATED_TO_POOL",
              "name": "PHONE_NUMBER_ASSOCIATED_TO_POOL"
            },
            {
              "value": "PHONE_NUMBER_ASSOCIATED_TO_REGISTRATION",
              "name": "PHONE_NUMBER_ASSOCIATED_TO_REGISTRATION"
            },
            {
              "value": "PHONE_NUMBER_NOT_ASSOCIATED_TO_POOL",
              "name": "PHONE_NUMBER_NOT_ASSOCIATED_TO_POOL"
            },
            {
              "value": "PHONE_NUMBER_NOT_IN_REGISTRATION_REGION",
              "name": "PHONE_NUMBER_NOT_IN_REGISTRATION_REGION"
            },
            {
              "value": "REGISTRATION_ALREADY_SUBMITTED",
              "name": "REGISTRATION_ALREADY_SUBMITTED"
            },
            {
              "value": "REGISTRATION_NOT_COMPLETE",
              "name": "REGISTRATION_NOT_COMPLETE"
            },
            {
              "value": "RESOURCE_ALREADY_ASSOCIATED",
              "name": "RESOURCE_ALREADY_ASSOCIATED"
            },
            {
              "value": "SENDER_ID_ASSOCIATED_TO_POOL",
              "name": "SENDER_ID_ASSOCIATED_TO_POOL"
            },
            {
              "value": "RCS_AGENT_ASSOCIATED_TO_POOL",
              "name": "RCS_AGENT_ASSOCIATED_TO_POOL"
            },
            {
              "value": "POOL_ASSOCIATED_TO_NOTIFY_CONFIGURATION",
              "name": "POOL_ASSOCIATED_TO_NOTIFY_CONFIGURATION"
            },
            {
              "value": "RESOURCE_ALREADY_EXISTS",
              "name": "RESOURCE_ALREADY_EXISTS"
            },
            {
              "value": "RESOURCE_DELETION_NOT_ALLOWED",
              "name": "RESOURCE_DELETION_NOT_ALLOWED"
            },
            {
              "value": "RESOURCE_MODIFICATION_NOT_ALLOWED",
              "name": "RESOURCE_MODIFICATION_NOT_ALLOWED"
            },
            {
              "value": "RESOURCE_NOT_ACTIVE",
              "name": "RESOURCE_NOT_ACTIVE"
            },
            {
              "value": "RESOURCE_NOT_EMPTY",
              "name": "RESOURCE_NOT_EMPTY"
            },
            {
              "value": "SELF_MANAGED_OPT_OUTS_MISMATCH",
              "name": "SELF_MANAGED_OPT_OUTS_MISMATCH"
            },
            {
              "value": "SUBMIT_REGISTRATION_VERSION_NOT_ALLOWED",
              "name": "SUBMIT_REGISTRATION_VERSION_NOT_ALLOWED"
            },
            {
              "value": "TWO_WAY_CONFIG_MISMATCH",
              "name": "TWO_WAY_CONFIG_MISMATCH"
            },
            {
              "value": "VERIFICATION_CODE_EXPIRED",
              "name": "VERIFICATION_CODE_EXPIRED"
            },
            {
              "value": "VERIFICATION_ALREADY_COMPLETE",
              "name": "VERIFICATION_ALREADY_COMPLETE"
            },
            {
              "value": "PROTECT_CONFIGURATION_IS_ACCOUNT_DEFAULT",
              "name": "PROTECT_CONFIGURATION_IS_ACCOUNT_DEFAULT"
            },
            {
              "value": "PROTECT_CONFIGURATION_ASSOCIATED_WITH_CONFIGURATION_SET",
              "name": "PROTECT_CONFIGURATION_ASSOCIATED_WITH_CONFIGURATION_SET"
            },
            {
              "value": "PROTECT_CONFIGURATION_NOT_ASSOCIATED_WITH_CONFIGURATION_SET",
              "name": "PROTECT_CONFIGURATION_NOT_ASSOCIATED_WITH_CONFIGURATION_SET"
            },
            {
              "value": "DESTINATION_COUNTRY_BLOCKED_BY_PROTECT_CONFIGURATION",
              "name": "DESTINATION_COUNTRY_BLOCKED_BY_PROTECT_CONFIGURATION"
            },
            {
              "value": "DESTINATION_PHONE_NUMBER_BLOCKED_BY_PROTECT_NUMBER_OVERRIDE",
              "name": "DESTINATION_PHONE_NUMBER_BLOCKED_BY_PROTECT_NUMBER_OVERRIDE"
            },
            {
              "value": "RCS_AGENT_ALREADY_ASSOCIATED_TO_REGISTRATION_TYPE",
              "name": "RCS_AGENT_ALREADY_ASSOCIATED_TO_REGISTRATION_TYPE"
            },
            {
              "value": "NOTIFY_CONFIGURATION_NOT_ACTIVE",
              "name": "NOTIFY_CONFIGURATION_NOT_ACTIVE"
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ContextKey": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 100
          },
          "smithy.api#pattern": "^\\S+$"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ContextMap": {
        "type": "map",
        "key": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ContextKey"
        },
        "value": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ContextValue"
        },
        "traits": {
          "smithy.api#length": {
            "max": 5
          }
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#ContextValue": {
        "type": "string",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 800
          },
          "smithy.api#pattern": "^(?!\\s)^[\\s\\S]+(?\u003c!\\s)$"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CountryLaunchStatus": {
        "type": "string",
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe per-country launch status of an RCS agent.\u003c/p\u003e \u003cul\u003e \u003cli\u003e \u003cp\u003e \u003ccode\u003eCREATED\u003c/code\u003e: The country launch has been created.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003e \u003ccode\u003ePENDING\u003c/code\u003e: The country launch is pending.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003e \u003ccode\u003ePARTIAL\u003c/code\u003e: The country launch is partially active.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003e \u003ccode\u003eACTIVE\u003c/code\u003e: The country launch is active.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003e \u003ccode\u003eREJECTED\u003c/code\u003e: The country launch was rejected.\u003c/p\u003e \u003c/li\u003e \u003c/ul\u003e",
          "smithy.api#enum": [
            {
              "value": "CREATED",
              "name": "CREATED"
            },
            {
              "value": "PENDING",
              "name": "PENDING"
            },
            {
              "value": "PARTIAL",
              "name": "PARTIAL"
            },
            {
              "value": "ACTIVE",
              "name": "ACTIVE"
            },
            {
              "value": "REJECTED",
              "name": "REJECTED"
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CountryLaunchStatusFilter": {
        "type": "structure",
        "members": {
          "Name": {
            "target": "com.amazonaws.pinpointsmsvoicev2#CountryLaunchStatusFilterName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the attribute to filter on.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Values": {
            "target": "com.amazonaws.pinpointsmsvoicev2#FilterValueList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array values to filter for.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe information for a country launch status that meets a specified criteria.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CountryLaunchStatusFilterList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CountryLaunchStatusFilter"
        },
        "traits": {
          "smithy.api#length": {
            "max": 20
          }
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CountryLaunchStatusFilterName": {
        "type": "string",
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eThe filter name for filtering country launch statuses. The available filter names are:\u003c/p\u003e \u003cul\u003e \u003cli\u003e \u003cp\u003e \u003ccode\u003ecountry-launch-status\u003c/code\u003e: Filter by country launch status.\u003c/p\u003e \u003c/li\u003e \u003c/ul\u003e",
          "smithy.api#enum": [
            {
              "value": "country-launch-status",
              "name": "COUNTRY_LAUNCH_STATUS"
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CountryLaunchStatusInformation": {
        "type": "structure",
        "members": {
          "CarrierStatus": {
            "target": "com.amazonaws.pinpointsmsvoicev2#CarrierStatusInformationList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of CarrierStatusInformation objects containing carrier-level launch status details.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "IsoCountryCode": {
            "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe two-character code, in ISO 3166-1 alpha-2 format, for the country or region.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "RcsPlatformId": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe RCS platform identifier for this country.\u003c/p\u003e"
            }
          },
          "RegistrationId": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe unique identifier of the registration associated with this country launch.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Status": {
            "target": "com.amazonaws.pinpointsmsvoicev2#CountryLaunchStatus",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe launch status for this country.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eContains per-country launch status details for an RCS agent.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CountryLaunchStatusInformationList": {
        "type": "list",
        "member": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CountryLaunchStatusInformation"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSet": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetRequest"
        },
        "output": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetResult"
        },
        "errors": [
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a new configuration set. After you create the configuration set, you can add one or more event destinations to it.\u003c/p\u003e \u003cp\u003eA configuration set is a set of rules that you apply to the SMS and voice messages that you send.\u003c/p\u003e \u003cp\u003eWhen you send a message, you can optionally specify a single configuration set.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetRequest": {
        "type": "structure",
        "members": {
          "ClientToken": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUnique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.\u003c/p\u003e",
              "smithy.api#idempotencyToken": {}
            }
          },
          "ConfigurationSetName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name to use for the new configuration set.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Tags": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of key and value pair tags that's associated with the new configuration set. \u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetResult": {
        "type": "structure",
        "members": {
          "ConfigurationSetArn": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the newly created configuration set.\u003c/p\u003e"
            }
          },
          "ConfigurationSetName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the new configuration set.\u003c/p\u003e"
            }
          },
          "CreatedTimestamp": {
            "target": "smithy.api#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe time when the configuration set was created, in \u003ca href=\"https://www.epochconverter.com/\"\u003eUNIX epoch time\u003c/a\u003e format.\u003c/p\u003e"
            }
          },
          "Tags": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of key and value pair tags that's associated with the configuration set.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateEventDestination": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationRequest"
        },
        "output": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationResult"
        },
        "errors": [
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a new event destination in a configuration set.\u003c/p\u003e \u003cp\u003eAn event destination is a location where you send message events. The event options are Amazon CloudWatch, Amazon Data Firehose, or Amazon SNS. For example, when a message is delivered successfully, you can send information about that event to an event destination, or send notifications to endpoints that are subscribed to an Amazon SNS topic. \u003c/p\u003e \u003cp\u003eYou can only create one event destination at a time. You must provide a value for a single event destination using either \u003ccode\u003eCloudWatchLogsDestination\u003c/code\u003e, \u003ccode\u003eKinesisFirehoseDestination\u003c/code\u003e or \u003ccode\u003eSnsDestination\u003c/code\u003e. If an event destination isn't provided then an exception is returned.\u003c/p\u003e \u003cp\u003eEach configuration set can contain between 0 and 5 event destinations. Each event destination can contain a reference to a single destination, such as a CloudWatch or Firehose destination.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationRequest": {
        "type": "structure",
        "members": {
          "ClientToken": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUnique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.\u003c/p\u003e",
              "smithy.api#idempotencyToken": {}
            }
          },
          "CloudWatchLogsDestination": {
            "target": "com.amazonaws.pinpointsmsvoicev2#CloudWatchLogsDestination",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn object that contains information about an event destination for logging to Amazon CloudWatch Logs.\u003c/p\u003e"
            }
          },
          "ConfigurationSetName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eEither the name of the configuration set or the configuration set ARN to apply event logging to. The ConfigurateSetName and ConfigurationSetArn can be found using the \u003ca\u003eDescribeConfigurationSets\u003c/a\u003e action.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "EventDestinationName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#EventDestinationName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name that identifies the event destination.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "KinesisFirehoseDestination": {
            "target": "com.amazonaws.pinpointsmsvoicev2#KinesisFirehoseDestination",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn object that contains information about an event destination for logging to Amazon Data Firehose.\u003c/p\u003e"
            }
          },
          "MatchingEventTypes": {
            "target": "com.amazonaws.pinpointsmsvoicev2#EventTypeList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of event types that determine which events to log. If \"ALL\" is used, then End User Messaging SMS logs every event type.\u003c/p\u003e \u003cnote\u003e \u003cp\u003eThe \u003ccode\u003eTEXT_SENT\u003c/code\u003e event type is not supported.\u003c/p\u003e \u003c/note\u003e",
              "smithy.api#required": {}
            }
          },
          "SnsDestination": {
            "target": "com.amazonaws.pinpointsmsvoicev2#SnsDestination",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn object that contains information about an event destination for logging to Amazon SNS.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationResult": {
        "type": "structure",
        "members": {
          "ConfigurationSetArn": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe ARN of the configuration set.\u003c/p\u003e"
            }
          },
          "ConfigurationSetName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the configuration set.\u003c/p\u003e"
            }
          },
          "EventDestination": {
            "target": "com.amazonaws.pinpointsmsvoicev2#EventDestination",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe details of the destination where events are logged.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateNotifyConfiguration": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateNotifyConfigurationRequest"
        },
        "output": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateNotifyConfigurationResult"
        },
        "errors": [
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a new notify configuration for managed messaging. A notify configuration defines the settings for sending templated messages, including the display name, use case, enabled channels, and enabled countries.\u003c/p\u003e",
          "smithy.api#examples": [
            {
              "title": "CreateNotifyConfiguration",
              "documentation": "Create a notify configuration for OTP code verification over SMS.",
              "input": {
                "DisplayName": "MyOTPConfig",
                "UseCase": "CODE_VERIFICATION",
                "EnabledChannels": [
                  "SMS"
                ],
                "EnabledCountries": [
                  "US",
                  "CA"
                ],
                "DeletionProtectionEnabled": false,
                "Tags": [
                  {
                    "Key": "Environment",
                    "Value": "Production"
                  }
                ]
              },
              "output": {
                "NotifyConfigurationArn": "arn:aws:sms-voice:us-east-1:111122223333:notify-configuration/nc-1234567890abcdef0",
                "NotifyConfigurationId": "nc-1234567890abcdef0",
                "DisplayName": "MyOTPConfig",
                "UseCase": "CODE_VERIFICATION",
                "EnabledChannels": [
                  "SMS"
                ],
                "EnabledCountries": [
                  "US",
                  "CA"
                ],
                "Tier": "BASIC",
                "TierUpgradeStatus": "BASIC",
                "Status": "ACTIVE",
                "DeletionProtectionEnabled": false,
                "Tags": [
                  {
                    "Key": "Environment",
                    "Value": "Production"
                  }
                ],
                "CreatedTimestamp": 1704067200
              }
            }
          ]
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateNotifyConfigurationRequest": {
        "type": "structure",
        "members": {
          "ClientToken": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUnique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.\u003c/p\u003e",
              "smithy.api#idempotencyToken": {}
            }
          },
          "DefaultTemplateId": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyTemplateId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe default template identifier to associate with the notify configuration. If specified, this template is used when sending messages without an explicit template identifier.\u003c/p\u003e"
            }
          },
          "DeletionProtectionEnabled": {
            "target": "smithy.api#Boolean",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eBy default this is set to false. When set to true the notify configuration can't be deleted. You can change this value using the \u003ca\u003eUpdateNotifyConfiguration\u003c/a\u003e action.\u003c/p\u003e"
            }
          },
          "DisplayName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyConfigurationDisplayName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe display name to associate with the notify configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "EnabledChannels": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyEnabledChannelsList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of channels to enable for the notify configuration. Supported values include \u003ccode\u003eSMS\u003c/code\u003e and \u003ccode\u003eVOICE\u003c/code\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "EnabledCountries": {
            "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCodeList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of two-character ISO country codes, in ISO 3166-1 alpha-2 format, that are enabled for the notify configuration.\u003c/p\u003e"
            }
          },
          "PoolId": {
            "target": "com.amazonaws.pinpointsmsvoicev2#PoolIdOrArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the pool to associate with the notify configuration.\u003c/p\u003e"
            }
          },
          "Tags": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of tags (key and value pairs) associated with the notify configuration.\u003c/p\u003e"
            }
          },
          "UseCase": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyConfigurationUseCase",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe use case for the notify configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateNotifyConfigurationResult": {
        "type": "structure",
        "members": {
          "CreatedTimestamp": {
            "target": "smithy.api#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe time when the notify configuration was created, in \u003ca href=\"https://www.epochconverter.com/\"\u003eUNIX epoch time\u003c/a\u003e format.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "DefaultTemplateId": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyTemplateId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe default template identifier associated with the notify configuration.\u003c/p\u003e"
            }
          },
          "DeletionProtectionEnabled": {
            "target": "smithy.api#PrimitiveBoolean",
            "traits": {
              "smithy.api#default": false,
              "smithy.api#documentation": "\u003cp\u003eWhen set to true deletion protection is enabled. By default this is set to false. \u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "DisplayName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyConfigurationDisplayName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe display name associated with the notify configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "EnabledChannels": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyEnabledChannelsList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of channels enabled for the notify configuration. Supported values include \u003ccode\u003eSMS\u003c/code\u003e and \u003ccode\u003eVOICE\u003c/code\u003e.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "EnabledCountries": {
            "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCodeList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of two-character ISO country codes, in ISO 3166-1 alpha-2 format, that are enabled for the notify configuration.\u003c/p\u003e"
            }
          },
          "NotifyConfigurationArn": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyConfigurationArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) for the notify configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "NotifyConfigurationId": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyConfigurationId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe unique identifier for the notify configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "PoolId": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe identifier of the pool associated with the notify configuration.\u003c/p\u003e"
            }
          },
          "RejectionReason": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe reason the notify configuration was rejected, if applicable.\u003c/p\u003e"
            }
          },
          "Status": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyConfigurationStatus",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe current status of the notify configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Tags": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of tags (key and value pairs) associated with the notify configuration.\u003c/p\u003e"
            }
          },
          "Tier": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyConfigurationTier",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe tier of the notify configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "TierUpgradeStatus": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TierUpgradeStatus",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe tier upgrade status of the notify configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "UseCase": {
            "target": "com.amazonaws.pinpointsmsvoicev2#NotifyConfigurationUseCase",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe use case for the notify configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateOptOutList": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListRequest"
        },
        "output": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListResult"
        },
        "errors": [
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a new opt-out list.\u003c/p\u003e \u003cp\u003eIf the opt-out list name already exists, an error is returned.\u003c/p\u003e \u003cp\u003eAn opt-out list is a list of phone numbers that are opted out, meaning you can't send SMS or voice messages to them. If end user replies with the keyword \"STOP,\" an entry for the phone number is added to the opt-out list. In addition to STOP, your recipients can use any supported opt-out keyword, such as CANCEL or OPTOUT. For a list of supported opt-out keywords, see \u003ca href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-sms-manage.html#channels-sms-manage-optout\"\u003e SMS opt out \u003c/a\u003e in the End User Messaging SMS User Guide.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListRequest": {
        "type": "structure",
        "members": {
          "ClientToken": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUnique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.\u003c/p\u003e",
              "smithy.api#idempotencyToken": {}
            }
          },
          "OptOutListName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the new OptOutList.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Tags": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of tags (key and value pairs) to associate with the new OptOutList.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListResult": {
        "type": "structure",
        "members": {
          "CreatedTimestamp": {
            "target": "smithy.api#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe time when the pool was created, in \u003ca href=\"https://www.epochconverter.com/\"\u003eUNIX epoch time\u003c/a\u003e format.\u003c/p\u003e"
            }
          },
          "OptOutListArn": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) for the OptOutList.\u003c/p\u003e"
            }
          },
          "OptOutListName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the new OptOutList.\u003c/p\u003e"
            }
          },
          "Tags": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of tags (key and value pairs) associated with the new OptOutList.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreatePool": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreatePoolRequest"
        },
        "output": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreatePoolResult"
        },
        "errors": [
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a new pool and associates the specified origination identity to the pool. A pool can include one or more phone numbers and SenderIds that are associated with your Amazon Web Services account.\u003c/p\u003e \u003cp\u003eThe new pool inherits its configuration from the specified origination identity. This includes keywords, message type, opt-out list, two-way configuration, and self-managed opt-out configuration. Deletion protection isn't inherited from the origination identity and defaults to false.\u003c/p\u003e \u003cp\u003eIf the origination identity is a phone number and is already associated with another pool, an error is returned. A sender ID can be associated with multiple pools.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreatePoolRequest": {
        "type": "structure",
        "members": {
          "ClientToken": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUnique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.\u003c/p\u003e",
              "smithy.api#idempotencyToken": {}
            }
          },
          "DeletionProtectionEnabled": {
            "target": "smithy.api#Boolean",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eBy default this is set to false. When set to true the pool can't be deleted. You can change this value using the \u003ca href=\"https://docs.aws.amazon.com/pinpoint/latest/apireference_smsvoicev2/API_UpdatePool.html\"\u003eUpdatePool\u003c/a\u003e action.\u003c/p\u003e"
            }
          },
          "IsoCountryCode": {
            "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe new two-character code, in ISO 3166-1 alpha-2 format, for the country or region of the new pool. This field is optional and is not required for origination identity types that are not country-specific, such as RCS agents.\u003c/p\u003e"
            }
          },
          "MessageType": {
            "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe type of message. Valid values are TRANSACTIONAL for messages that are critical or time-sensitive and PROMOTIONAL for messages that aren't critical or time-sensitive. After the pool is created the MessageType can't be changed.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "OriginationIdentity": {
            "target": "com.amazonaws.pinpointsmsvoicev2#PhoneOrSenderIdOrArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe origination identity to use such as a PhoneNumberId, PhoneNumberArn, SenderId or SenderIdArn. You can use \u003ca href=\"https://docs.aws.amazon.com/pinpoint/latest/apireference_smsvoicev2/API_DescribePhoneNumbers.html\"\u003eDescribePhoneNumbers\u003c/a\u003e to find the values for PhoneNumberId and PhoneNumberArn, and use \u003ca href=\"https://docs.aws.amazon.com/pinpoint/latest/apireference_smsvoicev2/API_DescribeSenderIds.html\"\u003eDescribeSenderIds\u003c/a\u003e can be used to get the values for SenderId and SenderIdArn.\u003c/p\u003e \u003cp\u003eAfter the pool is created you can add more origination identities to the pool by using \u003ca href=\"https://docs.aws.amazon.com/pinpoint/latest/apireference_smsvoicev2/API_AssociateOriginationIdentity.html\"\u003eAssociateOriginationIdentity\u003c/a\u003e.\u003c/p\u003e \u003cimportant\u003e \u003cp\u003eIf you are using a shared End User Messaging SMS resource then you must use the full Amazon Resource Name(ARN).\u003c/p\u003e \u003c/important\u003e",
              "smithy.api#required": {}
            }
          },
          "Tags": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of tags (key and value pairs) associated with the pool.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreatePoolResult": {
        "type": "structure",
        "members": {
          "CreatedTimestamp": {
            "target": "smithy.api#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe time when the pool was created, in \u003ca href=\"https://www.epochconverter.com/\"\u003eUNIX epoch time\u003c/a\u003e format.\u003c/p\u003e"
            }
          },
          "DeletionProtectionEnabled": {
            "target": "smithy.api#PrimitiveBoolean",
            "traits": {
              "smithy.api#default": false,
              "smithy.api#documentation": "\u003cp\u003eWhen set to true deletion protection is enabled. By default this is set to false. \u003c/p\u003e"
            }
          },
          "MessageType": {
            "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe type of message for the pool to use.\u003c/p\u003e"
            }
          },
          "OptOutListName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe name of the OptOutList associated with the pool.\u003c/p\u003e"
            }
          },
          "PoolArn": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) for the pool.\u003c/p\u003e"
            }
          },
          "PoolId": {
            "target": "smithy.api#String",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe unique identifier for the pool.\u003c/p\u003e"
            }
          },
          "SelfManagedOptOutsEnabled": {
            "target": "smithy.api#PrimitiveBoolean",
            "traits": {
              "smithy.api#default": false,
              "smithy.api#documentation": "\u003cp\u003eBy default this is set to false. When set to false, and an end recipient sends a message that begins with HELP or STOP to one of your dedicated numbers, End User Messaging SMS automatically replies with a customizable message and adds the end recipient to the OptOutList. When set to true you're responsible for responding to HELP and STOP requests. You're also responsible for tracking and honoring opt-out requests.\u003c/p\u003e"
            }
          },
          "SharedRoutesEnabled": {
            "target": "smithy.api#PrimitiveBoolean",
            "traits": {
              "smithy.api#default": false,
              "smithy.api#documentation": "\u003cp\u003eIndicates whether shared routes are enabled for the pool. Set to false and only origination identities in this pool are used to send messages. \u003c/p\u003e"
            }
          },
          "Status": {
            "target": "com.amazonaws.pinpointsmsvoicev2#PoolStatus",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe current status of the pool.\u003c/p\u003e \u003cul\u003e \u003cli\u003e \u003cp\u003eCREATING: The pool is currently being created and isn't yet available for use.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eACTIVE: The pool is active and available for use.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eDELETING: The pool is being deleted.\u003c/p\u003e \u003c/li\u003e \u003c/ul\u003e"
            }
          },
          "Tags": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of tags (key and value pairs) associated with the pool.\u003c/p\u003e"
            }
          },
          "TwoWayChannelArn": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TwoWayChannelArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the two way channel.\u003c/p\u003e"
            }
          },
          "TwoWayChannelRole": {
            "target": "com.amazonaws.pinpointsmsvoicev2#IamRoleArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn optional IAM Role Arn for a service to assume, to be able to post inbound SMS messages.\u003c/p\u003e"
            }
          },
          "TwoWayEnabled": {
            "target": "smithy.api#PrimitiveBoolean",
            "traits": {
              "smithy.api#default": false,
              "smithy.api#documentation": "\u003cp\u003eBy default this is set to false. When set to true you can receive incoming text messages from your end recipients.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateProtectConfiguration": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateProtectConfigurationRequest"
        },
        "output": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateProtectConfigurationResult"
        },
        "errors": [
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreate a new protect configuration. By default all country rule sets for each capability are set to \u003ccode\u003eALLOW\u003c/code\u003e. Update the country rule sets using \u003ccode\u003eUpdateProtectConfigurationCountryRuleSet\u003c/code\u003e. A protect configurations name is stored as a Tag with the key set to \u003ccode\u003eName\u003c/code\u003e and value as the name of the protect configuration.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateProtectConfigurationRequest": {
        "type": "structure",
        "members": {
          "ClientToken": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUnique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.\u003c/p\u003e",
              "smithy.api#idempotencyToken": {}
            }
          },
          "DeletionProtectionEnabled": {
            "target": "smithy.api#Boolean",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eWhen set to true deletion protection is enabled. By default this is set to false. \u003c/p\u003e"
            }
          },
          "Tags": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of key and value pair tags that are associated with the resource.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateProtectConfigurationResult": {
        "type": "structure",
        "members": {
          "AccountDefault": {
            "target": "smithy.api#PrimitiveBoolean",
            "traits": {
              "smithy.api#default": false,
              "smithy.api#documentation": "\u003cp\u003eThis is true if the protect configuration is set as your account default protect configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "CreatedTimestamp": {
            "target": "smithy.api#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe time when the protect configuration was created, in \u003ca href=\"https://www.epochconverter.com/\"\u003eUNIX epoch time\u003c/a\u003e format.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "DeletionProtectionEnabled": {
            "target": "smithy.api#PrimitiveBoolean",
            "traits": {
              "smithy.api#default": false,
              "smithy.api#documentation": "\u003cp\u003eWhen set to true deletion protection is enabled. By default this is set to false. \u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ProtectConfigurationArn": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe Amazon Resource Name (ARN) of the protect configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "ProtectConfigurationId": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationId",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe unique identifier for the protect configuration.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "Tags": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of key and value pair tags that are associated with the resource.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#output": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateRcsAgent": {
        "type": "operation",
        "input": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateRcsAgentRequest"
        },
        "output": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CreateRcsAgentResult"
        },
        "errors": [
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
          },
          {
            "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
          }
        ],
        "traits": {
          "smithy.api#documentation": "\u003cp\u003eCreates a new RCS agent for sending rich messages through the RCS channel. The RCS agent serves as an origination identity for sending RCS messages to your recipients.\u003c/p\u003e"
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateRcsAgentRequest": {
        "type": "structure",
        "members": {
          "ClientToken": {
            "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eUnique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.\u003c/p\u003e",
              "smithy.api#idempotencyToken": {}
            }
          },
          "DeletionProtectionEnabled": {
            "target": "smithy.api#Boolean",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eBy default this is set to false. When set to true the RCS agent can't be deleted. You can change this value using the \u003ca\u003eUpdateRcsAgent\u003c/a\u003e action.\u003c/p\u003e"
            }
          },
          "OptOutListName": {
            "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListNameOrArn",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe OptOutList to associate with the RCS agent. Valid values are either OptOutListName or OptOutListArn.\u003c/p\u003e"
            }
          },
          "Tags": {
            "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eAn array of tags (key and value pairs) associated with the RCS agent.\u003c/p\u003e"
            }
          }
        },
        "traits": {
          "smithy.api#input": {}
        }
      },
      "com.amazonaws.pinpointsmsvoicev2#CreateRcsAgentResult": {
        "type": "structure",
        "members": {
          "CreatedTimestamp": {
            "target": "smithy.api#Timestamp",
            "traits": {
              "smithy.api#documentation": "\u003cp\u003eThe time when the RCS agent was created, in \u003ca href=\"https://www.epochconverter.com/\"\u003eUNIX epoch time\u003c/a\u003e format.\u003c/p\u003e",
              "smithy.api#required": {}
            }
          },
          "DeletionProtectionEnabled": {
[...]
